.componentsHero {
  padding: 0;
  margin-bottom: calc( var(--ifm-spacing-vertical) * 1 );
  overflow: hidden;
}

.componentsHero canvas {

}

.componentsHeroOverlay {
  margin-top: -250px;
  margin-bottom: 50px;
}