.integrations g.item circle {
  fill: var(--ifm-background-color);
  stroke: var(--ifm-heading-color);
}

.integrations g.item text {
  fill: var(--ifm-color-content);
}

.integrations g.item.large circle {
  stroke: var(--ifm-panel-border-color-active);
}

.integrations g.item.large text {
  fill: var(--ifm-color-primary);
}

.integrations g.item:hover circle {
  fill: var(--ifm-panel-background-color-active);
  stroke: var(--ifm-panel-border-color-active);
}

.integrations g.item:hover text {
  fill: var(--ifm-color-primary);
}

/*
 * Configuration Section
 */

.configuration__diagram svg {
  margin-left: -4%;
  margin-bottom: var(--ifm-spacing-vertical);
  width: calc( 100% + 4% );
  height: 100%;
}

.configuration__diagram svg #config-file-bg {
  fill: var(--ifm-panel-background-color);
  stroke: var(--ifm-panel-border-color);
}

@media (max-width: 996px) {
  .configuration__diagram {
    margin: 0 auto;
    overflow: hidden;
    max-width: 500px;
  }
  .configuration__diagram svg {
    padding-left: 20px;
    width: 235%;
  }
  .configuration__diagram svg #Line-6,
  .configuration__diagram svg .config-section-description {
    display: none;
  }
}
