{{ define "main" }}
{{ partial "home/hero.html" . }}
<hr class="border-gray-100 dark:border-gray-700" />
{{ partial "home/what.html" . }}
<hr class="border-gray-100 dark:border-gray-700" />
{{ partial "home/why-vector.html" . }}
<hr class="border-gray-100 dark:border-gray-700" />
{{ partial "home/platform.html" . }}
<hr class="border-gray-100 dark:border-gray-700" />
{{ partial "home/configure.html" . }}
<hr class="border-gray-100 dark:border-gray-700" />
{{ partial "home/installation.html" . }}
<hr class="border-gray-100 dark:border-gray-700" />
{{ partial "home/components.html" . }}
<hr class="border-gray-100 dark:border-gray-700" />
{{ partial "home/community.html" . }}
{{ end }}