.avatar .avatar__name {
  font-size: var(--ifm-h4-font-size);
  font-weight: bold;
  line-height: 1;
  margin: 0;
}

.avatar.avatar--sm .avatar__intro {
  --ifm-avatar-intro-left-margin: 0.75em;
  font-size: 0.8em;
}

.avatar.avatar--sm .avatar__subtitle {
  font-size: 1em;
  margin-top: 1px;
}
