# Send structured data to a short-term storage
inputs       = ["apache_sample"]            # only take sampled data
type         = "elasticsearch"
host         = "http://79.12.221.222:9200"   # local or external host
index        = "vector-%Y-%m-%d"             # daily indices


