# https://help.github.com/articles/about-codeowners/
#
# This file is sorted alpgabetically by the path

#
# Root
#

/*.md @timberio/vector-admin
/.* @timberio/vector-support
/.graphqlconfig @timberio/vector-enterprise
/build.rs @timberio/vector-core @timberio/vector-support
/Cargo* @timberio/vector-support
/CONTRIBUTING.md @timberio/vector-admin @timberio/vector-core @timberio/vector-support
/Cross.toml @timberio/vector-releasing
/deny.toml @timberio/vector-support
/kustomization.yaml @timberio/vector-kubernetes
/LICENSE @timberio/vector-admin
/Makefile @timberio/vector-support
/NOTICE @timberio/vector-admin @timberio/vector-support
/RELEASING.md @timberio/vector-releasing
/rust-toolchain @timberio/vector-core @timberio/vector-support
/skaffold.yaml @timberio/vector-kubernetes

#
# .github
#

/.github/**/* @timberio/vector-admin @timberio/vector-support
/.github/ISSUE_TEMPLATE/ @timberio/vector-admin
/.github/workflows/ @timberio/vector-support @timberio/vector-releasing
/.github/workflows/**/k8s* @timberio/vector-kubernetes

#
# docs
#

/docs/reference/components/sinks.cue @timberio/vector-integrations
/docs/reference/components/sinks/ @timberio/vector-integrations
/docs/reference/components/sinks/aws* @timberio/vector-aws
/docs/reference/components/sinks/datadog* @timberio/vector-core @timberio/vector-integrations
/docs/reference/components/sinks/gcp* @timberio/vector-gcp
/docs/reference/components/sinks/http.cue @timberio/vector-core @timberio/vector-integrations
/docs/reference/components/sinks/kubernetes* @timberio/vector-kubernetes
/docs/reference/components/sinks/socket.cue @timberio/vector-core @timberio/vector-integrations
/docs/reference/components/sinks/vector.cue @timberio/vector-core @timberio/vector-integrations

/docs/reference/components/sources.cue @timberio/vector-integrations
/docs/reference/components/sources/ @timberio/vector-integrations
/docs/reference/components/sources/aws* @timberio/vector-aws
/docs/reference/components/sources/datadog* @timberio/vector-core @timberio/vector-integrations
/docs/reference/components/sources/gcp* @timberio/vector-gcp
/docs/reference/components/sources/host* @timberio/vector-core @timberio/vector-integrations
/docs/reference/components/sources/http.cue @timberio/vector-core @timberio/vector-integrations
/docs/reference/components/sources/internal_* @timberio/vector-core @timberio/vector-integrations
/docs/reference/components/sources/kubernetes* @timberio/vector-kubernetes
/docs/reference/components/sources/socket.cue @timberio/vector-core @timberio/vector-integrations
/docs/reference/components/sources/vector.cue @timberio/vector-core @timberio/vector-integrations

/docs/reference/components/transforms.cue @timberio/vector-processing
/docs/reference/components/transforms/* @timberio/vector-processing
/docs/reference/components/transforms/aws* @timberio/vector-aws
/docs/reference/components/transforms/gcp* @timberio/vector-gcp
/docs/reference/components/transforms/kubernetes* @timberio/vector-kubernetes

/docs/reference/data_model.cue @timberio/vector-core @timberio/vector-processing
/docs/reference/data_model/ @timberio/vector-core @timberio/vector-processing

/docs/reference/installation.cue @timberio/vector-integrations
/docs/reference/installation/ @timberio/vector-integrations
/docs/reference/installation/**/kubectl* @timberio/vector-kubernetes
/docs/reference/installation/**/helm* @timberio/vector-kubernetes
/docs/reference/installation/**/kubernetes* @timberio/vector-kubernetes

/docs/reference/releases.cue @timberio/vector-releasing
/docs/reference/releases/ @timberio/vector-releasing

/docs/reference/remap.cue @timberio/vector-processing
/docs/reference/remap/ @timberio/vector-processing

#
# distribution
#

/distribution/ @timberio/vector-releasing
/distribution/docker* @timberio/vector-kubernetes @timberio/vector-releasing
/distribution/helm* @timberio/vector-kubernetes @timberio/vector-releasing
/distribution/kubernetes* @timberio/vector-kubernetes @timberio/vector-releasing

#
# lib
#

/lib/ @timberio/vector-support
/lib/file-source/ @timberio/vector-core
/lib/k8s-*/ @timberio/vector-kubernetes
/lib/prometheus-parser/ @timberio/vector-integrations
/lib/remap-*/ @timberio/vector-processing
/lib/vector-api-*/ @timberio/vector-enterprise

#
# proto
#

/proto/ @timberio/vector-core

#
# skaffold
#

/skaffold/ @timberio/vector-kubernetes

#
# scripts
#

/scripts/ @timberio/vector-releasing @timberio/vector-support
/scripts/docker* @timberio/vector-kubernetes
/scripts/*helm* @timberio/vector-kubernetes
/scripts/*kubernetes* @timberio/vector-kubernetes
/scripts/*minikube* @timberio/vector-kubernetes

#
# Src
#

/src/* @timberio/vector-core
/src/api/ @timberio/vector-enterprise
/src/buffers/ @timberio/vector-core
/src/conditions/ @timberio/vector-processing
/src/config/ @timberio/vector-core
/src/event/ @timberio/vector-core @timberio/vector-processing
/src/generate.rs @timberio/vector-support
/src/internal_events/adaptive_concurrency* @timberio/vector-core
/src/internal_events/apache_* @timberio/vector-integrations
/src/internal_events/api* @timberio/vector-enterprise
/src/internal_events/aws* @timberio/vector-aws
/src/internal_events/blackhole.rs @timberio/vector-support
/src/internal_events/console.rs @timberio/vector-integrations
/src/internal_events/datadog* @timberio/vector-core @timberio/vector-integrations
/src/internal_events/dedupe.rs @timberio/vector-processing
/src/internal_events/docker* @timberio/vector-integrations
/src/internal_events/elasticsearch.rs @timberio/vector-integrations
/src/internal_events/gcp* @timberio/vector-gcp
/src/internal_events/file.rs @timberio/vector-core @timberio/vector-integrations
/src/internal_events/filter.rs @timberio/vector-processing
/src/internal_events/generator.rs @timberio/vector-support
/src/internal_events/geoip.rs @timberio/vector-processing
/src/internal_events/heartbeat.rs @timberio/vector-core
/src/internal_events/host_*.rs @timberio/vector-integrations
/src/internal_events/http* @timberio/vector-core @timberio/vector-integrations
/src/internal_events/journald.rs @timberio/vector-integrations
/src/internal_events/kafka.rs @timberio/vector-integrations
/src/internal_events/kubernetes* @timberio/vector-kubernetes
/src/internal_events/log_to_metric.rs @timberio/vector-processing
/src/internal_events/logplex.rs @timberio/vector-integrations
/src/internal_events/lua.rs @timberio/vector-processing
/src/internal_events/metric_to_log.rs @timberio/vector-processing
/src/internal_events/mod.rs @timberio/vector-core
/src/internal_events/mongodb_*.rs @timberio/vector-integrations
/src/internal_events/nats.rs @timberio/vector-integrations
/src/internal_events/nginx_*.rs @timberio/vector-integrations
/src/internal_events/postgresql_*.rs @timberio/vector-integrations
/src/internal_events/process.rs @timberio/vector-core
/src/internal_events/prometheus.rs @timberio/vector-integrations
/src/internal_events/pulsar.rs @timberio/vector-integrations
/src/internal_events/reduce.rs @timberio/vector-processing
/src/internal_events/remap.rs @timberio/vector-processing
/src/internal_events/route.rs @timberio/vector-processing
/src/internal_events/sample.rs @timberio/vector-processing
/src/internal_events/sematext_*.rs @timberio/vector-core @timberio/vector-integrations
/src/internal_events/socket.rs @timberio/vector-core @timberio/vector-integrations
/src/internal_events/splunk_*.rs @timberio/vector-integrations
/src/internal_events/statsd_*.rs @timberio/vector-integrations
/src/internal_events/stdin.rs @timberio/vector-integrations
/src/internal_events/syslog.rs @timberio/vector-integrations
/src/internal_events/tcp.rs @timberio/vector-core @timberio/vector-integrations
/src/internal_events/topology.rs @timberio/vector-core
/src/internal_events/udp.rs @timberio/vector-core @timberio/vector-integrations
/src/internal_events/unix.rs @timberio/vector-core @timberio/vector-integrations
/src/internal_events/vector.rs @timberio/vector-core @timberio/vector-integrations
/src/internal_events/windows.rs @timberio/vector-integrations
/src/kafka.rs @timberio/vector-integrations
/src/kubernetes/ @timberio/vector-kubernetes
/src/mapping/ @timberio/vector-processing
/src/metrics.rs @timberio/vector-core @timberio/vector-processing
/src/prometheus.rs @timberio/vector-integrations
/src/rusoto/ @timberio/vector-aws
/src/sinks/ @timberio/vector-integrations
/src/sinks/aws* @timberio/vector-aws
/src/sinks/datadog* @timberio/vector-core
/src/sinks/gcp* @timberio/vector-gcp
/src/sinks/http* @timberio/vector-core @timberio/vector-integrations
/src/sinks/kubernetes* @timberio/vector-kubernetes
/src/sinks/socket* @timberio/vector-core @timberio/vector-integrations
/src/sinks/vector* @timberio/vector-core @timberio/vector-integrations
/src/sinks/util/ @timberio/vector-core @timberio/vector-integrations
/src/sources/ @timberio/vector-integrations
/src/sources/aws* @timberio/vector-aws
/src/sources/datadog* @timberio/vector-core
/src/sources/gcp* @timberio/vector-gcp
/src/sources/http* @timberio/vector-core @timberio/vector-integrations
/src/sources/kubernetes* @timberio/vector-core @timberio/vector-kubernetes
/src/sources/socket* @timberio/vector-core @timberio/vector-integrations
/src/sources/vector* @timberio/vector-core @timberio/vector-integrations
/src/sources/util/ @timberio/vector-core @timberio/vector-integrations
/src/test_util/ @timberio/vector-support
/src/tls/ @timberio/vector-core @timberio/vector-integrations
/src/top/ @timberio/vector-enterprise
/src/topology/ @timberio/vector-core
/src/transforms/ @timberio/vector-processing
/src/transforms/aws* @timberio/vector-aws
/src/transforms/datadog* @timberio/vector-core
/src/transforms/gcp* @timberio/vector-gcp
/src/transforms/kubernetes* @timberio/vector-core @timberio/vector-kubernetes

#
# tests
#

/tests/ @timberio/vector-core
/tests/behavior @timberio/vector-processing
/tests/helm* @timberio/vector-kubernetes
