src/sinks/ @vectordotdev/integrations-team
src/sinks/amqp/ @StephenWakely
src/sinks/apex/ @neuronull
src/sinks/aws_cloudwatch_logs/ @spencergilbert
src/sinks/aws_cloudwatch_metrics/ @spencergilbert
src/sinks/aws_kinesis/ @spencergilbert
src/sinks/aws_s3/ @spencergilbert
src/sinks/aws_sqs/ @spencergilbert
src/sinks/axiom.rs @spencergilbert
src/sinks/azure_blob/ @davidhuie-dd
src/sinks/azure_monitor_logs.rs @davidhuie-dd
src/sinks/blackhole/ @davidhuie-dd
src/sinks/clickhouse/ @davidhuie-dd
src/sinks/console/ @davidhuie-dd
src/sinks/datadog_archives.rs @neuronull
src/sinks/datadog_events/ @neuronull
src/sinks/datadog_logs/ @neuronull
src/sinks/datadog_metrics/ @neuronull
src/sinks/datadog_traces/ @neuronull
src/sinks/elasticsearch/ @spencergilbert
src/sinks/file/ @spencergilbert
src/sinks/gcp/ @StephenWakely
src/sinks/gcs_common/ @StephenWakely
src/sinks/honeycomb.rs @spencergilbert
src/sinks/http.rs @neuronull
src/sinks/humio/ @StephenWakely
src/sinks/influxdb/ @davidhuie-dd
src/sinks/kafka/ @davidhuie-dd
src/sinks/logdna.rs @neuronull
src/sinks/loki/ @spencergilbert
src/sinks/new_relic/ @davidhuie-dd
src/sinks/papertrail.rs @StephenWakely
src/sinks/prometheus/ @StephenWakely
src/sinks/pulsar.rs @davidhuie-dd
src/sinks/redis.rs @StephenWakely
src/sinks/sematext/ @spencergilbert
src/sinks/socket.rs @neuronull
src/sinks/splunk_hec/ @StephenWakely
src/sinks/statsd.rs @neuronull
src/sinks/vector/ @neuronull
src/sinks/websocket/ @neuronull

src/sources/ @vectordotdev/integrations-team
