* @vectordotdev/vector

.github/workflows/regression.yml @vectordotdev/vector @vectordotdev/single-machine-performance
regression/config.yaml @vectordotdev/vector @vectordotdev/single-machine-performance
docs/ @vectordotdev/ux-team @vectordotdev/documentation
website/ @vectordotdev/ux-team @vectordotdev/documentation
