version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "daily"
      time: "04:00" # UTC
    reviewers:
      - "timberio/vector-support"
    assignees:
      - "timberio/vector-support"
    labels:
      - "domain: deps"
    commit-message:
      prefix: "chore(deps)"
    open-pull-requests-limit: 10
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "domain: ci"
    commit-message:
      prefix: "chore(ci)"
