*.erb linguist-detectable=false
cue.mod/* linguist-detectable=false
distribution/* linguist-detectable=false
docs/* linguist-detectable=false
lib/* linguist-vendored
rfcs/* linguist-detectable=false
scripts/* linguist-detectable=false
soaks/* linguist-detectable=false
website/* linguist-detectable=false
Makefile linguist-detectable=false

distribution/helm/*/charts/*.tgz filter=lfs diff=lfs merge=lfs -text

lib/codecs/tests/data/** linguist-generated=true
tests/helm-snapshots/**/snapshot.yaml linguist-generated=true
