*.erb linguist-detectable=false
distribution/* linguist-detectable=false
lib/* linguist-vendored
scripts/* linguist-detectable=false
Makefile linguist-detectable=false

distribution/helm/*/charts/*.tgz filter=lfs diff=lfs merge=lfs -text
