[package]
name = "router"
version = "0.1.0"
authors = ["Luke Steensen <luke.steensen@gmail.com>"]
edition = "2018"

[dependencies]
fern = "0.5.6"
log = "0.4.5"
uuid = { version = "0.7.1", features = ["v4"] }
chrono = "0.4.6"
rand = "0.5.5"
regex = "1.0.5"
bytes = "0.4.10"
tokio = "0.1.11"
futures = "0.1.25"
tokio-fs = "0.1.4"
stream-cancel = "0.4.3"
prometheus = "0.4.2"
hyper = "0.12.18"
serde = { version = "1.0.80", features = ["derive"] }
serde_json = "1.0.33"
elastic_responses = "0.20.10"
tokio-retry = "0.2.0"
string_cache = "0.7.3"
hyper-tls = "0.3.1"
rusoto_core = "0.36.0"
rusoto_s3 = "0.36.0"
rusoto_logs = "0.36.0"
rusoto_credential = "0.15.0"
flate2 = "1.0.6"
clap = "2.32.0"
tokio-signal = "0.2.7"
indexmap = {version = "1.0.2", features = ["serde-1"]}
http = "0.1.14"
typetag = "0.1"
toml = "0.4"
cernan_file_source = { path = "cernan_file_source" }
syslog_rfc5424 = "0.6.1"
tokio-uds = "0.2.5"
derive_is_enum_variant = "0.1.1"
leveldb = "0.8.4"
db-key = "0.0.5"
tokio-threadpool = "0.1.8"
prost = "0.4.0"
prost-derive = "0.4.0"
prost-types = "0.4.0"
headers = "0.2.1"

[build-dependencies]
prost-build = "0.4.0"

[dev-dependencies]
approx = "0.3.0"
criterion = "0.2.5"
reqwest = "0.9.5"
tempfile = "3.0.6"
libc = "0.2.43"
walkdir = "2.2.7"

[[bench]]
name = "bench"
harness = false

[features]
"splunk-integration-tests" = []
"s3-integration-tests" = []
"cloudwatch-integration-tests" = []
