[package]
name = "vector"
version = "0.1.0"
authors = ["Luke Steensen <luke.steensen@gmail.com>"]
edition = "2018"
publish = false

[workspace]
members = [
  ".",
  "lib/file-source",
  "lib/trace-metrics",
  "lib/codec",
]

[dependencies]
# Internal libs
codec = { path = "lib/codec" }
file-source = { path = "lib/file-source" }
trace-metrics = { path = "lib/trace-metrics" }

# Tokio / Futures
futures = "0.1.25"
tokio = { version = "0.1.17", features = ["io", "uds", "tcp", "rt-full"]}
tokio-retry = "0.2.0"
tokio-signal = "0.2.7"
tokio-threadpool = "0.1.8"

# Tracing
tokio-trace = { git = "https://github.com/tokio-rs/tokio" }
tokio-trace-futures = { git = "https://github.com/tokio-rs/tokio-trace-nursery", rev = "722edd3" }
tokio-trace-fmt = { git = "https://github.com/tokio-rs/tokio-trace-nursery", rev = "722edd3" }
tokio-trace-env-logger = { git = "https://github.com/tokio-rs/tokio-trace-nursery", rev = "722edd3" }

# Metrics
hotmic = "0.8"

# Aws
rusoto_core = "0.37.0"
rusoto_s3 = "0.37.0"
rusoto_logs = "0.37.0"
rusoto_kinesis = "0.37.0"
rusoto_credential = "0.16.0"

# Tower
tower = { git = "https://github.com/tower-rs/tower" }

# Serde
serde = { version = "1.0.80", features = ["derive"] }
serde_json = "1.0.33"

# Prost
prost = "0.5"
prost-derive = "0.5"
prost-types = "0.5"

# External libs
uuid = { version = "0.7.1", features = ["v4"] }
chrono = "0.4.6"
rand = "0.5.5"
regex = "1.0.5"
bytes = { version = "0.4.10", features = ["serde"] }
stream-cancel = "0.4.3"
prometheus = "0.4.2"
hyper = "0.12.18"
hyper-tls = "0.3.1"
string_cache = "0.7.3"
flate2 = "1.0.6"
clap = "2.32.0"
indexmap = {version = "1.0.2", features = ["serde-1"]}
http = "0.1.14"
typetag = "0.1"
toml = "0.4"
syslog_rfc5424 = "0.6.1"
tokio-uds = "0.2.5"
derive_is_enum_variant = "0.1.1"
leveldb = { version = "0.8.4", optional = true }
db-key = "0.0.5"
headers = "0.2.1"
rdkafka = { version = "0.20.0", optional = true }
hostname = "0.1.5"
seahash = "3.0.6"

[build-dependencies]
prost-build = "0.4.0"

[dev-dependencies]
approx = "0.3.0"
criterion = "0.2.5"
reqwest = "0.9.5"
tempfile = "3.0.6"
libc = "0.2.43"
walkdir = "2.2.7"
elastic = { git = "https://github.com/elastic-rs/elastic" }
matches = "0.1.8"

[features]
"default" = ["rdkafka", "leveldb"]
"docker" = [
  "cloudwatch-integration-tests",
  "es-integration-tests",
  "kafka-integration-tests",
  "kinesis-integration-tests",
  "s3-integration-tests",
  "splunk-integration-tests",
]
"cloudwatch-integration-tests" = []
"es-integration-tests" = []
"kafka-integration-tests" = []
"kinesis-integration-tests" = []
"s3-integration-tests" = []
"splunk-integration-tests" = []

[[bench]]
name = "bench"
harness = false
