version: "3"
services:
    localstack:
      image: localstack/localstack
      ports:
        - "4568:4568"
      environment:
        SERVICES: kinesis
    minio:
      image: minio/minio
      ports:
        - "9000:9000"
      environment:
        MINIO_ACCESS_KEY: "test-access-key"
        MINIO_SECRET_KEY: "test-secret-key"
      command: server /tmp
    mockwatchlogs:
      image: luciofranco/mockwatchlogs:latest
      ports:
        - "6000:6000"
      environment:
        RUST_LOG: trace
    kafka:
      image: spotify/kafka
      ports:
        - "9092:9092"
        - "2181:2181"
      environment:
        ADVERTISED_HOST: localhost
        ADVERTISED_PORT: 9092
    splunk:
      image: timberio/splunk-hec-test:latest
      ports:
        - "8088:8088"
        - "8000:8000"
        - "8089:8089"
    elasticsearch:
      image: docker.elastic.co/elasticsearch/elasticsearch:6.6.2
      ports:
        - "9200:9200"
        - "9300:9300"
      environment:
        - discovery.type=single-node
