# Release Notes

<p align="center">
  <strong>
    Get notified of new releases and project updates! <a href="https://vector.dev/mailing_list/">Join our mailing list<a/>.
  </strong>
</p>

---

<%- metadata.releases_list.reverse.each do |release| -%>
* [**v<%= release.version %>**][urls.release_notes_<%= release.version %>] - <%= release.date %> - <%= release_summary(release) %>
<%- end -%>
