@media screen and (max-width: 997px) {
  .displayOnlyInLargeViewport {
    display: none !important;
  }
}

@media (max-width: 360px) {
  .hideLogoText {
    display: none;
  }
}

.navbarHideable {
  transition: top 0.2s ease-in-out;
}

.navbarHidden {
  top: calc(var(--ifm-navbar-height) * -1) !important;
}
