{{- $link := .Destination -}}
{{- $isRemote := strings.HasPrefix $link "http" -}}
{{- if not $isRemote -}}
{{- $url := urls.Parse .Destination -}}
{{- if $url.Path -}}
{{- $fragment := "" -}}
{{- with $url.Fragment -}}{{- $fragment = printf "#%s" . -}}{{ end -}}
{{- if .Page.GetPage $url.Path -}}{{- $link = printf "%s%s" (.Page.GetPage $url.Path).RelPermalink $fragment -}}{{- end -}}{{- end -}}
{{- end -}}
<a href="{{ $link | safeURL }}"{{ with .Title }} title="{{ . }}"{{ end }}{{ if $isRemote }} rel="noopener" target="_blank" class="inline-block"{{ end }}>
  {{- .Text | safeHTML -}}
</a>