/**
 * Root variables
 *
 * Override the default Infima variables here. These values cascade down to
 * the rest of the elements.
 */
:root {
  --ifm-background-color: white;
  --ifm-background-color-rgb: 255, 255, 255;
  --ifm-background-surface-color: var(--ifm-panel-background-color);
  --ifm-badge-border-radius: 0.25em;
  --ifm-badge-padding-horizontal: 0.75em;
  --ifm-badge-padding-vertical: 0.25em;
  --ifm-blockquote-color: var(--ifm-color-primary);
  --ifm-code-background: var(--ifm-color-emphasis-50);
  --ifm-code-font-size: 85%;
  --ifm-color-black: rgb(0, 27, 61);
  --ifm-color-black-rgb: 0, 27, 61;
  --ifm-color-blue: #438fff;
  --ifm-color-blue-rgb: 67, 143, 255;
  --ifm-color-content: var(--ifm-color-emphasis-800);
  --ifm-color-content-secondary: var(--ifm-color-emphasis-600);
  --ifm-color-danger: #ff1178;
  --ifm-color-danger-rgb: 255, 17, 120;
  --ifm-color-gray-25: rgba(0, 27, 61, 0.025);
  --ifm-color-gray-40: rgba(0, 27, 61, 0.04);
  --ifm-color-gray-50: rgba(0, 27, 61, 0.05);
  --ifm-color-gray-75: rgba(0, 27, 61, 0.075);
  --ifm-color-gray-100: rgba(0, 27, 61, 0.1);
  --ifm-color-gray-150: rgba(0, 27, 61, 0.15);
  --ifm-color-gray-200: rgba(0, 27, 61, 0.2);
  --ifm-color-gray-300: rgba(0, 27, 61, 0.3);
  --ifm-color-gray-400: rgba(0, 27, 61, 0.4);
  --ifm-color-gray-500: rgba(0, 27, 61, 0.5);
  --ifm-color-gray-600: rgba(0, 27, 61, 0.6);
  --ifm-color-gray-700: rgba(0, 27, 61, 0.7);
  --ifm-color-gray-800: rgba(0, 27, 61, 0.8);
  --ifm-color-gray-900: rgba(0, 27, 61, 0.9);
  --ifm-color-emphasis-25: var(--ifm-color-gray-25);
  --ifm-color-emphasis-40: var(--ifm-color-gray-40);
  --ifm-color-emphasis-50: var(--ifm-color-gray-50);
  --ifm-color-emphasis-50-solid: #f2f3f5;
  --ifm-color-emphasis-75: var(--ifm-color-gray-75);
  --ifm-color-info: var(--ifm-color-primary);
  --ifm-color-info-rgb: var(--ifm-color-primary-rgb);
  --ifm-color-pink: #f44af5;
  --ifm-color-pink-rgb: 244, 74, 245;
  --ifm-color-primary: #28d9f2;
  --ifm-color-primary-rgb: 40, 217, 242;
  --ifm-color-primary-dark: #00c6dd;
  --ifm-color-purple: #9988ff;
  --ifm-color-purple-rgb: 153, 136, 255;
  --ifm-color-secondary: var(--ifm-color-emphasis-100);
  --ifm-color-success: #00d378;
  --ifm-color-success-rgb: 0, 255, 127;
  --ifm-color-warning-rgb: 255, 186, 0;
  --ifm-contents-border-color: var(--ifm-color-emphasis-75);
  --ifm-contents-padding-left: var(--ifm-spacing-horizontal);
  --ifm-font-family-base: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  --ifm-font-family-monospace: "Source Code Pro", Menlo, monospace;
  --ifm-font-family-serif: "Source Serif Pro", Constantia, Lucida Bright,
    Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif",
    "Liberation Serif", Georgia, serif;
  --ifm-font-size-base: 16px;
  --ifm-footer-background-color: var(--ifm-background-color);
  --ifm-footer-padding-vertical: calc(var(--ifm-spacing-vertical) * 4);
  --ifm-global-shadow-md: 0 3px 8px 0px var(--ifm-hr-border-color);
  --ifm-h2-font-size: 2em;
  --ifm-heading-color: #001b3d;
  --ifm-heading-font-family: Ubuntu, var(--ifm-font-family-base);
  --ifm-heading-margin-bottom: calc(var(--ifm-spacing-vertical) * 3);
  --ifm-hero-background-color: var(--ifm-background-color);
  --ifm-hero-text-color: var(--ifm-color-content);
  --ifm-highlight-gradient: linear-gradient(
    150deg,
    var(--ifm-color-primary) 5%,
    var(--ifm-color-blue) 40%,
    var(--ifm-color-pink) 90%
  );
  --ifm-highlight-gradient-20: linear-gradient(
    150deg,
    var(--ifm-color-primary) 5%,
    var(--ifm-color-blue) 95%
  );
  --ifm-hr-border-color: var(--ifm-contents-border-color);
  --ifm-leading: calc(var(--ifm-leading-desktop) * 1em);
  --ifm-line-height-base: 1.7;
  --ifm-link-color: var(--ifm-color-primary-dark);
  --ifm-menu-color: var(--ifm-color-emphasis-600);
  --ifm-menu-link-padding-vertical: 0.35em;
  --ifm-navbar-background-color: var(--ifm-background-color);
  --ifm-navbar-link-color: var(--ifm-heading-color);
  --ifm-navbar-logo-width: 155px;
  --ifm-panel-background-color: var(--ifm-background-color);
  --ifm-panel-background-color-rgb: 255, 255, 255;
  --ifm-panel-background-color-solid: #ffffff;
  --ifm-panel-background-color-active: rgba(var(--ifm-color-primary-rgb), 0.2);
  --ifm-panel-background-color-active-solid: #cbf9fe;
  --ifm-panel-border-color: var(--ifm-hr-border-color);
  --ifm-panel-border-color-active: var(--ifm-color-primary);
  --ifm-panel-box-shadow: 0 0px 10px 0px var(--ifm-color-emphasis-50);
  --ifm-panel-box-shadow-active: 0 0px 10px 0px
    rgba(var(--ifm-color-primary-rgb), 0.35);
  --ifm-panel-color: var(--ifm-color-emphasis-800);
  --ifm-panel-color-active: var(--ifm-link-color);
  --ifm-pre-line-height: var(--ifm-line-height-base);
  --ifm-sidebar-background: var(--ifm-background-color);
  --ifm-sidebar-border-color: var(--ifm-hr-border-color);
  --ifm-sidebar-width: 250px;
  --ifm-table-stripe-background: var(--ifm-table-background);
}

@keyframes gradientBG {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

/**
 * Base
 *
 * Base / foundational styling.
 */

html,
body {
  font-smoothing: antialiased;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media screen and (min-width: 996px) {
  html,
  body {
    text-rendering: optimizeLegibility;
  }
}

li + li {
  margin-top: 0;
}

.link {
  cursor: pointer;
}

.link:not(.badge) {
  color: var(--ifm-link-color);
}

.link:hover {
  text-decoration: underline;
}

.with-info-icon[title]:after {
  content: "ⓘ";
  display: inline-block;
  margin-left: 0.5em;
}

/**
 * a
 */

a.text--warning:hover {
  color: var(--ifm-color-warning);
}

a code {
  color: var(--ifm-link-color);
}

/**
 * article
 */

article header h1 {
  font-size: 2em;
}

/**
 * background
 */

.background--highlight {
  animation: gradientBG 5s ease-in infinite;
  background-image: var(--ifm-highlight-gradient);
  background-size: 150% 150%;
  color: var(--ifm-background-color);
}

/**
 * badge
 */

.badge {
  background-clip: padding-box;
  border-color: transparent;
  box-sizing: border-box;
}

.badge.badge--blue {
  --ifm-badge-background-color: rgba(var(--ifm-color-blue-rgb), 0.25);
  --ifm-badge-color: var(--ifm-color-blue);
}

.badge.badge--danger {
  --ifm-badge-background-color: rgba(var(--ifm-color-danger-rgb), 0.2);
  --ifm-badge-color: var(--ifm-color-danger);
}

.badge.badge--highlight {
  animation: gradientBG 5s ease-in infinite;
  background-image: var(--ifm-highlight-gradient);
  background-size: 150% 150%;
  color: var(--ifm-background-color);
}

.badge.badge--pink {
  --ifm-badge-background-color: rgba(var(--ifm-color-pink-rgb), 0.2);
  --ifm-badge-color: var(--ifm-color-pink);
}

.badge.badge--primary {
  --ifm-badge-background-color: rgba(var(--ifm-color-primary-rgb), 0.2);
  --ifm-badge-color: var(--ifm-color-primary);
}

.badge.badge--purple {
  --ifm-badge-background-color: rgba(var(--ifm-color-purple-rgb), 0.25);
  --ifm-badge-color: var(--ifm-color-purple);
}

.badge.badge--rounded {
  border-radius: 1em;
}

.badge.badge--secondary {
  --ifm-badge-background-color: var(--ifm-color-emphasis-75);
  --ifm-badge-color: var(--ifm-color-emphasis-400);
  color: var(--ifm-badge-color);
}

.badge.badge--success {
  --ifm-badge-background-color: rgba(var(--ifm-color-success-rgb), 0.5);
  --ifm-badge-color: var(--ifm-color-success);
}

.badge.badge--warning {
  --ifm-badge-background-color: rgba(var(--ifm-color-warning-rgb), 0.2);
  --ifm-badge-color: var(--ifm-color-warning);
}

.badge.badge--l {
  font-size: 1.2em;
}

.badge a {
  color: inherit;
}

a.badge:hover {
  color: var(--ifm-badge-color);
}

/**
 * avatar
 */

.avatar__name {
  color: inherit;
}

/**
 * blockquote
 */

blockquote {
  background: var(--ifm-color-emphasis-50);
  border-left: 5px solid var(--ifm-hr-border-color);
  color: var(--ifm-heading-color);
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: calc(var(--ifm-spacing-vertical) * 2);
  padding: 1.5em;
}

blockquote.blockquote--primary {
  background: rgba(var(--ifm-color-primary-rgb), 0.25);
  border-left-color: var(--ifm-color-primary);
  font-weight: 600;
}

blockquote > p {
  margin-bottom: 0;
}

blockquote > footer {
  font-style: italic;
  font-weight: normal;
}

/**
 * button
 */

.button {
  font-size: calc(0.875em * var(--ifm-button-size-multiplier));
}

.button.button--primary {
  --ifm-button-color: var(--ifm-background-color);
}

.button.button--highlight {
  animation: gradientBG 5s ease-in infinite;
  background-image: var(--ifm-highlight-gradient);
  background-size: 150% 150%;
  color: var(--ifm-background-color);
}

/**
 * col
 *
 * Custom column widths
 */

.col.col--2-5 {
  --ifm-col-width: calc(2.5 / 12 * 100%);
}

.col.col--7-2 {
  --ifm-col-width: calc(7.1 / 12 * 100%);
}

.col.col--7-5 {
  --ifm-col-width: calc(7.5 / 12 * 100%);
}

/**
 * comparison
 *
 * Comparison table used in both the performance and correctness tables.
 */

table.comparison {
  width: 100%;
}

table.comparison [title],
table.comparison [title] {
  text-decoration: underline;
  text-decoration-style: dotted;
}

table.comparison th,
table.comparison td,
table.comparison tr {
  border: 0px none;
  white-space: nowrap;
}

table.comparison th {
  padding-left: 0;
  padding-right: 0;
}

table.comparison tr th.vector {
  color: var(--ifm-color-primary);
}

table.comparison tr td {
  border-left: 10px solid var(--ifm-background-color);
  min-width: 90px;
  text-align: center;
}

table.comparison tr td:first-child {
  font-weight: bold;
  padding-left: 0;
  text-align: left;
  white-space: nowrap;
  width: 25%;
}

table.comparison tr td.description {
  font-weight: normal;
  min-width: 250px;
  padding-top: 0;
  vertical-align: top;
  white-space: normal;
}

table.comparison tr td.description .label {
  color: var(--ifm-heading-color);
  font-weight: bold;
}

table.comparison tr td.description .text {
  color: var(--ifm-color-emphasis-600);
}

table.comparison tr td.description .links {
  font-size: 0.9em;
  margin-top: var(--ifm-spacing-vertical);
}

table.comparison tr td.result {
  background-color: var(--ifm-panel-background-color);
}

table.comparison tr:hover td.row-label,
table.comparison tr:hover td.result {
  background: var(--ifm-color-emphasis-25);
}

table.comparison tr td.result.failed {
  color: var(--ifm-color-danger);
}

table.comparison tr td.result.lost {
  background: var(--ifm-color-emphasis-1000);
  color: var(--ifm-background-color);
}

table.comparison tr td.result.not-applicable {
  background: var(--ifm-color-emphasis-1000);
  color: rgba(var(--ifm-background-color-rgb), 0.5);
}

table.comparison tr td.result.passed {
  color: var(--ifm-color-primary);
}

table.comparison tr td.result.warning {
  color: var(--ifm-color-warning);
}

table.comparison tr td.result.passed.vector {
  background: var(--ifm-color-primary);
  color: var(--ifm-background-color);
}

table.comparison tr:hover td.result.passed.vector {
  background: rgba(var(--ifm-color-primary-rgb), 0.8);
}

table.comparison tr td.bar {
  padding: 0;
  vertical-align: bottom;
}

table.comparison tr td.bar:hover {
  background-color: var(--ifm-panel-background-color);
}

table.comparison tr td.bar .place {
  font-size: 0.9em;
}

table.comparison tr td.bar .measurement {
  font-weight: bold;
}

table.comparison tr td.bar .bar {
  background: var(--ifm-color-emphasis-1000);
  margin: 0 auto;
}

table.comparison tr td.bar.vector {
  color: var(--ifm-color-primary);
}

table.comparison tr td.bar.vector .bar {
  background: var(--ifm-color-primary);
}

@media (max-width: 996px) {
  table.comparison td.description {
    display: none;
  }
}

/**
 * component-icons
 *
 * Component icons used in the hero for each component page and it's
 * combination.
 */

.component-icons {
  display: flex;
  margin: 0 auto var(--ifm-spacing-vertical) auto;
  max-height: 135px;
  max-width: 300px;
}

.component-icons > .icon {
  background-color: rgba(
    var(--ifm-panel-background-color-rgb),
    0.75
  ) !important;
  border-radius: 2rem !important;
  color: var(--ifm-heading-color);
  flex: 1 1;
  height: 125px;
  margin-right: var(--ifm-spacing-vertical);
  padding: 1.5em;
  white-space: pre-line;
}

.component-icons > .icon:last-child {
  margin-right: 0;
}

.component-icons > .icon svg {
  height: 100%;
  width: 100%;
}

.component-icons > .icon i.feather {
  font-size: 4.5em !important;
}

/**
 * connected-list
 *
 * A connected list is like any other list except that it has a left border
 * that appears to connect the items.
 */

ul.connected-list {
  --ifm-list-padding-left: 0.65em;
  --ifm-list-item-padding-left: var(--ifm-spacing-horizontal);
  border-left: 1px solid var(--ifm-hr-border-color);
  list-style-type: disc;
  margin-left: 0.25em;
  padding-left: var(--ifm-list-padding-left);
}

ul.connected-list ul {
  list-style-type: disc;
}

ul.connected-list > li {
  font-size: 0.95em;
  padding-bottom: calc(var(--ifm-spacing-vertical) / 1.5);
  padding-left: var(--ifm-list-item-padding-left);
}

ul.connected-list > li.header {
  background: var(--ifm-background-color);
  list-style: none;
  font-weight: bold;
  margin-top: calc(var(--ifm-spacing-vertical) * 3);
  margin-bottom: var(--ifm-spacing-vertical);
  margin-left: var(--ifm-list-item-padding-left);
  padding: calc(var(--ifm-spacing-vertical) / 1.5);
  text-transform: uppercase;
}

ul.connected-list > li.header:first-child {
  margin-top: 0;
}

ul.connected-list > li.header > h3 {
  margin: 0;
  text-transform: none;
}

ul.connected-list > li.header.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

ul.connected-list > li:last-child {
  padding-bottom: 0;
}

ul.connected-list > li > .badges {
  float: right;
  margin-top: -0.25em;
  text-align: right;
}

ul.connected-list > li > .badges .badge {
  font-size: 0.7em;
  margin-left: 3px;
}

ul.connected-list > li > .badges .badge:first-child {
  margin-left: 0;
}

ul.connected-list > li > h2,
ul.connected-list > li > h3,
ul.connected-list > li > h4,
ul.connected-list > li > h5,
ul.connected-list > li > h6 {
  margin-bottom: 1em;
}

ul.connected-list > li > h2 .hash-link,
ul.connected-list > li > h3 .hash-link,
ul.connected-list > li > h4 .hash-link,
ul.connected-list > li > h5 .hash-link,
ul.connected-list > li > h6 .hash-link {
  margin-left: calc(
    (var(--ifm-list-item-padding-left) * -1) - var(--ifm-list-padding-left) -
      1.1em
  ) !important;
  padding-right: 3em;
}

ul.connected-list > li:hover > h2 > .hash-link,
ul.connected-list > li:hover > h3 > .hash-link,
ul.connected-list > li:hover > h4 > .hash-link,
ul.connected-list > li:hover > h5 > .hash-link,
ul.connected-list > li:hover > h6 > .hash-link {
  opacity: 1;
}

ul.connected-list > li > .sub__title {
  margin-top: -0.4em;
  margin-bottom: 0.25em;
}

ul.connected-list > li ul.info {
  border-left: 1px solid var(--ifm-hr-border-color);
  color: var(--ifm-color-content-secondary);
  font-size: 0.9em;
  margin-bottom: calc(var(--ifm-spacing-vertical) / 2);
  margin-left: 0.25em;
  padding-left: 0.65em;
}

ul.connected-list > li ul.info > li.warning {
  color: var(--ifm-color-warning);
  font-weight: 600;
}

ul.connected-list > li ul.info .show-more {
  color: var(--ifm-color-primary);
  cursor: pointer;
}

ul.connected-list > li ul.info .examples {
  margin-top: 0.5em;
}

ul.connected-list > li p + ul.info {
  margin-top: calc(var(--ifm-spacing-horizontal) * -0.5);
}

/* connected-list--blend */

ul.connected-list.connected-list--blend > li h2,
ul.connected-list.connected-list--blend > li h3,
ul.connected-list.connected-list--blend > li h4 {
  color: var(--ifm-color-emphasis-700);
  font-size: 1em;
  font-weight: normal;
}

/* connected-list--clean */
ul.connected-list.connected-list--clean {
  border-left: 0px none;
  margin-left: 0;
  padding-left: 0;
}

ul.connected-list.connected-list--clean > li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

ul.connected-list.connected-list--clean > li > h2 .hash-link,
ul.connected-list.connected-list--clean > li > h3 .hash-link,
ul.connected-list.connected-list--clean > li > h4 .hash-link,
ul.connected-list.connected-list--clean > li > h5 .hash-link,
ul.connected-list.connected-list--clean > li > h6 .hash-link {
  margin-left: -1.1em !important;
}

/* connected-list--compact */

ul.connected-list.connected-list--compact > li:not(.header) {
  padding-top: calc(var(--ifm-spacing-vertical) / 4);
  padding-bottom: calc(var(--ifm-spacing-vertical) / 4);
}

ul.connected-list.connected-list--compact > li h2,
ul.connected-list.connected-list--compact > li h3,
ul.connected-list.connected-list--compact > li h4 {
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul.connected-list.connected-list--compact > li:last-child > h4 {
  margin-bottom: var(--ifm-spacing-vertical);
}

/* connected-list--timeline */

ul.connected-list.connected-list--timeline {
  --time-width: 110px;
}

ul.connected-list.connected-list--timeline > li > a.panel {
  margin-bottom: 0;
}

ul.connected-list.connected-list--timeline > li > a.panel > article {
  position: relative;
}

@media (min-width: 997px) {
  ul.connected-list.connected-list--timeline > li > a.panel span.time {
    --left: calc(
      (var(--ifm-spacing-horizontal) * -2) - var(--time-width) -
        var(--ifm-list-item-padding-left) - var(--ifm-list-padding-left)
    );
    color: var(--ifm-color-content);
    display: block;
    font-size: 1.2em;
    left: calc(
      var(--left) - var(--ifm-list-item-padding-left) -
        var(--ifm-list-padding-left)
    );
    position: absolute;
    text-align: right;
    top: 0.1em;
    white-space: nowrap;
    width: var(--time-width);
  }

  ul.connected-list.connected-list--timeline > li > a.panel span.time > time {
    display: block;
    font-size: 0.9em;
  }

  ul.connected-list.connected-list--timeline
    > li
    > a.panel
    span.time
    > span.formatted-time {
    display: block;
    font-weight: bold;
  }

  ul.connected-list.connected-list--timeline > li > a.panel span.separator {
    display: none;
  }
}

/* connected-list--hover */

ul.connected-list.connected-list--hover > li:hover {
  background-color: var(--ifm-panel-background-color);
}

/**
 * container
 *
 * A note about container sizes. The default container is 1140px. Our grid
 * system is 12 columns wide. Therefore, we should increase and decrease
 * sizes by 95px.
 */

.container--flush {
  padding-left: 0;
  padding-right: 0;
}

.container--s {
  box-sizing: border-box;
  max-width: 950px;
}

.container--xs {
  box-sizing: border-box;
  max-width: 760px;
}

.container--m {
  --ifm-container-width: 1235px;
}

.container--l {
  --ifm-container-width: 1330px;
}

.container--l2 {
  --ifm-container-width: 1425px;
}

.container--xl {
  --ifm-container-width: 1520px;
}

/**
 * domain-bg
 */

.domain-bg {
  background-image: url(/img/nodes-bg-light.svg);
}

.domain-bg.domain-bg--config {
  background-image: url(/img/cogs-bg-light.svg);
}

.domain-bg.domain-bg--observability {
  background-image: url(/img/charts-bg-light.svg);
}

.domain-bg.domain-bg--operations {
  background-image: url(/img/circuit-bg-light.svg);
}

.domain-bg.domain-bg--testing {
  background-image: url(/img/testing-bg-light.svg);
}

.domain-bg.domain-bg--vector {
  background-image: url(/img/vector-bg-light.svg);
}

.domain-bg--hover:not(:hover) {
  background-image: none !important;
}

/**
 * dropcap
 *
 * The first letter is large and multiple lines. Used to creat a more formal
 * style.
 */

.dropcap p:first-of-type::first-letter {
  float: left;
  font-size: 3.25em;
  padding: 0.2em 0.2em 0 0;
}

/**
 * empty
 *
 * Generic empty state. Used for showing no results, etc.
 */

.empty {
  color: var(--ifm-color-emphasis-400);
  font-size: 1.4em;
  padding: calc(var(--ifm-spacing-vertical) * 3);
  text-align: center;
}

/**
 * feather
 *
 * The feather icon set
 */

.feather {
  font-size: inherit !important;
  line-height: inherit !important;
}

/**
 * filters
 *
 * Generic filters
 */

.filters {
  --label-width: 160px;
  color: var(--ifm-menu-color);
  margin-bottom: var(--ifm-spacing-vertical);
}

.filters > .search {
  margin-bottom: calc(var(--ifm-spacing-vertical));
}

.filters > .search > .search--result-count {
  float: right;
  font-size: 0.9em;
  line-height: 1;
  margin-bottom: -1.5em;
  margin-right: var(--ifm-spacing-horizontal);
  position: relative;
  top: 1em;
}

.filters > .search input {
  width: 100%;
}

.filters > .filter {
  display: flex;
  font-size: 0.9em;
}

.filters > .filter > .filter--label {
  border-right: 1px solid var(--ifm-hr-border-color);
  flex: 0 0 var(--label-width);
  padding: 0.25em 1.2em 0.25em 0;
  text-align: right;
  white-space: nowrap;
}

.filters > .filter > .filter--label a {
  color: inherit;
  border-bottom: 1px solid var(--ifm-hr-border-color);
}

.filters > .filter > .filter--choices {
  overflow: auto;
  padding: 0.25em 0 0.25em 0.8em;
  white-space: nowrap;
}

.filters > .filter > .filter--choices label {
  margin-left: 0.75em;
  margin-top: calc(var(--ifm-spacing-vertical) / 4);
  white-space: nowrap;
}

.filters > .filter > .filter--choices label:first-child {
  margin-left: 0;
}

.filters > .filter > .filter--choices label input {
  margin-right: 0.5em;
}

.filters.filters--narrow {
  --label-width: 100px;
}

/**
 * footer
 *
 * Foot at the bottom of every page
 */

.footer {
  --ifm-heading-margin-bottom: var(--ifm-spacing-vertical);
  border-top: 1px solid var(--ifm-hr-border-color);
}

/**
 * github-badge
 *
 * Github star count badge in the header
 */

.github-badge {
}

/**
 * h*
 *
 * Global headings with anchor links that appear on mouse over.
 */

h2 {
  font-family: var(--ifm-heading-font-family);
}

h2 > .hash-link,
h3 > .hash-link,
h4 > .hash-link,
h5 > .hash-link,
h6 > .hash-link {
  margin-left: -0.8em;
  padding-right: 1.25em;
}

/**
 * header
 *
 * Generic empty state. Used for showing no results, etc.
 */

header {
  border-bottom: 2px solid var(--ifm-hr-border-color);
  margin-bottom: calc(2 * var(--ifm-leading));
}

header .badges {
  float: right;
  font-family: monospace;
  margin-top: 0.5em;
}

header .badges .badge {
  margin-left: 0.5em;
}

header h1 {
  font-family: Ubuntu, var(--ifm-font-family-base);
  font-size: 2.5em;
  margin-bottom: 0;
}

/**
 * header
 */

.header--flush {
  margin-bottom: var(--ifm-spacing-vertical);
}

/**
 * hero
 *
 * Large hero component typically used on marketing pages.
 */

.hero {
  display: block;
  align-items: center;
  min-height: 175px;
  padding: 2.5em 0;
  position: relative;
  text-align: center;
}

.hero h1 {
  font-size: 2.5em;
}

/* hero--avatar */

.hero .hero--avatar {
  margin-bottom: 0.3em;
}

/* hero--buttons */

.hero .hero--buttons {
  --ifm-button-padding-vertical: 0.5em;
  --ifm-button-padding-horizontal: 4em;
  margin-bottom: var(--ifm-spacing-vertical);
}

.hero .hero--buttons .button {
  border-radius: 2em;
  margin-right: 1em;
  min-width: 240px;
}

.hero .hero--buttons .button:last-child {
  margin-right: 0;
}

/* hero--category */

.hero .hero--category {
  color: var(--ifm-heading-color);
  text-transform: uppercase;
}

/* hero--component-icons */

.hero .hero--component-icons {
  margin-bottom: var(--ifm-spacing-vertical);
}

.hero .hero--component-icons .icon {
  border-radius: 1.5em;
  margin: 0 auto;
  padding: 1.5em;
  width: 135px;
  height: 135px;
}

.hero .hero--component-icons .icon img {
  width: 100%;
}

/* hero--search */

.hero .hero--search {
  margin-top: calc(var(--ifm-spacing-vertical) * 2);
}

.hero .hero--search input {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
}

/* hero--subtitle */

.hero .hero--subtitle {
  color: var(--ifm-color-emphasis-600);
  font-size: 1.3em;
}

.hero .hero--subtitle a {
  color: inherit;
  text-decoration: underline;
}

.hero .hero--subtitle a:hover {
  color: var(--ifm-link-color);
}

.hero .hero--subsubtitle {
  color: var(--ifm-color-emphasis-600);
  font-size: 0.9em;
}

/* hero--tags */

.hero .hero--tags {
  background: rgba(var(--ifm-background-color-rgb), 0.8);
}

.hero .hero--tags * {
}

/* hero--toc */

.hero .hero--toc {
  --color: var(--ifm-color-emphasis-500);
  background: var(--ifm-color-emphasis-50);
  border-radius: 2em;
  display: inline-block;
  font-size: 0.8em;
  padding: 0.25em 1em;
}

.hero .hero--toc ul {
  margin-bottom: 0;
  padding-left: 0;
}

.hero .hero--toc ul li {
  color: var(--color);
  display: inline-block;
  font-weight: 600;
  list-style: none;
}

.hero .hero--toc ul li:before {
  color: var(--color);
  content: "•";
  display: inline-block;
  margin: 0 calc(var(--ifm-spacing-horizontal) / 2);
}

.hero .hero--toc ul li:first-child:before {
  display: none;
  margin-left: 0;
  padding-left: 0;
}

/* -- modifiers -- */

/* hero--clean */

.hero.hero--clean {
  border-bottom: 0px none;
  min-height: none;
  margin-bottom: 0;
}

/* hero--flush */

.hero.hero--flush {
  padding-top: 0;
}

/* hero--full-height */

.hero.hero--full-height {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - var(--ifm-navbar-height));
}

.hero.hero--full-height > .container > *:last-child {
  margin-bottom: 0;
}

/* hero--animated-graph */

.hero.hero--animated-graph {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.hero.hero--animated-graph .overlay {
  margin-top: -10.475em;
  margin-bottom: 3.2em;
}

/* hero responsiveness */

@media (max-width: 996px) {
  .hero {
    min-height: 100px;
    padding: 2em 0;
  }

  .hero .hero--buttons .button {
    --ifm-button-padding-horizontal: 3em;
    min-width: 180px;
  }
}

@media (max-width: 480px) {
  .hero.hero--full-height {
    min-height: auto;
  }

  .hero h1 {
    font-size: 2em;
  }

  .hero .hero--subtitle {
    font-size: 1em;
  }

  .hero .hero--buttons .button {
    display: block;
    border-radius: 0.5em;
    margin: 0 0 1rem 0;
    min-width: auto;
    width: 100%;
  }
}

/**
 * input
 *
 * Custom form component styling. This is mostly neccessary for the dark theme.
 */

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: var(--ifm-background-color);
  background-clip: padding-box;
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: 4px;
  cursor: pointer;
  height: 1.5em;
  margin-bottom: 0.75em;
  width: 1.5em;
  outline: none;
  transition-duration: var(--ifm-transition-fast);
  vertical-align: middle;
}

input[type="checkbox"]:checked {
  background-color: var(--ifm-color-primary);
  border: 1px solid var(--ifm-color-primary);
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: var(--ifm-background-color);
  background-clip: padding-box;
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: 1em;
  cursor: pointer;
  height: 1.5em;
  margin-bottom: 0.75em;
  width: 1.5em;
  outline: none;
  transition-duration: var(--ifm-transition-fast);
  vertical-align: middle;
}

input[type="radio"]:checked {
  background-color: var(--ifm-color-primary);
  border: 1px solid var(--ifm-color-primary);
}

input.input--text,
input[type="email"],
input[type="text"] {
  --ifm-button-size-multiplier: 1;
  background-color: var(--ifm-panel-background-color);
  border: 1px solid var(--ifm-panel-border-color);
  border-radius: calc(
    var(--ifm-global-radius) * var(--ifm-button-size-multiplier)
  );
  box-shadow: var(--ifm-panel-box-shadow);
  box-sizing: border-box;
  color: var(--ifm-heading-color);
  display: inline-block;
  font-size: calc(0.8rem * var(--ifm-button-size-multiplier));
  line-height: 1.5;
  padding: calc(
      var(--ifm-button-padding-vertical) * var(--ifm-button-size-multiplier)
    )
    0.8em;
  transition: var(--ifm-transition-slow) ease;
  vertical-align: middle;
}

input.input--text:focus,
input[type="email"]:focus,
input[type="text"]:focus {
  background: var(--ifm-panel-background-color-active);
  border-color: var(--ifm-color-primary);
  box-shadow: var(--ifm-panel-box-shadow-active);
  color: var(--ifm-color-primary);
}

input.input--block {
  display: block !important;
  max-width: none !important;
  width: 100%;
}

input.input--lg {
  --ifm-button-size-multiplier: 1.35;
}

input.input--xl {
  --ifm-button-size-multiplier: 1.7;
}

input.input--highlight-wrapper {
  animation: gradientBG 5s ease-in infinite;
  background-image: var(--ifm-highlight-gradient);
  background-size: 150% 150%;
  border: 0px none;
  font-weight: 600;
  padding: 1px;
}

/*
 * list
 */

.list--icons {
  --ifm-spacing-vertical: 0.5em;
}

div.list--icons > ul,
ul.list--icons {
  list-style: none;
  margin-left: 1em;
  padding-left: 1em;
}

div.list--icons > ul ul,
ul.list--icons ul {
  list-style: none;
  margin: var(--ifm-spacing-vertical) 0 var(--ifm-spacing-vertical) 1em;
  padding-left: 1em;
}

div.list--icons > ul li:before,
ul.list--icons li:before {
  content: var(--list-icon);
  display: block;
  float: left;
  font-size: 1.25em;
  font-weight: bold;
  margin-left: -1.6em;
  margin-top: -0.2em;
}

div.list--icons > ul > li,
ul.list--icons > li {
  margin: 0 0 var(--ifm-spacing-vertical) 0;
  padding: 0;
}

.list--icons--checks {
  --list-icon: "✓";
}

.list--icons--info {
  --list-icon: "ⓘ";
}

.list--icons--warnings {
  --list-icon: "⚠";
}

.list--icons--arrow {
  --list-icon: "→";
}

div.list--indent > ul,
ul.list--indent {
  margin-left: 2em !important;
}

.list--lg {
  font-size: 1.2em;
}

.list--tight {
  --ifm-spacing-vertical: 0;
}

/**
 * menu
 *
 * Menu styling generally used as a navigation menu, such a the left-side
 * menu for the docs section.
 */

.menu > ul.menu__list li {
  margin-top: 0;
  margin-bottom: 0;
}

.menu > ul.menu__list li > a {
  padding-left: 0;
  padding-right: 0;
}

.menu .menu__list-item-hidden {
  display: none;
}

.menu > ul.menu__list > li.menu__list-item div.title {
  color: var(--ifm-color-emphasis-300);
  cursor: text;
  display: flex;
  font-size: 1em;
  justify-content: space-between;
  line-height: calc(var(--ifm-spacing-vertical) * 1.25);
  margin-top: calc(var(--ifm-spacing-vertical) * 1.5);
  padding: var(--ifm-menu-link-padding-vertical) 0;
  font-weight: bold;
  text-transform: uppercase;
}

.menu > ul.menu__list > li.menu__list-item:first-child div.title {
  margin-top: 0;
}

.menu > ul.menu__list ul.menu__list {
  border-left: 1px solid var(--ifm-hr-border-color);
  margin-left: 0;
  padding-left: var(--ifm-menu-link-padding-horizontal);
}

.menu > ul.menu__list ul.menu__list .menu__link {
  border-radius: 0;
  font-size: 1em;
}

.menu > ul.menu__list > li > ul.menu__list {
  border-left: 0px none;
  padding-left: 0;
}

.menu .menu__list-title {
  color: var(--ifm-color-emphasis-300);
  font-size: 0.9em;
  text-transform: uppercase;
}

.menu .menu__link,
.menu .menu__link:hover,
.menu .menu__link.menu__link--active:not(.menu__link--sublist) {
  background: none;
  line-height: var(--ifm-line-height-base);
}

.menu .menu__link small {
  font-weight: normal;
  opacity: 0.75;
}

.menu .menu__link.menu__link--sublist::after {
  background-image: url('data:image/svg+xml;utf8,<svg alt="Arrow" xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="-6 -6 38 38"><path fill="rgba(0,0,0,0.3)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: var(--ifm-transition-fast) ease;
}

.menu .menu__link.menu__link--sublist:hover::after,
.menu .menu__link.menu__link--sublist.menu__link--active::after {
  background-image: url('data:image/svg+xml;utf8,<svg alt="Arrow" xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="-6 -6 38 38"><path fill="rgb(40,217,242)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
}

.menu .menu__list-item.menu__list-item--collapsed .menu__link--sublist::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.menu .menu__link:hover {
  color: var(--ifm-menu-color-active);
}

.menu .menu__link .badges {
  vertical-align: top;
  margin-right: var(--ifm-spacing-horizontal);
  margin-top: -1px;
}

.menu .menu__link .badges .badge {
  background-clip: padding-box;
  border: 1px solid var(--ifm-color-emphasis-50);
  border-radius: 0.25em;
  display: inline-block;
  font-family: monospace;
  font-size: 0.7em;
  font-weight: bold;
  height: 1.5em;
  line-height: 1.3em;
  margin-right: 2px;
  padding: 0 0.4em;
  vertical-align: middle;
}

.menu.menu--responsive .menu__button {
  background: var(--ifm-panel-background-color-solid);
  border-color: var(--ifm-color-content-secondary);
  bottom: 1em;
  right: 1.5em;
}

.menu.menu--right .menu__list-title,
.menu.menu--right .menu__link {
  display: block;
  text-align: right;
}

/**
 * modal
 *
 * Modal used as an overlap
 */

.modal {
  box-shadow: 0 0px 10px 0px black;
  position: absolute;
  top: 4vh;
  left: 3vw;
  right: 3vw;
  bottom: 4vh;

  padding: calc(var(--ifm-spacing-vertical) * 1.5)
    calc(var(--ifm-spacing-horizontal) * 2);
  background-color: var(--ifm-background-color);
  border-radius: calc(var(--ifm-global-radius) * 2);
  overflow: scroll;
}

.modal header {
  margin-bottom: var(--ifm-spacing-vertical);
}

.modal header h1 {
  font-size: 2em;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 201;
}

/**
 * navbar
 *
 * Global navbar styling, used in the global header of the site.
 */

.navbar {
  display: block;
}

.navbar .navbar__brand {
  min-width: 100px;
}

.navbar .navbar__logo {
  margin-right: 0;
  max-width: var(--ifm-navbar-logo-width);
}

.navbar .search-icon-hidden {
  display: none;
}

.navbar .navbar-sidebar__items {
  padding: var(--ifm-navbar-padding-vertical)
    var(--ifm-navbar-padding-horizontal);
}

@media (max-width: 1100px) {
  .navbar .navbar__item.navbar__item__icon_only {
    padding-right: 0;
  }

  .navbar .navbar__search .navbar__search-input {
    width: 10em;
  }
}

@media (max-width: 996px) {
  .navbar .navbar__search {
    flex-grow: 1;
    text-align: right;
  }

  .navbar .navbar__search .navbar__search-input {
    width: 15em;
  }

  .navbar .navbar-sidebar__items .navbar__item {
    display: inline-block;
  }
}

@media (max-width: 480px) {
  .navbar .navbar__brand {
    margin-right: 0;
  }

  .navbar .navbar__brand .navbar__logo {
    max-width: 130px;
  }

  .navbar .navbar__search {
    margin-left: 0;
  }

  .navbar .navbar__search .navbar__search-input {
    width: 100%;
  }

  .navbar .navbar__search .search-bar-expanded {
    width: 100% !important;
  }
}

.navbar .navbar__items--right {
  flex: 0 0 45%;
}

.navbar .navbar__items--right .react-toggle {
  margin-left: var(--ifm-navbar-item-padding-horizontal);
}

.navbar .navbar__item {
  white-space: nowrap;
}

.navbar .navbar__item .badge {
  border-color: var(--ifm-background-color) !important;
  border-radius: 1em;
  font-size: 0.6em;
  line-height: 1;
  margin-right: -1.5em;
  margin-left: -0.5em;
  padding: 0.3em 0.5em;
  position: relative;
  top: -1em;
  z-index: 1;
}

.navbar-sidebar__brand .navbar__brand {
  flex: 1 0;
}

.navbar-sidebar__brand .react-toggle {
  flex: 0;
  text-align: right;
}

.navbar-sidebar__items .menu .menu__link {
  color: var(--ifm-heading-color);
  display: block;
}

.navbar-sidebar__items .menu .menu__link .badge {
  border-color: var(--ifm-background-color);
  border-radius: 1em;
  font-size: 0.6em;
  margin-top: -1em;
  margin-left: 0.25em;
}

/**
 * pagination-controls
 */

.pagination-controls {
  --offset: calc(50% - (var(--width) / 2) - (760px / 3) - 20vw);
  --width: 150px;
}

.pagination-controls .prev,
.pagination-controls .next {
  display: block;
  color: var(--ifm-color-emphasis-100);
  font-size: 5em;
  position: fixed;
  text-align: center;
  top: 220px;
  width: var(--width);
}

.pagination-controls .prev {
  left: var(--offset);
}

.pagination-controls .next {
  right: var(--offset);
}

.pagination-controls .prev:hover,
.pagination-controls .next:hover {
  color: var(--ifm-color-primary);
  text-decoration: none;
  text-shadow: 0 0 10px var(--ifm-color-primary);
}

@media (max-width: 996px) {
  .pagination-controls {
    display: none;
  }
}

/**
 * panel
 */

.panel {
  --panel-hover-color: var(--ifm-color-primary);
  --panel-hover-background-color: var(--ifm-panel-background-color-active);
  background-color: var(--ifm-panel-background-color);
  border: 0.1em solid var(--ifm-panel-border-color);
  border-radius: 0.7em;
  box-shadow: var(--ifm-panel-box-shadow);
  color: var(--ifm-font-color-base);
  display: block;
  margin-bottom: var(--ifm-spacing-vertical);
  padding: 2em;
}

/* .panel--blend */

.panel.panel--blend {
  background-color: var(--ifm-background-color);
}

/* .panel--button */

.panel.panel--button {
  text-align: center;
}

.panel.panel--button .panel--icon {
  font-size: 4em;
  line-height: 1;
  margin: 0 0 var(--ifm-spacing-vertical) 0;
}

.panel.panel--button .panel--title {
  font-size: 1.2em;
  font-weight: 600;
}

.panel.panel--button .panel--description {
  font-size: 0.95em;
  opacity: 0.5;
}

.panel.panel--button--inline {
  display: flex;
}

.panel.panel--button--inline .panel--icon {
  margin: 0;
}

.panel.panel--button--inline > div:first-child {
  flex: 0 1 33%;
  padding-right: var(--ifm-spacing-horizontal);
  text-align: right;
}

.panel.panel--button--inline > div:last-child {
  flex: 1 1;
  padding-top: 0.25em;
  text-align: left;
}

/* .panel--danger */

.panel.panel--danger {
  --ifm-panel-background-color-active: rgba(var(--ifm-color-danger-rgb), 0.2);
  --ifm-panel-box-shadow-active: 0 0px 10px 0px
    rgba(var(--ifm-color-danger-rgb), 0.35);
  --ifm-panel-color-active: var(--ifm-color-danger);
  border-left: 6px solid var(--ifm-panel-color-active);
}

/* .panel--highlight */

.panel.panel--highlight {
  animation: gradientBG 5s ease-in infinite;
  background-clip: text;
  background: none;
  background-image: var(--ifm-highlight-gradient);
  background-size: 150% 150%;
  border: 0px none;
  color: var(--ifm-background-color);
}

.panel.panel--highlight:hover {
  color: var(--ifm-background-color);
}

/* .panel--l */

.panel.panel--l {
  font-size: 1.2em;
}

/* .panel--pink */

.panel.panel--pink {
  --ifm-panel-background-color-active: rgba(var(--ifm-color-pink-rgb), 0.2);
  --ifm-panel-box-shadow-active: 0 0px 10px 0px
    rgba(var(--ifm-color-pink-rgb), 0.35);
  --ifm-panel-color-active: var(--ifm-color-pink);
  border-left: 6px solid var(--ifm-panel-color-active);
}

/* .panel--primary */

.panel.panel--primary {
  --ifm-panel-background-color-active: rgba(var(--ifm-color-primary-rgb), 0.2);
  --ifm-panel-box-shadow-active: 0 0px 10px 0px
    rgba(var(--ifm-color-primary-rgb), 0.35);
  --ifm-panel-color-active: var(--ifm-color-primary);
  border-left: 6px solid var(--ifm-panel-color-active);
}

/* .panel--s */

.panel.panel--s {
  font-size: 0.8em;
}

/* .panel--success */

.panel.panel--success {
  --ifm-panel-background-color-active: rgba(var(--ifm-color-success-rgb), 0.2);
  --ifm-panel-box-shadow-active: 0 0px 10px 0px
    rgba(var(--ifm-color-success-rgb), 0.35);
  --ifm-panel-color-active: var(--ifm-color-success);
  border-left: 6px solid var(--ifm-panel-color-active);
}

/* .panel--warning */

.panel.panel--warning {
  --ifm-panel-background-color-active: rgba(var(--ifm-color-warning-rgb), 0.2);
  --ifm-panel-box-shadow-active: 0 0px 10px 0px
    rgba(var(--ifm-color-warning-rgb), 0.35);
  --ifm-panel-color-active: var(--ifm-color-warning);
  border-left: 6px solid var(--ifm-panel-color-active);
}

/* .panel--s */

.panel.panel--xs {
  font-size: 0.6em;
}

/* .panel link */

.link.panel,
a.panel {
  transition: var(--ifm-transition-fast) ease;
}

.link.panel > article > h2,
.link.panel > article > h3,
a.panel > article > h2,
a.panel > article > h3 {
  font-family: var(--ifm-font-family-base);
  margin-bottom: calc(1em / 4);
}

.link.panel > article > h2,
a.panel > article > h2 {
  font-size: 1.6em;
}

.link.panel > article > h3,
a.panel > article > h3 {
  font-size: 1.4em;
}

.link.panel > article > h2 > a,
.link.panel > article > h3 > a,
a.panel > article > h2 > a,
a.panel > article > h3 > a {
  color: red !important;
}

.link.panel > article > .subtitle,
a.panel > article > .subtitle {
  opacity: 0.75;
}

.link.panel > article > .avatar,
a.panel > article > .avatar {
  margin-top: 1em;
  margin-bottom: 1em;
}

.link.panel > article > .avatar .avatar__name,
a.panel > article > .avatar .avatar__name {
  font-weight: 600;
  font-size: 1em;
}

.link.panel > article > .avatar .avatar__subtitle,
a.panel > article > .avatar .avatar__subtitle {
  opacity: 0.75;
}

.link.panel:hover,
a.panel:hover {
  background-color: var(--ifm-panel-background-color-active) !important;
  border-color: var(--ifm-panel-color-active);
  box-shadow: var(--ifm-panel-box-shadow-active);
  color: var(--ifm-panel-color-active);
  text-decoration: none;
}

.link.panel:hover .badge,
a.panel:hover .badge {
  background: var(--ifm-panel-background-color-active);
  border-color: transparent;
}

.link.panel:hover a,
a.panel:hover a,
.link.panel:hover .badge,
a.panel:hover .badge,
.link.panel:hover h2,
a.panel:hover h2,
.link.panel:hover h3,
a.panel:hover h3 {
  color: inherit;
}

/**
 * press--color
 */

.press--color {
  background: #10e7ff;
  color: black;
  padding: var(--ifm-spacing-vertical) var(--ifm-spacing-horizontal);
}

/**
 * prism-code
 */

.prism-code {
  position: relative;
}

/**
 * react-select-container
 */

.react-select-container .react-select__control {
  background-color: var(--ifm-panel-background-color);
  border-color: var(--ifm-panel-border-color);
  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-panel-box-shadow);
  box-sizing: border-box;
  color: var(--ifm-font-color-base);
}

.react-select-container .react-select__indicator-separator {
  background-color: var(--ifm-color-emphasis-200);
}

.react-select-container .react-select__single-value {
  color: var(--ifm-font-color-base);
}

.react-select-container:hover .react-select__control {
  background: var(--ifm-panel-background-color-active);
  border-color: var(--ifm-panel-border-color-active);
  box-shadow: var(--ifm-panel-box-shadow-active);
}

.react-select-container .react-select__menu {
  background: var(--ifm-panel-background-color-solid);
  border-radius: var(--ifm-global-radius);
  color: var(--ifm-color-content);
}

.react-select-container .react-select__option:hover {
  background: var(--ifm-color-primary);
  color: var(--ifm-background-color);
}

.react-select-container .react-select__option--is-selected {
  background: var(--ifm-panel-background-color-active) !important;
  color: var(--ifm-color-primary) !important;
  font-weight: bold;
}

.react-select-container .react-select__option--is-focused {
  background: var(--ifm-panel-background-color-active);
  color: var(--ifm-color-content);
}

.react-select-container .react-select__placeholder {
  color: var(--ifm-color-content-secondary);
}

.react-select--lg {
  font-size: 1.2em;
}

/**
 * row
 */

.row.row--squished > .col {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/**
 * section
 *
 * Sections are generally used on marketing pages to focus on separate topics.
 */

section {
  border-bottom: 1px solid var(--ifm-hr-border-color);
  margin-bottom: calc(2 * var(--ifm-leading));
  padding-bottom: calc((2 * var(--ifm-leading)) - var(--ifm-spacing-vertical));
}

section .sub-title {
  color: var(--ifm-color-emphasis-600);
  font-size: 1.15em;
  margin-top: calc(var(--ifm-heading-margin-bottom) * -0.9);
  margin-bottom: var(--ifm-heading-margin-bottom);
}

section.shade {
  background-color: var(--ifm-panel-background-color);
  padding-left: var(--ifm-spacing-horizontal);
  padding-right: var(--ifm-spacing-horizontal);
}

section:last-child {
  border-bottom: 0px none;
  margin-bottom: 0;
}

header + section.shade {
  margin-top: calc(-1 * ((var(--ifm-spacing-vertical) * 2) - 5px));
  padding-top: var(--ifm-spacing-vertical);
}

/**
 * sidebar
 *
 * Side navigation used in sections like components, release notes, docs, etc.
 */

.sidebar {
  border-right: 1px solid var(--ifm-sidebar-border-color);
  width: var(--ifm-sidebar-width);
}

.sidebar .menu {
  font-weight: bold;
}

.sidebar .menu .menu__link {
  border-right: 2px solid transparent;
}

.sidebar .menu .menu__link--active {
  border-radius: 0;
  border-right-color: var(--ifm-color-primary);
}

@media (min-width: 997px) {
  .sidebar {
    height: calc(100vh - var(--ifm-navbar-height));
    overflow-y: auto;
    position: sticky;
    top: var(--ifm-navbar-height);
  }

  .sidebar::-webkit-scrollbar {
    width: 7px;
  }

  .sidebar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  .sidebar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  .sidebar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

/**
 * svg
 *
 * SVG styling ensures SVG colors match the color palette. SVG intentionally
 * use white and black colors to easily target and change their colors.
 */

svg [fill="#000000"] {
  fill: var(--ifm-heading-color);
}

svg [stroke="#000000"] {
  stroke: var(--ifm-heading-color);
}

svg [stop-color="#000000"] {
  stop-color: var(--ifm-heading-color);
}

svg [fill="#FFFFFF"] {
  fill: var(--ifm-background-color);
}

svg [stroke="#FFFFFF"] {
  stroke: var(--ifm-background-color);
}

svg [fill="#10E7FF"] {
  fill: var(--ifm-color-primary);
}

svg [stroke="#10E7FF"] {
  stroke: var(--ifm-color-primary);
}

/**
 * table
 */

table {
  display: table;
}

.table-responsive {
  overflow-x: auto;
}

/**
 * .table-of-contents
 *
 * Used as a right hand side navigation for jumping around a document.
 */

.table-of-contents {
  font-size: 0.8em;
}

.table-of-contents .section {
  border-bottom: 1px solid var(--ifm-hr-border-color);
  padding: 0 0 var(--ifm-spacing-vertical) 0;
  margin-bottom: var(--ifm-spacing-vertical);
}

.table-of-contents .section:last-child {
  border-bottom: 0px none;
  margin-bottom: 0;
}

.table-of-contents .status {
  font-weight: bold;
  padding: 0 0 var(--ifm-contents-padding-vertical) 0;
}

.table-of-contents .title {
  color: var(--ifm-color-emphasis-300);
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: var(--ifm-contents-padding-vertical);
  text-transform: uppercase;
}

.table-of-contents ul.contents {
  font-weight: bold;
  font-size: 0.95em;
  padding: 0;
}

.table-of-contents ul.contents code {
  color: inherit;
}

.table-of-contents ul.contents li {
  margin-right: 0;
  margin-left: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-of-contents ul.contents li a.text--danger {
  color: var(--ifm-color-danger);
}

.table-of-contents ul.contents > li ul {
  border-left: 1px solid var(--ifm-hr-border-color);
}

.table-of-contents ul.contents > li > ul > li:last-child {
  margin-bottom: 0;
}

/**
 * tabs
 *
 * Used with the `Tabs` and `TabItem` components
 */

ul.tabs {
  background-color: var(--ifm-color-emphasis-50);
  border-bottom: 1px solid var(--ifm-hr-border-color);
  font-size: 0.9em;
  font-weight: bold;
}

ul.tabs li.tab-item {
  border-top: 2px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-radius: 0;
  color: var(--ifm-color-emphasis-400);
  margin: 0;
  margin-bottom: -1px;
  padding: 0.4em 1.5em;
  text-align: center;
}

ul.tabs li.tab-item:hover {
  background: transparent;
  color: var(--ifm-link-colorI);
}

ul.tabs li.tab-item.tab-item--active {
  background: var(--ifm-background-color);
  border-top-color: var(--ifm-tabs-color-active);
  border-right-color: var(--ifm-hr-border-color);
  border-bottom-color: var(--ifm-background-color);
  border-left-color: var(--ifm-hr-border-color);
  color: var(--ifm-font-color-base);
}

ul.tabs.mini {
  background: none;
  border: 0px none;
}

ul.tabs.mini li {
  border: 0px none;
  padding: 0;
  margin-right: 1em;
}

ul.tabs.mini li.tab-item.tab-item--active {
  color: var(--ifm-color-primary);
}

ul.tabs.rounded {
  border: 0px none;
  border-radius: 2em;
  font-size: 1em;
  font-weight: normal;
  margin: 0 auto;
  padding: 6px;
}

ul.tabs.rounded li.tab-item {
  border: 0px none;
  border-radius: 2em;
  flex: 1 1 0;
  padding: 0px 10px;
  white-space: nowrap;
}

ul.tabs.rounded li.tab-item.tab-item--active {
  border: 0px none;
  background: var(--ifm-color-primary);
  color: var(--ifm-background-color);
}

.tabs--centered {
  text-align: center;
}

.tabs--centered ul.tabs {
  display: inline-block;
}

/*
 * text
 */

.text--bold {
  font-weight: bold;
}

.text--highlight {
  animation: gradientBG 5s ease-in infinite;
  background-clip: text;
  background-image: var(--ifm-highlight-gradient);
  background-size: 150% 150%;
  -webkit-background-clip: text;
  color: transparent;
}

.text--lg {
  font-size: 1.2em;
}

.text--pink {
  color: var(--ifm-color-pink);
}

.text--secondary {
  color: var(--ifm-color-content-secondary);
}

.text--upcase {
  text-transform: uppercase;
}

.text--xl {
  font-size: 1.4em;
}

/*
 * unstyled
 */

.unstyled {
  list-style: none;
  padding-left: 0;
}

/******************************************************************************
 * Markdown
 *
 * Specific styling for markdown generated content.
 ******************************************************************************/

.markdown {
  --ifm-h1-h2-vertical-rhythm-top: 1;
  --ifm-h1-h2-vertical-rhythm-bottom: var(--ifm-h1-h2-vertical-rhythm-top);
  --ifm-h3-vertical-rhythm-top: 1.25;
  --ifm-h3-vertical-rhythm-bottom: calc(var(--ifm-h3-vertical-rhythm-top) / 2);
  --ifm-h4-vertical-rhythm-top: 1.25;
  --ifm-h4-vertical-rhythm-bottom: calc(var(--ifm-h4-vertical-rhythm-top) / 2);
  --ifm-h5-vertical-rhythm-top: 1.25;
  --ifm-h5-vertical-rhythm-bottom: calc(var(--ifm-h5-vertical-rhythm-top) / 2);
  --ifm-h6-vertical-rhythm-top: 1.25;
  --ifm-h6-vertical-rhythm-bottom: calc(var(--ifm-h6-vertical-rhythm-top) / 2);
}

.markdown .diagram {
  max-height: 250px;
  width: 100%;
}

.markdown > h1,
.markdown > h2 {
  border-top: 1px solid var(--ifm-hr-border-color);
  margin-top: calc(var(--ifm-h1-h2-vertical-rhythm-top) * var(--ifm-leading));
  margin-bottom: calc(
    var(--ifm-h1-h2-vertical-rhythm-bottom) * var(--ifm-leading)
  );
  padding-top: calc(var(--ifm-h1-h2-vertical-rhythm-top) * var(--ifm-leading));
}

.markdown > h3 {
  margin-top: calc(var(--ifm-h3-vertical-rhythm-top) * var(--ifm-leading));
  margin-bottom: calc(
    var(--ifm-h3-vertical-rhythm-bottom) * var(--ifm-leading)
  );
}

.markdown > h4 {
  margin-top: calc(var(--ifm-h4-vertical-rhythm-top) * var(--ifm-leading));
  margin-bottom: calc(
    var(--ifm-h4-vertical-rhythm-bottom) * var(--ifm-leading)
  );
}

.markdown > h5 {
  margin-top: calc(var(--ifm-h5-vertical-rhythm-top) * var(--ifm-leading));
  margin-bottom: calc(
    var(--ifm-h5-vertical-rhythm-bottom) * var(--ifm-leading)
  );
}

.markdown > h6 {
  margin-top: calc(var(--ifm-h6-vertical-rhythm-top) * var(--ifm-leading));
  margin-bottom: calc(
    var(--ifm-h6-vertical-rhythm-bottom) * var(--ifm-leading)
  );
}

.markdown > p > img,
.markdown > p > svg,
.markdown > img,
.markdown > svg {
  display: block;
  height: auto;
  margin: 0 auto;
}

.markdown > img,
.markdown > svg {
  margin-bottom: calc(var(--ifm-spacing-vertical) * 2);
}

.markdown svg {
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.markdown pre {
  font-size: 90%;
  margin-bottom: var(--ifm-leading);
}

.markdown table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  page-break-inside: auto;
}

.markdown table > thead > tr,
.markdown table > tbody > tr {
  border: none;
  border-bottom: 1px solid var(--ifm-hr-border-color);
  page-break-after: auto;
  page-break-inside: avoid;
}

.markdown table > thead > tr {
  border-bottom-width: 2px;
}

.markdown table > thead > tr > th:not([align]) {
  text-align: left;
}

.markdown table > thead > tr > th,
.markdown table > tbody > tr > td {
  width: auto;
  padding: 8px;
  align-self: start;
  border-top: none;
  align-items: start;
  border: none;
  -webkit-box-align: start;
  -ms-grid-row-align: start;
}

.markdown table > thead > tr > th:first-child,
.markdown table > tbody > tr > td:first-child {
  padding-left: 0;
}

.markdown table > thead > tr > th:last-child,
.markdown table > tbody > tr > td:last-child {
  padding-right: 0;
}

.markdown table > thead > tr {
  border-bottom-size: 2px;
}

.markdown table > tbody > tr:hover {
  background: var(--ifm-color-emphasis-25);
}

.markdown > :last-child {
  margin-bottom: var(--ifm-spacing-vertical) !important;
}

/******************************************************************************
 * Dark Theme
 ******************************************************************************/

/**
 * Root variables (dark)
 */

html[data-theme="dark"] {
  --ifm-background-color: #191927;
  --ifm-background-color-rgb: 25, 25, 39;
  --ifm-color-content-secondary: var(--ifm-color-emphasis-600);
  --ifm-color-emphasis-25: var(--ifm-color-gray-975);
  --ifm-color-emphasis-40: var(--ifm-color-gray-960);
  --ifm-color-emphasis-50: var(--ifm-color-gray-950);
  --ifm-color-emphasis-50-solid: var(--ifm-color-gray-950);
  --ifm-color-emphasis-75: var(--ifm-color-gray-925);
  --ifm-color-gray-25: rgba(224, 235, 247, calc(1 - 0.025));
  --ifm-color-gray-40: rgba(224, 235, 247, calc(1 - 0.04));
  --ifm-color-gray-50: rgba(224, 235, 247, calc(1 - 0.05));
  --ifm-color-gray-75: rgba(224, 235, 247, calc(1 - 0.075));
  --ifm-color-gray-100: rgba(224, 235, 247, calc(1 - 0.1));
  --ifm-color-gray-150: rgba(224, 235, 247, calc(1 - 0.15));
  --ifm-color-gray-200: rgba(224, 235, 247, calc(1 - 0.2));
  --ifm-color-gray-300: rgba(224, 235, 247, calc(1 - 0.3));
  --ifm-color-gray-400: rgba(224, 235, 247, calc(1 - 0.4));
  --ifm-color-gray-500: rgba(224, 235, 247, calc(1 - 0.5));
  --ifm-color-gray-600: rgba(224, 235, 247, calc(1 - 0.6));
  --ifm-color-gray-700: rgba(224, 235, 247, calc(1 - 0.7));
  --ifm-color-gray-800: rgba(224, 235, 247, calc(1 - 0.8));
  --ifm-color-gray-900: rgba(224, 235, 247, calc(1 - 0.9));
  --ifm-color-gray-925: rgba(224, 235, 247, calc(1 - 0.925));
  --ifm-color-gray-950: rgba(224, 235, 247, calc(1 - 0.95));
  --ifm-color-gray-960: rgba(224, 235, 247, calc(1 - 0.96));
  --ifm-color-gray-975: rgba(224, 235, 247, calc(1 - 0.975));
  --ifm-color-gray-1000: rgb(224, 235, 247);
  --ifm-contents-border-color: var(--ifm-color-emphasis-75);
  --ifm-global-shadow-md: 0 3px 8px 0px rgba(0, 0, 0, 0.2);
  --ifm-heading-color: var(--ifm-color-gray-1000);
  --ifm-link-color: var(--ifm-color-primary);
  --ifm-navbar-search-input-icon: url('data:image/svg+xml;utf8,<svg fill="rgb(224, 235, 247)" alt="Search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="16px" width="16px"><path d="M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z" /></svg>');
  --ifm-panel-background-color: var(--ifm-color-emphasis-50);
  --ifm-panel-background-color-rgb: 37, 37, 50;
  --ifm-panel-background-color-solid: #252532;
  --ifm-panel-background-color-solid-light: #323242;
  --ifm-panel-background-color-active-solid: #0a4152;
  --ifm-panel-box-shadow: none;
  --ifm-panel-box-shadow-active: 0 0px 10px 0px
    rgba(var(--ifm-color-primary-rgb), 0.5);
}

/**
 * domain-bg
 */

html[data-theme="dark"] .domain-bg {
  background-image: url(/img/nodes-bg-dark.svg);
}

html[data-theme="dark"] .domain-bg.domain-bg--config {
  background-image: url(/img/cogs-bg-dark.svg);
}

html[data-theme="dark"] .domain-bg.domain-bg--observability {
  background-image: url(/img/charts-bg-dark.svg);
}

html[data-theme="dark"] .domain-bg.domain-bg--operations {
  background-image: url(/img/circuit-bg-dark.svg);
}

html[data-theme="dark"] .domain-bg.domain-bg--testing {
  background-image: url(/img/testing-bg-dark.svg);
}

html[data-theme="dark"] .domain-bg.domain-bg--vector {
  background-image: url(/img/vector-bg-dark.svg);
}

/*
 * navbar
 */

html[data-theme="dark"] .navbar {
  border-bottom: 1px solid var(--ifm-sidebar-border-color);
  box-shadow: none;
}

html[data-theme="dark"] .navbar__sidebar__backdrop {
  background: var(--ifm-color-emphasis-100);
}

html[data-theme="dark"] .navbar .navbar__item .badge--default {
  background: var(--ifm-color-emphasis-100);
  color: var(--ifm-panel-color);
}

/*
 * button
 */

html[data-theme="dark"] .button.button--secondary {
  --ifm-button-background-color: var(--ifm-panel-background-color);
  --ifm-button-border-color: var(--ifm-panel-border-color);
  --ifm-button-color: var(--ifm-panel-color);
  color: var(--ifm-button-color);
}

html[data-theme="dark"] .button.button--secondary:hover {
  --ifm-button-background-color: var(--ifm-panel-background-color-active);
  --ifm-button-border-color: var(--ifm-panel-border-color-active);
  --ifm-button-color: var(--ifm-panel-color-active);
  box-shadow: var(--ifm-panel-box-shadow-active);
}

/*
 * svg
 */

html[data-theme="dark"] svg [fill="#000000"] {
  fill: var(--ifm-heading-color);
}

html[data-theme="dark"] svg [stroke="#000000"] {
  stroke: var(--ifm-heading-color);
}

html[data-theme="dark"] svg [stop-color="#000000"] {
  stop-color: var(--ifm-heading-color);
}

html[data-theme="dark"] svg [fill="#FFFFFF"] {
  fill: var(--ifm-background-color);
}

html[data-theme="dark"] svg [stroke="#FFFFFF"] {
  stroke: var(--ifm-background-color);
}

/*
 * menu
 */

html[data-theme="dark"] .menu .menu__link.menu__link--sublist::after {
  background-image: url('data:image/svg+xml;utf8,<svg alt="Arrow" xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="-6 -6 38 38"><path fill="rgba(255,255,255,0.3)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
}

html[data-theme="dark"] input[type="checkbox"] {
  background: var(--ifm-color-emphasis-200);
}

html[data-theme="dark"] input[type="checkbox"]:checked {
  background-color: var(--ifm-color-primary);
}
