<div className="steps steps--h3">

1. ### Configure Vector

<%= create_config_command(source: source).indent(3) %>

2. ### Start the Vector container

   ```bash
   docker run \
   <%= tutorial.start_command_flags.join(" \\\n").indent(2) %>
     timberio/vector:latest-alpine
   ```

   <CodeExplanation>

   * <%= tutorial.start_command_explanations.join("\n   *") %>

   </CodeExplanation>

   That's it! Simple and to the point. Hit `ctrl+c` to exit.

</div>
