.mailing-list .mailing-list--description {
  margin-bottom: var(--ifm-spacing-vertical);
}
.mailing-list form input[type="email"] {
  margin-right: 1em;
  max-width: 250px;
  width: 100%;
}
.mailing-list.mailing-list--block input[type="email"] {
  display: block;
  max-width: none;
  width: 100%;
}
.mailing-list.mailing-list--block .button {
  display: block;
  margin-top: var(--ifm-spacing-vertical);
  max-width: none;
  width: 100%;
}

.hero .mailing-list .mailing-list--description {
  font-size: 1.1rem;
  color: var(--ifm-color-emphasis-600);
}
.hero .mailing-list form input[type="email"] {
  margin-right: 1em;
  max-width: 425px;
  width: 100%;
}

@media (max-width: 996px) {
  .mailing-list form input[type="email"] {
    display: block;
    max-width: none;
  }

  .mailing-list form .button {
    display: block;
    margin: var(--ifm-spacing-vertical) 0 0 0;
    width: 100%;
  }
}