.mailing-list .mailing-list--description {
  margin-bottom: var(--ifm-spacing-vertical);
}
.mailing-list--form {
  display: flex;
  max-width: 400px;
}
.mailing-list--form input[type="email"] {
  flex: 1 1;
  margin-right: 1em;
}

/*
 * block
 */

.mailing-list.mailing-list--block .mailing-list--form {
  display: block;
  max-width: none;
}

.mailing-list.mailing-list--block input[type="email"] {
  display: block;
  max-width: none;
  width: 100%;
}
.mailing-list.mailing-list--block .button {
  display: block;
  margin-top: var(--ifm-spacing-vertical);
  max-width: none;
  width: 100%;
}

/*
 * center
 */

.mailing-list.mailing-list--center .mailing-list--form {
  margin: 0 auto;
}

/*
 * lg
 */
.mailing-list.mailing-list--lg .mailing-list--form {
  max-width: 600px;
}

/*
 * hero
 */

.hero .mailing-list .mailing-list--description {
  font-size: 1.1em;
  color: var(--ifm-color-emphasis-600);
}

/*
 * responsive
 */

@media (max-width: 480px) {
  .mailing-list .mailing-list--form {
    display: block;
    max-width: none;
  }

  .mailing-list input[type="email"] {
    display: block;
    max-width: none;
    width: 100%;
  }
  .mailing-list .button {
    display: block;
    margin-top: var(--ifm-spacing-vertical);
    max-width: none;
    width: 100%;
  }
}
