.code-header {
  background: var(--ifm-color-emphasis-50);
  border-top-left-radius: var(--ifm-global-radius);
  border-top-right-radius: var(--ifm-global-radius);
  color: var(--ifm-color-emphasis-400);
  font-size: 0.8rem;
  padding: 2px 8px;
}

.code-header + div[class^='mdxCodeBlock_'] pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.code-header .learn-more {
  float: right;
}
