.containers {
  display: flex;
  margin: 0 var(--ifm-spacing-horizontal);
}

.sidebar {
  padding-top: calc( var(--ifm-spacing-vertical) * 2 );
  width: 125px;
}

.content {
  flex: 1 1 0;
  margin: 0 calc( var(--ifm-spacing-horizontal) * 3 );
  min-width: 0;
}

.content header {
  margin-bottom: calc( ( var(--ifm-spacing-vertical) * 2 ) - 5px );
  padding: calc( var(--ifm-spacing-vertical) * 4 ) 0;
  text-align: center;
}

.toc {
  width: 200px;
}

@media (max-width: 996px) {
  .containers {
    display: block;
  }

  .sidebar {
    display: none;
  }

  .content {
    margin: 0;
  }

  .toc {
    display: none;
  }
}
