.container {
  --ifm-sidebar-width: 225px;
  display: flex;
}

.sidebar {
  border-right: 1px solid var(--ifm-sidebar-border-color);
  flex: 0 0 var(--ifm-sidebar-width);
  max-width: var(--ifm-sidebar-width);
  padding: calc( var(--ifm-spacing-vertical) * 2 ) var(--ifm-spacing-vertical) 0 0;
}

.sidebar .menu__list-title,
.sidebar .menu__link {
  display: block;
  padding-right: var(--ifm-spacing-vertical);
  text-align: right;
}

.content {
  flex: 1 1 0;
  margin: 0 calc( var(--ifm-spacing-horizontal) * 3 );
  min-width: 0;
}

.content header {
  margin-bottom: calc( ( var(--ifm-spacing-vertical) * 2 ) - 5px );
  padding: calc( var(--ifm-spacing-vertical) * 4 ) 0;
  text-align: center;
}

.toc {
  border-left: 1px solid var(--ifm-sidebar-border-color);
  flex: 0 0 var(--ifm-sidebar-width);
  padding: calc( var(--ifm-spacing-vertical) * 2 ) 0 0 var(--ifm-spacing-vertical);
}

@media (max-width: 996px) {
  .containers {
    display: block;
  }

  .sidebar {
    display: none;
  }

  .content {
    margin: 0;
  }

  .toc {
    display: none;
  }
}
