{{ define "title" }}
{{ .Title }} | {{ site.Title }}
{{ end }}

{{ define "main" }}
{{ $desc := .Description }}
{{ $numSections := len .Sections }}
{{ $isRoot := eq .FirstSection .CurrentSection }}
<div class="relative max-w-3xl md:max-w-5xl lg:max-w-7xl mx-auto px-6 lg:px-8 xl:grid xl:grid-cols-3 xl:gap-x-12 space-y-8 xl:space-y-0 my-16">
  <div class="xl:col-span-1 pr-0 lg:pr-6 md:pr-2">
    {{ partial "hero.html" . }}
  </div>

  <div class="xl:col-span-2 flex flex-col space-y-10">
    {{/* Guide listing on main /guides page */}}

    {{ with .Sections }}
    {{ range . }}
    <div>
      <span class="prose">
        {{ partial "heading.html" (dict "text" .Title "level" 2 "href" .RelPermalink) }}
      </span>

      {{ with .Description }}
      <h3 class="mt-2 dark:text-gray-300 text-lg">
        {{ . | markdownify }}
      </h3>
      {{ end }}

      {{ with .Sections }}
      <div>
        {{ range . }}
        <span class="prose">
          {{ partial "heading.html" (dict "text" .Title "level" 3 "href" .RelPermalink) }}
        </span>

        {{ .Render "list" }}
        {{ end }}
      </div>
      {{ else }}
      <div class="mt-3">
        {{ .Render "list" }}
      </div>
      {{ end }}
    </div>
    {{ end }}
    {{ else }} {{/* No sub-sections, only pages */}}
    {{ .Render "list" }}
    {{ end }}
  </div>
</div>
{{ end }}

{{ define "below" }}
{{ partial "guides/pagination.html" . }}
{{ end }}