{{ define "title" }}
{{ .Title }} | {{ site.Title }}
{{ end }}

{{ define "main" }}
{{ $desc := .Params.description }}

<section class="section mt-6">
  <div class="container">
    <div class="columns is-variable is-8">
      <div class="column is-one-third">
        <section class="is-sticky with-larger-margin">
          <p class="has-text-primary mb-2">
            {{ .CurrentSection.Title }}
          </p>

          <p class="title is-size-2 is-size-3-mobile has-text-weight-light{{ if $desc }} is-spaced{{ end }}">
            {{ with .Weight }}{{ . }}. {{ end }}{{ .Title }}
          </p>

          {{ with $desc }}
          <p class="subtitle has-text-grey">
            {{ . }}
          </p>
          {{ end }}

          <div class="mb-3">
            <p class="is-size-4 is-size-5-mobile mb-3">
              Stats
            </p>

            <p>
              <span class="icon">
                <i class="fas fa-clock has-text-purple"></i>
              </span>
              <span>
                {{ .ReadingTime }}-minute read
              </span>
            </p>
          </div>

          {{ if gt (len .TableOfContents) 32 }}
          <p class="is-size-4 is-size-5-mobile has-text-grey-dark mb-3">
            Contents
          </p>

          <div id="docs-toc" class="is-hidden-mobile"></div>
          {{ end }}

          {{ if or .NextInSection .PrevInSection }}
          <p class="is-size-5 is-size-6-mobile has-text-grey-dark mt-3 mb-2">
            Navigation
          </p>

          {{ with .NextInSection }}
          <p>
            <span class="icon has-text-purple">
              <i class="fas fa-arrow-left"></i>
            </span>
            <a href="{{ .RelPermalink }}" class="has-text-black">
              {{ .Title }}
            </a>
          </p>
          {{ end }}

          {{ with .PrevInSection }}
          <p>
            <span class="icon has-text-purple">
              <i class="fas fa-arrow-right"></i>
            </span>
            <a href="{{ .RelPermalink }}" class="has-text-black">
              {{ .Title }}
            </a>
          </p>
          {{ end }}
          {{ end }}
        </section>
      </div>

      <div class="column is-two-thirds">
        <section class="section">
          <div class="content pb-6" id="docs-content">
            {{ .Content }}
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
{{ end }}