{{ define "title" }}
{{ .Title }} | {{ site.Title }}
{{ end }}

{{ define "main" }}
{{ $here := .RelPermalink }}
<div class="relative max-w-3xl lg:max-w-5xl mx-auto px-6 lg:px-8 lg:grid lg:grid-cols-5 lg:gap-8 mt-16">
  <main aria-label="Main guide content" class="lg:col-span-4 md:px-0">
    {{ partial "docs/hero.html" . }}

    <div class="pb-32">
      {{ partial "docs/content.html" . }}
    </div>

    {{ partial "docs/pagination.html" . }}
  </main>

  <div class="hidden lg:block xl:col-span-1">
    <aside aria-label="Table of contents" class="sticky top-6">
      {{ partial "docs/toc.html" . }}
    </aside>
  </div>
</div>
{{ end }}