.sidebar {
  font-size: 1.1em;
}

.menu {
  margin-bottom: calc(var(--ifm-spacing-vertical) * 1);
}

@media (min-width: 997px) {
  .sidebar {
    font-size: 0.85em;
    font-weight: bold;
    height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 0;
  }

  .sidebarLogo {
    color: inherit !important;
    display: flex !important;
    align-items: center;
    height: var(--ifm-navbar-height);
    max-width: var(--ifm-navbar-logo-width);
    text-decoration: none !important;
  }

  .menu {
    font-weight: inherit;
    padding-top: var(--ifm-spacing-vertical);
  }
}

.sidebarLogo {
  display: none;
}

.sidebarMenuIcon {
  vertical-align: middle;
}

.sidebarMenuCloseIcon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  font-size: 2em;
  font-weight: var(--ifm-font-weight-bold);
  line-height: 0.9;
  width: 24px;
}
