.docs-sidebar .menu .menu__link.menu__link--sublist::after {
  margin-right: var(--ifm-spacing-horizontal);
}

.docs-sidebar .menu__link.menu__link--active:not(.menu__link--sublist) {
  border-radius: 0;
  border-right: 2px solid var(--ifm-color-primary);
}

.docs-sidebar .menu__link.menu__link--active:not(.menu__link--sublist) .badge {
  background: rgba(var(--ifm-color-primary-rgb), 0.2);
  background-clip: padding-box;
  border: 1px solid rgba(var(--ifm-color-primary-rgb), 0.2);
  color: var(--ifm-color-primary);
}
