{{ $platforms := slice }}
{{ range site.Data.ui.platforms }}
{{ $platforms = $platforms | append .name }}
{{ end }}

<div class="no-prose border rounded-md shadow py-3 px-4 dark:border-gray-700">
  <div class="flex flex-col space-y-2">
    {{ partial "ui/selector.html" (dict "name" "Platform" "items" $platforms "var" "platform") }}

    {{ range $platforms }}
    {{ $platform := index (where site.Data.ui.platforms ".name" .) 0 }}
    <div x-show="$store.ui.platform === '{{ . }}'">
      {{ partial "ui/selector.html" (dict "name" "Interface" "items" $platform.interfaces "var" "interface") }}
    </div>
    {{ end }}

    <div x-show="$store.ui.interface === 'Docker CLI'">
      {{ partial "ui/docker-cli.html" . }}
    </div>
  </div>
</div>