{{ $hex := .Params.hex }}
{{ $text := .Params.text | default "black" }}
<div class="color-panel" style="background-color: #{{ $hex }}">
  <p class="has-text-{{ $text }}">
    <span>
      Hex:
    </span>
    <span class="has-text-weight-bold">
      #{{ $hex }}
    </span>
  </p>

  <p class="has-text-{{ $text }}">
    <span>
      RGB:
    </span>
    <span>
      (<span class="has-text-weight-bold">
        {{- .Params.r -}}
      </span>,
      <span class="has-text-weight-bold">
        {{ .Params.g -}}
      </span>,
      <span class="has-text-weight-bold">
        {{ .Params.b -}}
      </span>)
    </span>
  </p>
</div>