{{ $commands := site.Data.docs.administration.example_docker_install_commands }}
{{ $defaultCommand := (index $commands 0).title }}
<div x-data="{ command: '{{ $defaultCommand }}' }" class="no-prose">
  <div class="flex space-x-5" role="tablist" aria-orientation="horizontal">
    {{ range $commands }}
    <button
      @click="command = '{{ .title }}'"
      :class="{ 'text-secondary dark:text-primary font-bold': command === '{{ .title }}' }"
      role="tab"
      tabindex="0"
      class="text-sm font-light tracking-tight text-gray-500 cursor-pointer md:text-base lg:text-lg dark:text-gray-400"
    >
      {{ .title }}
    </button>
    {{ end }}
  </div>

  {{ range $commands }}
  <div x-show="command === '{{ .title }}'">
    <div class="p-1 mt-3 overflow-x-scroll bg-black rounded-md">
      {{ highlight .command "bash" "" }}
    </div>
  </div>
  {{ end }}
</div>
