{{ $path := .Get "file" }}
{{ if not $path }}
  {{ errorf "embed shortcode at %s: no \"file\" param given" .Page.File.Path }}
{{ end }}

{{ if not (fileExists $path) }}
  {{ errorf "embed shortcode at %s: file %q does not exist" .Page.File.Path $path }}
{{ end }}

{{ $lang := .Get "lang" | default (path.Ext $path | strings.TrimPrefix ".") }}
{{ $showDir := eq (.Get "dir") "true" }}
{{ $marker := printf "%s/" .Page.File.BaseFileName }}
{{ $parts := split $path $marker }}
{{ $relPath := index $parts (sub (len $parts) 1) }}
{{ $label := .Get "label" | default (cond $showDir $relPath (path.Base $path)) }}
{{ $content := readFile $path }}
{{ $githubUrl := printf "https://github.com/vectordotdev/vector/blob/master/website/%s" $path }}
{{ $open := true }}
{{ if eq (.Get "open") "false" }}
  {{ $open = false }}
{{ end }}

{{ $chevron := `<svg class="embed-chevron w-4 h-4 mr-2 flex-none" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" /></svg>` }}

{{ $header := printf `<div class="flex justify-between items-center px-4 py-2 text-sm">
    <span class="flex items-center">%s<code class="text-gray-600 dark:text-gray-400">%s</code></span>
    <a href="%s" target="_blank" rel="noopener noreferrer" class="text-secondary dark:text-primary hover:underline">
      View on GitHub
    </a>
  </div>` $chevron $label $githubUrl }}

<style>
  .embed-chevron { transition: transform 300ms ease; }
  details[open] > summary .embed-chevron { transform: rotate(90deg); }
  .embed-content { overflow: hidden; transition: height 300ms ease; }
</style>
<details class="embed-details no-prose mb-4 border dark:border-gray-700 rounded-md"{{ if $open }} open{{ end }}>
  <summary class="list-none cursor-pointer marker:content-none [&::-webkit-details-marker]:hidden">{{ $header | safeHTML }}</summary>
  <div class="embed-content">
    {{ highlight $content $lang "" }}
  </div>
</details>
