{{ $api := site.Data.docs.api }}
{{ $endpoints := $api.endpoints }}
{{ $methodColors := dict "GET" "info" "POST" "warning" }}

{{ range $path, $info := $endpoints }}
{{ range $method, $v := $info }}
{{ $color := index $methodColors $method }}
<div class="card mb-2">
  <header class="card-header">
    <p class="card-header-title is-horizontally-spaced">
      <span class="code">
        {{ $path }}
      </span>

      <span class="button is-rounded is-small is-{{ $color }}">
        {{ $method }}
      </span>
    </p>
  </header>

  <div class="card-content">
    {{ $v.description | markdownify }}
  </div>
</div>
{{ end }}
{{ end }}