{{ $metrics := site.Data.docs.components.sources.internal_metrics.output.metrics }}
<div class="overflow-x-scroll">
  <table>
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Description
        </th>
        <th>
          Data type
        </th>
      </tr>
    </thead>
    <tbody>
      {{ range $metrics }}
      <tr>
        <td>
          <code>
            {{ .name }}
          </code>
        </td>
        <td>
          {{ .description | markdownify }}
        </td>
        <td>
          {{ $href := printf "/docs/about/under-the-hood/architecture/data-model/metric/#%s" .type }}
          <a href="{{ $href }}">
            {{ .type }}
          </a>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>