{{ $topologies := sort site.Data.docs.administration.topologies ".order" }}
{{ range $topologies }}
{{ partial "heading.html" (dict "text" .title "level" 2) }}
{{ template "topology-image" .title }}

<div class="mt-5">
  {{ .description | markdownify }}
</div>

{{ partial "heading.html" (dict "text" "Pros" "level" 3 "id" (printf "pros-%s" (.title | urlize))) }}
<ul>
  {{ range .pros }}
  <li>
    <strong>{{ .title }}</strong>. {{ .description | markdownify }}
  </li>
  {{ end }}
</ul>

{{ partial "heading.html" (dict "text" "Cons" "level" 3 "id" (printf "cons-%s" (.title | urlize))) }}
<ul>
  {{ range .cons }}
  <li>
    <strong>{{ .title }}</strong>. {{ .description | markdownify }}
  </li>
  {{ end }}
</ul>
{{ end }}

{{ define "topology-image" }}
{{ $svg := printf "img/topologies/%s.svg" (. | urlize) }}
{{ partial "svg.html" (dict "src" $svg) }}
{{ end }}