{{ $comm := .Params.community }}
{{ $social := site.Menus.community }}
<div class="py-12 md:py-16 lg:py-20 px-4 sm:px-6 mx-auto max-w-7xl">
  <div class="text-center">
    <div class="bg-clip-text text-transparent bg-gradient-to-r from-primary to-secondary py-2">
      <h1 class="text-3xl md:text-4xl lg:text-4.5xl font-extrabold leading-looser">
        {{ $comm.title }}
      </h1>

      <div class="mt-5 inline-flex bg-gradient-to-r from-primary to-purple-v h-1 w-20"></div>
    </div>

    {{/* Project stats */}}
    <div class="mt-4 md:mt-6 inline-flex divide-x dark:divide-gray-600">
      {{ range $comm.stats }}
      <div class="flex flex-col px-6 lg:px-8 py-2">
        <span class="text-3xl md:text-4xl lg:text-4.5xl font-light dark:text-gray-100">
          {{ .figure }}
        </span>
        <span class="mt-2 text-sm md:text-base text-gray-400 tracking-tight leading-tight font-semibold">
          {{ .title }}
        </span>
      </div>
      {{ end }}
    </div>

    {{/* Social links */}}
    <div class="mt-8">
      <div class="inline-flex space-x-6 md:space-x-8">
        {{ range $social }}
        {{ template "community-button" . }}
        {{ end }}
      </div>
    </div>
  </div>
</div>

{{ define "community-button" }}
<div class="flex items-center space-x-1.5 text-md lg:text-lg">
  <ion-icon name="logo-{{ .Params.icon }}" class="text-{{ .Params.color }}"></ion-icon>

  <a href="{{ .URL }}" class="hover:underline text-gray-400 tracking-tight" target="_blank">
    {{ .Name }}
  </a>
</div>
{{ end }}