{{ $tabs := .Params.platform_tabs }}
<section class="section my-6">
  <div class="container">
    <div class="columns is-variable is-8">
      <div class="column is-one-quarter">
        <p class="title is-size-3 is-size-4-mobile has-text-weight-light is-spaced">
          A complete, end-to-end platform
        </p>

        <hr class="narrow" />
    
        <p class="subtitle has-text-weight-light">
          Deploy Vector in a variety of <a href="/docs/setup/deployment/roles">roles</a> to suit your use case.
        </p>
      </div>

      <div class="column">
        <div x-data="{ tab: 'distributed' }">
          <div class="tabs is-centered is-fullwidth">
            <ul>
              {{ range $tabs }}
              {{ $slug := . | urlize }}
              <li :class="{ 'is-active': tab === '{{ $slug }}' }">
                <a class="has-text-weight-light" :class="{ 'has-text-weight-bold': tab === '{{ $slug }}' }" @click="tab = '{{ $slug }}'">
                  <span>{{ . }}</span>
                </a>
              </li>
              {{ end }}
            </ul>
          </div>
    
          {{ range $tabs }}
          {{ $slug := . | urlize }}
          {{ $svg := printf "pipelines-%s.svg" $slug }}
          {{ $url := printf "/docs/setup/deployment/topologies/#%s" $slug }}
          {{ $dist := eq $slug "distributed" }}
          <div x-show="tab === '{{ $slug }}'">
            <div class="svg-container has-text-centered{{ if $dist }} distributed{{ end }}">
              {{ partial "svg.html" (dict "src" $svg) }}
            </div>
    
            <p class="has-text-weight-light has-text-centered">
              Learn more about the <a class="has-text-weight-bold" href="{{ $url }}">{{ $slug }}</a> topology
            </p>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    </div>
</section>