{{ $tagline := site.Params.tagline }}
{{ $undertagline := site.Params.undertagline }}
{{ $subtagline := site.Params.subtagline }}
{{ $latest := index site.Data.docs.versions 0 }}
{{ $link := printf "releases/%s" $latest | relURL }}
<div class="py-16 md:py-20 lg:py-24 relative bg-gradient-to-r from-white to-gray-100 dark:from-dark dark:to-black">
  <div class="px-4 sm:px-6 text-center lg:text-left mx-auto max-w-7xl">
    <a href="{{ $link }}" class="dark:bg-gray-800 bg-gradient-to-r uppercase from-primary to-purple-v inline-flex items-center text-white rounded-full py-1 px-1.5 sm:text-base lg:text-sm xl:text-base hover:text-gray-100">
      <span class="bg-black text-white font-semibold px-2.5 py-0 lg:py-0.5 text-xs leading-5 tracking-tight rounded-full">
        New
      </span>
      <span class="ml-2.5 lg:ml-3 text-xs md:text-sm font-semibold">
        Vector version <span class="font-extrabold">{{ $latest }}</span>
      </span>
      {{/* Heroicon name: solid/chevron-right */}}
      <svg xmlns="http://www.w3.org/2000/svg" class="text-white ml-2 w-4 h-4 transition transform hover:translate-x-0.5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
      </svg>
    </a>
    <h1 class="dark:text-gray-100 text-gray-800 my-6 md:my-8 lg:my-10 text-6xl lg:text-7xl tracking-tight font-extrabold sm:mt-5 sm:leading-none">
      {{ site.Title }}
    </h1>
    <p class="dark:text-gray-300 text-gray-600 text-2xl lg:text-3xl">
      {{ site.Params.description }}
    </p>
  </div>
</div>