<section class="hero is-medium is-black">
  <div class="hero-body has-text-centered">
    <div class="container">
      <p class="title is-size-1 is-size-2-mobile has-text-primary has-text-weight-medium is-spaced">
        {{ site.Params.tagline }}
      </p>

      <p class="subtitle is-size-3 is-size-4-mobile has-text-light has-text-weight-light">
        {{ site.Params.undertagline }}
      </p>

      <p class="is-size-5 is-size-6-mobile has-text-weight-light">
        {{ site.Params.subtagline }}
      </p>
    </div>
  </div>
</section>
