{{ $why := .Params.why }}
<section class="section my-6">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
        <p class="title is-size-3 is-size-4-mobile has-text-weight-light">
          Why Vector?
        </p>

        <hr class="narrow" />
      </div>

      <div class="column is-four-fifths">
        <div class="columns is-multiline">
          {{ range $why }}
          <div class="column is-half mb-4">
            <p class="title is-size-4 is-size-5-mobile has-text-weight-light is-spaced ">
              {{ .title }}
            </p>
    
            <p class="subtitle is-size-5 is-size-6-mobile has-text-weight-light">
              {{ .description | markdownify }}
            </p>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>