{{ define "title" }}
Download | {{ site.Title }}
{{ end }}

{{ define "main" }}
{{ $releases := site.Data.docs.releases }}
{{ $versions := site.Params.vector_versions }}
{{ $latest := index $versions 0 }}
<div class="relative max-w-3xl lg:max-w-7xl px-6 lg:px-8 mx-auto">
  <div class="my-16">
    {{ partial "hero.html" . }}

    <div class="mt-6 flex items-center justify-between flex-wrap">

      {{ partial "download/release-toggle.html" . }}
      <div>
        VERSION
      </div>
    </div>
  </div>
</div>
{{ end }}
