{{/* TODO: find a way to generate less HTML for displaying the download info */}}

{{ define "title" }}
Download | {{ site.Title }}
{{ end }}

{{ define "main" }}
{{ $releases := site.Data.docs.releases }}
{{ $versions := site.Data.docs.versions }}
{{ $latest := index $versions 0 }}
<div class="relative max-w-3xl lg:max-w-7xl px-6 lg:px-8 mx-auto">
  <div class="my-16">
    {{ partial "hero.html" . }}

    <div class="mt-10 mb-8">
      <div class="flex items-center space-x-6">
        {{ partial "download/release-toggle.html" . }}

        {{ partial "download/version-selector.html" . }}

        {{ template "latest-toggler" }}
      </div>
    </div>

    {{/* Stable releases */}}
    {{ range $k, $v := $releases }}
    <div x-show="$store.global.version === '{{ $k }}'">
      <div class="flex items-center space-x-10">
        <span class="text-md lg:text-lg font-light text-dark dark:text-gray-300">
          Date <span class="ml-1.5 font-bold">{{ $v.date }}</span>
        </span>

        <span class="text-md lg:text-lg font-light text-dark dark:text-gray-300">
          License <a href="https://github.com/vectordotdev/vector/blob/master/LICENSE" class="ml-1.5 hover:text-secondary dark:hover:text-primary font-bold" target="_blank">MPL 2.0</a>
        </span>

        <a href="/releases/{{ $k }}" class="text-md lg:text-lg text-dark dark:text-primary hover:text-secondary dark:hover:text-secondary">
          {{ $k }} release notes
        </a>
      </div>

      <div class="mt-8">
        <div class="lg:grid lg:grid-cols-3 gap-8">
          <div class="col-span-2">
            <div class="prose">
              {{ partial "heading.html" (dict "text" "Downloads" "level" 2) }}
            </div>

            <div class="mt-2 border px-4 py-3 lg:px-6 lg:py-4 rounded-md dark:border-gray-700">
              {{ partial "download/download-matrix.html" (dict "version" $k) }}
            </div>
          </div>

          {{ template "methods" }}
        </div>
      </div>
    </div>
    {{ end }}

    {{/* Nightly release */}}
    <div x-show="$store.global.isNightly()" x-data="{ date: new Date().toISOString().slice(0, 10) }">
      <div class="flex items-center space-x-8">
        <span class="text-md lg:text-lg font-light text-dark dark:text-gray-300">
          Date <strong class="ml-1.5 font-bold" x-text="date"></strong>
        </span>

        <span class="text-md lg:text-lg font-light text-dark dark:text-gray-300">
          License <a href="https://github.com/vectordotdev/vector/blob/master/LICENSE" class="ml-1.5 hover:text-secondary dark:hover:text-primary font-bold" target="_blank">MPL 2.0</a>
        </span>
      </div>

      <div class="mt-8">
        <div class="lg:grid lg:grid-cols-3 gap-8">
          <div class="col-span-2">
            <div class="prose">
              {{ partial "heading.html" (dict "text" "Downloads" "level" 2) }}
            </div>

            <div class="mt-2 border px-4 py-3 lg:px-6 lg:py-4 rounded-md dark:border-gray-700">
              {{ partial "download/download-matrix.html" (dict "version" "nightly") }}
            </div>

            {{ template "nightly-warning" }}
          </div>

          {{ template "methods" }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "nightly-warning" }}
<div class="mt-8 rounded-md border-yellow-400 border-2 px-4 py-3 flex items-start bg-yellow-100 dark:bg-dark">
  {{/* Heroicon: outline/exclamation */}}
  <span>
    <svg xmlns="http://www.w3.org/2000/svg" class="text-yellow-500 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
    </svg>
  </span>

  <span class="tracking-tight text-gray-600 dark:text-gray-300 ml-3">
    Nightly versions contain bleeding-edge changes that may contain bugs. Proceed with caution.
  </span>
</div>
{{ end }}

{{ define "methods" }}
<div class="col-span-1 mt-6 lg:mt-0">
  <div class="prose">
    {{ partial "heading.html" (dict "text" "Other methods" "level" 2) }}
  </div>

  <div class="mt-2 flex flex-col divide-y divide-gray-200 border rounded-md dark:border-gray-700">
    {{ partial "download/links.html" . }}
  </div>
</div>
{{ end }}

{{ define "download-heading" }}
<p class="text-2xl lg:text-2.5xl tracking-tight text-dark dark:text-gray-300 font-semibold mb-3">
  {{ .text }}
</p>
{{ end }}

{{ define "latest-toggler" }}
<button type="button" x-show="$store.global.notLatest()" @click="$store.global.setToLatest()" class="inline-flex items-center px-3.5 py-2 border-3 text-sm leading-4 font-semibold rounded-full shadow-sm text-dark dark:text-gray-200 border-primary dark:border-secondary hover:bg-primary dark:hover:bg-secondary">
  Set to latest version
</button>
{{ end }}