{{ $errors := site.Data.docs.remap.errors }}
<div class="no-prose flex flex-col border rounded-md divide-y dark:border-gray-700">
  {{ range $code, $error := $errors }}
  {{ $id := printf "%s %s" $code $error.title | urlize }}
  <div x-data="{ open: true }" class="dark:border-gray-700 py-4 px-6">
    <span class="flex items-center justify-between">
      <h3 id="{{ $code }}">
        <span class="font-mono text-secondary">
          {{ $code }}
        </span>

        <a href="#{{ $code }}" class="text-gray-700 dark:text-white">
          {{ $error.title }}
        </a>
      </h3>

      {{ template "errors-toggler" }}
    </span>

    <div x-show="open">
      {{ with $error.description }}
      <div class="mt-4 leading-tight">
        {{ . | markdownify }}
      </div>
      {{ end }}

      {{ with $error.rationale }}
      <div class="mt-2">
        <span class="font-semibold">
          Rationale
        </span>

        <div class="mt-2 leading-tight">
          {{ . | markdownify }}
        </div>
      </div>
      {{ end }}

      {{ with $error.resolution }}
      <div class="mt-2">
        <span class="font-semibold">
          Resolution
        </span>

        <div class="mt-2 leading-tight">
          {{ . | markdownify }}
        </div>
      </div>
      {{ end }}

      {{ with $error.examples }}
      <div x-data="{ open: false }" class="mt-4 border rounded-md py-2 px-4 dark:border-gray-700">
        <span class="flex justify-between items-center">
          <span class="font-semibold">
            Examples
          </span>

          {{ template "errors-toggler" }}
        </span>

        <div x-show="open" class="mt-2 flex flex-col divide-y dark:divide-gray-700 border rounded-sm dark:border-gray-700">
          {{ range . }}
          <div class="py-2 px-3 rounded-sm dark:border-gray-700">
            <span class="font-semibold">
              {{ .title }}
            </span>

            {{/* Example event (log or metric) */}}
            {{ with .input }}
            {{ with .log }} {{/* Log event */}}
            {{ $json := . | jsonify (dict "indent" "  ") }}
            <span class="tracking-tighter font-semibold text-sm">
              Log event
            </span>

            {{ highlight $json "json" "" }}
            {{ end }}

            {{ with .metric }} {{/* Metric event */}}
            {{ $json := . | jsonify (dict "indent" "  ") }}
            <span class="tracking-tighter font-semibold text-sm">
              Metric event
            </span>

            {{ highlight $json "json" "" }}
            {{ end }}
            {{ end }}

            {{ with .source }}
            <span class="tracking-tighter font-semibold text-sm">
              VRL program
            </span>

            {{ highlight . "ruby" "" }}
            {{ end }}

            {{/* Example diff */}}
            {{ with .diff }}
            <span class="tracking-tighter font-semibold text-sm">
              How to fix it
            </span>

            {{ highlight . "diff" "" }}
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}
</div>

{{ define "errors-toggler" }}
<button @click="open = !open">
  {{/* Heroicon: outline/plus */}}
  <svg x-show="!open" xmlns="http://www.w3.org/2000/svg" class="text-gray-600 dark:text-gray-400 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
  </svg>

  {{/* Heroicon: outline/minus-sm */}}
  <svg x-show="open" xmlns="http://www.w3.org/2000/svg" class="text-gray-600 dark:text-gray-400 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6" />
  </svg>
</button>
{{ end }}
