<%- release = metadata.releases.send("0.7.1") -%>
<%= release_header(release) %>

<%- if release.highlights.any? -%>
## Highlights

<div className="sub-title">Noteworthy changes in this release</div>

<%= release_highlights(release, heading_depth: 3) %>

<%- end -%>
## Changelog

<div className="sub-title">A complete list of changes</div>

<Changelog version={<%= release.version.to_json %>} />

## What's Next

<%= release_whats_next(release) %>
