<?xml version="1.0" encoding="utf-8"?>
<Wix
  xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
  >
  <Product
    Id="7FAD6F97-D84E-42CC-A600-5F4EC3460FF5"
    UpgradeCode="0596ECAA-4D39-48E9-AB23-DA89A85AE67E"
    Name="Vector"
    Version="$VERSION"
    Manufacturer="Vector Developers &lt;vector@datadoghq.com&gt;"
    Language="1033"
    >
    <Package
      Id="*"
      Description="Vector Installer"
      InstallerVersion="200"
      Compressed="yes"
      Languages="1033"
      Platform="x64"
      />
    <Icon
      Id="VectorIco"
      SourceFile="vector.ico"
      />
    <SetProperty
      Id="DocsURL"
      Value="https://vector.dev/docs"
      Sequence="execute"
      Before="CreateShortcuts"
      />
    <Icon
      Id="DocsIco"
      SourceFile="docs.ico"
      />
    <UIRef
      Id="WixUI_InstallDir"
      />
    <WixVariable
      Id="WixUIDialogBmp"
      Value="background.png"
      />
    <WixVariable
      Id="WixUIBannerBmp"
      Value="banner.png"
      />
    <WixVariable
      Id="WixUILicenseRtf"
      Value="LICENSE.rtf"
      />
    <Property
      Id="WIXUI_INSTALLDIR"
      Value="INSTALLDIR"
      />
    <Condition
      Message="You need to be an administrator to install Vector."
      >
      Privileged
    </Condition>
    <Media
      Id="1"
      Cabinet="vector.cab"
      EmbedCab="yes"
      />
    <Directory
      Id="TARGETDIR"
      Name="SourceDir"
      >
      <Directory
        Id="ProgramFiles64Folder"
        >
        <Directory
          Id="INSTALLDIR"
          Name="Vector"
          >
          <Component
            Id="VectorCmd"
            Guid="C96DDA4D-D2B7-4094-91E6-7350764A4866"
            Win64="yes"
            >
            <File
              Id="VectorCmd"
              DiskId="1"
              Source="vector-cmd.bat"
              />
          </Component>
        </Directory>
      </Directory>
      <Directory
        Id="ProgramMenuFolder"
        >
        <Directory
          Id="VectorStartMenuDir"
          Name="Vector"
          >
          <Component
            Id="VectorCmdShortcutComponent"
            Guid="6389769A-136F-4DEC-AB2D-ECD5BD448BA2"
            >
            <Shortcut
              Id="VectorCmdShortcut"
              Name="Vector CMD"
              Description="Vector's command prompt environment"
              Directory="VectorStartMenuDir"
              Icon="VectorIco"
              Target="[INSTALLDIR]vector-cmd.bat"
              />
            <Shortcut
              Id="VectorDocsShortcut"
              Name="Documentation"
              Description="Vector's documentation website"
              Directory="VectorStartMenuDir"
              Icon="DocsIco"
              Target="[DocsURL]"
              />
            <Shortcut
              Id="VectorConfigShortcut"
              Name="Configuration"
              Description="Vector's configuration folder"
              Directory="VectorStartMenuDir"
              Target="[INSTALLDIR]config"
              />
            <RemoveFolder
              Id="RemoveStartMenuDirVectorCmd"
              Directory="VectorStartMenuDir"
              On="uninstall"
              />
            <RegistryValue
              Root="HKCU"
              Key="Software\Vector"
              Name="installed"
              Type="integer"
              Value="1"
              KeyPath="yes"
              />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <Feature
      Id="Vector"
      Description="The complete installation."
      Level="1"
      Display="expand"
      ConfigurableDirectory="INSTALLDIR"
      >
      <ComponentGroupRef
        Id="Vector"
        />
      <ComponentRef
        Id="VectorCmd"
        />
      <ComponentRef
        Id="VectorCmdShortcutComponent"
        />
    </Feature>
  </Product>
</Wix>
