$scroll-adjust-margin: 1rem
$scroll-adjust: $navbar-height + $scroll-adjust-margin

// Allow the element to be scrollable
.is-scrollable
  overflow-y: auto

// Fix the issue where headers are obscured by the fixed navbar
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before
    display: block
    content: " "
    height: $scroll-adjust
    margin-top: -#{$scroll-adjust}
    visibility: hidden

// Ensure a sticky footer at the bottom of each page
.page
  display: flex
  flex-direction: column
  min-height: 100vh

  .main
    flex: 1

// Some small tweaks to the footer aesthetic
.footer
  a, .icon
    color: $primary

    &:hover
      color: $vector-magenta

// hr elements used on the main page for flair
hr.narrow
  width: 3em
  height: 2.5px
  background-color: $primary
  margin: 0 0 2rem 0

// SVGs on the main page in the "A complete, end-to-end platform" section
.svg-container
  margin: 0 auto

  svg
    margin: 2rem 0 3rem 0
    width: 90%
    height: auto

  // This SVG has different dimensions from the others and needs to be treated
  // a bit differently
  &.distributed
    width: 60%
    height: auto

    +mobile
      width: 70%

// Small fixes for text content CSS
.content
  .icon.is-anchor
    &:hover
      color: $secondary

  a.no-break
    display: inline-block

  a:hover
    color: $secondary

  .highlight + p, .highlight + h6
    margin-top: 0.75rem

  h6
    margin-top: 1rem
    font-size: 1rem
    font-weight: $weight-semibold

// Some spacing helpers for inserting SVGs into documentation text
.svg
  margin-bottom: 2rem

  svg
    display: block
    margin: 0 auto
    height: auto
    max-width: 100%

  & + p
    margin-top: 1rem

// Used for the external link icon in superscript
sup.ml-tiny
  margin-left: 0.1rem

// Basic hover effect for cards
.card.is-hoverable
  &:hover
    background-color: $white-bis

.is-horizontally-spaced
  display: flex
  flex-direction: row
  justify-content: space-between

.code
  color: $dark
  font-family: $family-monospace
  font-weight: $weight-semibold

.link-card
  box-shadow: $card-shadow
  padding: $card-content-padding
  margin-bottom: 0

  &:hover
    background-color: $white-bis

.metrics
  .metric-tags
    padding-left: 1rem

.requirements
  background-color: $black
  color: $grey-lighter
  font-size: 1rem

  .highlight, code
    //width: 10rem
    overflow-x: scroll
    border-radius: 5px
    color: $vector-light-blue

  a
    color: $vector-light-blue

  .requirement
    padding: 0.75rem 1rem
    display: flex
    flex-direction: row
    align-items: center

    code
      background-color: $grey-darker

    .icon
      flex: 1

    .text
      flex: 19

    & + .requirement
      border-top: 1px solid $grey-lighter

.component-card
  background-color: $black
  padding: 1rem 1.25rem
  height: 100%

  p
    color: $light

  &:hover
    background-color: $grey-darker

    .component-card-header
      color: $vector-light-blue

    p
      color: $white-bis

  .component-card-header
    font-size: 1.25rem
    line-height: 130%

    & + .component-card-content
      margin-top: 0.75rem

  .component-card-content
    color: $grey

.jump
  background-color: $white-bis
  padding: 0.5rem 0.75rem
  border-radius: 5px
  +x-spaced

  & + .jump, & + p
    margin-top: 0.75rem

  .link
    font-size: 1rem
    color: $black
    font-weight: $weight-semibold

    .icon
      margin-right: 0.25rem
      color: $primary

  .icon
    color: $red

  &:hover
    transition: background-color 0.5s ease-in-out
    background-color: $black

    .link
      color: $white

      .icon
        transition: all 0.5s ease-in-out
        color: $purple

    .right-icon
      color: $purple
      transition: all 0.25s ease-in-out
      padding-left: 0.75rem
      font-size: 1.25rem

.rotate-90
  transform: rotate(90deg)
  transition-duration: 0.2s
