// Debug element sizes
=x
  border: 1.5px solid red
  
// Spaced-out row
=x-spaced
  display: flex
  flex-direction: row
  justify-content: space-between

=y-centered-row
  align-items: center

// Transitions (docs sidebar fade in/out)
.transition
  &.enter
    transition: all 4s ease-in
  &.leave
    transision: all 4s ease-out
