.blogPost {
  --ifm-container-width: 900px;
}

.header {
  margin: 0;
  padding: calc( var(--ifm-spacing-vertical) * 2 ) 0 calc( var(--ifm-spacing-vertical) * 3 ) 0;
  text-align: center;
}

@media (max-width: 480px) {
  .header {
    padding: calc( var(--ifm-spacing-vertical) * 2 ) 0;
  }

  .header h1 {
    font-size: 2em !important;
  }
}

html[data-theme='dark'] .headerBackground {
  filter: invert(1);
}
