[Unit]
Description="Vector - An observability pipelines tool"
Documentation=https://vector.dev/
Wants=network-online.target
After=network-online.target

[Service]
Type=exec
User=vector
Group=vector
# Use `systemctl edit vector-agent` override environment variables,
# or place `.conf` files under "/etc/systemd/system/vector-agent.d/".
ENVIRONMENT="LOG_FORMAT=json"
ENVIRONMENT="VECTOR_CONFIG_YAML=/etc/vector/agent/vector.yaml"
ExecStartPre=/usr/bin/vector validate
ExecStart=/usr/bin/vector
ExecReload=/usr/bin/vector validate
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
