.blog-list {
  display: flex;
  margin-top: calc( var(--ifm-spacing-vertical) * 4 );
}

.blog-list--filters {
  --ifm-sidebar-width: 400px;
  flex: 0 0 var(--ifm-sidebar-width);
  margin-right: calc( var(--ifm-spacing-horizontal) * 3 );
  max-width: var(--ifm-sidebar-width);
  padding-top: calc( var(--ifm-spacing-vertical) + 2px );
}

.blog-list--filters h1 {
  margin-bottom: var(--ifm-spacing-vertical);
}

.blog-list--filters h3 {
  color: var(--ifm-color-emphasis-300);
  font-size: 1em;
  margin-bottom: var(--ifm-spacing-vertical);
  text-transform: uppercase;
}

.blog-list--filters ul {
  font-size: 0.9em;
}

.blog-list--items {
  flex: 1 1;
  margin-left: var(--ifm-spacing-horizontal);
}

.blog-list .mailing-list {
  border-top: 1px solid var(--ifm-hr-border-color);
  margin-top: calc( var(--ifm-spacing-vertical) * 2 );
  padding-top: calc( var(--ifm-spacing-vertical) * 2 );
}

@media (max-width: 996px) {
  .blog-list {
    display: block;
    margin-top: calc( var(--ifm-spacing-vertical) * 2 );
  }

  .blog-list--filters {
    margin-right: 0;
    max-width: none;
    text-align: center;
  }

  .blog-list--filters h3 {
    display: none;
  }

  .blog-list--filters ul {
    display: inline-block;
  }

  .blog-list--filters ul li {
    display: inline-block;
  }

  .blog-list--items {
    margin-left: 0;
  }

  .blog-list .mailing-list {
    background-color: var(--ifm-panel-background-color);
    border: 1px solid var(--ifm-panel-border-color);
    border-radius: var(--ifm-global-radius);
    box-shadow: var(--ifm-panel-box-shadow);
    margin-bottom: calc( var(--ifm-spacing-vertical) * 1 );
    padding-bottom: calc( var(--ifm-spacing-vertical) * 1 );
    padding-left: var(--ifm-spacing-horizontal);
    padding-right: var(--ifm-spacing-horizontal);
  }
}
