{{ $examples := .examples }}
{{ $levels := slice "common" "advanced" }}
{{ $formats := slice "yaml"  "toml" "json" }}
<div x-data="{ level: 'common', format: $store.global.format }" class="no-prose mb-4 border dark:border-gray-700 rounded-md shadow py-4 px-6">
  <span>
    {{ partial "heading.html" (dict "text" "Example configurations" "level" 3) }}
  </span>

  <div class="flex justify-between mt-2 text-sm">
    <div class="inline-flex space-x-2">
      {{ range $levels }}
      <button :class="{ 'text-secondary dark:text-primary': level === '{{ . }}' }" @click="level = '{{ . }}'">
        {{ . | title }}
      </button>
      {{ end }}
    </div>

    <div class="inline-flex space-x-2">
      {{ range $formats }}
      <button :class="{ 'text-secondary dark:text-primary': $store.global.format === '{{ . }}' }" @click="$store.global.format = '{{ . }}'">
        {{ . | upper }}
      </button>
      {{ end }}
    </div>
  </div>

  {{ range $levels }}
  {{ $example := index $examples . }}
  <div x-show="level === '{{ . }}'" class="mt-1.5">
    {{ range $format, $v := $example }}
    <div x-show="$store.global.format === '{{ $format }}'">
      {{ highlight $v $format "" }}
    </div>
    {{ end }}
  </div>
  {{ end }}
</div>
