{{ $category := .Get 0 }}
{{ $funcs := slice }}
{{ range site.Data.docs.remap.functions }}
{{ if eq .category $category }}
{{ $funcs = $funcs | append . }}
{{ end }}
{{ end }}

<div class="no-prose border rounded-md flex flex-col divide-y dark:border-gray-700 dark:divide-gray-700">
  {{ range $funcs }}
  {{ $name := .name }}
  {{ $link := printf "docs/reference/vrl/functions/#%s" $name | relURL }}
  <div class="py-4 px-6">
    <span class="text-base font-mono">
      <h3 id="{{ $name }}">
        <a href="#{{ $name }}">
          {{ $name }}
        </a>
      </h3>
    </span>

    <div class="my-4 prose dark:prose-dark leading-snug">
      {{ .description | markdownify }}
    </div>

    <div class="border rounded divide-y dark:border-gray-700 dark:divide-gray-700">
      {{ range .examples }}
      {{ $id := .title | urlize }}
      <div class="py-3 px-5">
        <span class="font-semibold">
          <h4 id="{{ $id}}">
            <a href="#{{ $id }}">
              {{ .title }}
            </a>
          </h4>
        </span>

        <div class="mt-2">
          <span>
            Source
          </span>

          <div>
            {{ highlight .source "ruby" "" }}
          </div>
        </div>

        {{ with .return }}
        <div class="mt-2.5">
          <span>
            Return
          </span>

          <div>
            {{ if or (reflect.IsMap .) (reflect.IsSlice .) }}
            {{ $json := . | jsonify (dict "indent" "  ") }}
            {{ highlight $json "json" "" }}
            {{ else }}
            {{ highlight . "text" "" }}
            {{ end }}
          </div>
        </div>
        {{ end }}

        <div class="mt-4 flex items-center space-x-2 justify-end">
          <span>
            {{/* Heroicon: outline/light-bulb */}}
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z" />
            </svg>
          </span>

          <span class="text-sm">
            Learn more about the <a href="{{ $link }}" class="font-mono font-semibold text-secondary dark:text-primary">{{ $name }}</a> function
          </span>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}
</div>
