{{ $category := .Get 0 }}
{{ $funcs := slice }}
{{ range site.Data.docs.remap.functions }}
{{ if eq .category $category }}
{{ $funcs = $funcs | append . }}
{{ end }}
{{ end }}

{{ range $funcs }}
{{ $example := index .examples 0 }}
{{ $href := $example.title | urlize }}
<h3 x-data="{ show: false }" x-on:mouseover="show = true" x-on:mouseleave="show = false" id="{{ $href }}">
  {{ $example.title }}
  <a class="ml-1" x-cloak x-show="show" href="#{{ $href }}">
    <span class="icon is-small is-anchor">
      <i class="fas fa-hashtag fa-xs"></i>
    </span>
  </a>
</h3>

<div class="highlight"><pre class="chroma"><code class="language-ruby" data-lang="ruby">TODO</code></pre></div>

<p class="tip">
  <span class="icon has-text-primary">
    <i class="far fa-lightbulb"></i>
  </span>
  <span>
    Learn more about the <a href="/docs/reference/vrl/functions/#{{ .name }}">{{ .name }}</a> function.
  </span>
</p>
{{ end }}