{{ $category := .Get 0 }}
{{ $funcs := slice }}
{{ range $k, $func := site.Data.docs.remap.functions }}
{{ if eq $func.category $category }}
{{ $funcs = $funcs | append . }}
{{ end }}
{{ end }}

<div class="configs">
  {{ range $funcs }}
  {{ $name := .name }}
  {{ $func := index site.Data.docs.remap.functions .name }}
  {{ $infallible := not $func.internal_failure_reasons }}
  {{ $args := $func.arguments }}
  {{ $lastArg := sub (len $args) 1 }}
  {{ $return := $func.return }}
  <div class="config">
    <span class="config-title">
      <h3 class="name" id="{{ $name }}">
        {{ $name }}
      </h3>

      <div class="config-buttons">
        {{ $color := cond $infallible "grey" "bold" }}
        <span class="config-button is-{{ $color }}">
          {{ cond $infallible "infallible" "fallible" }}
        </span>
      </div>
    </span>

    <p class="config-description">
      {{ $func.description | markdownify }}
    </p>

    <div class="config-spec">
      <p class="has-text-weight-bold">
        Function spec
      </p>

      <div class="function-spec">
        <span class="name">{{ $name }}</span>(
          {{- range $idx, $arg := $args -}}
          {{ $isLast := eq $idx $lastArg -}}
          <span class="arg{{ if .required }} is-required{{ end }}">{{ .name -}}</span>:
          <span class="types"><{{ delimit .type `<span class="bar"> | </span>` }}></span>{{ if not $isLast }}, {{ end -}}
          {{ end -}}
        ){{- if $return }} <span class="icon"><i class="fas fa-sm fa-arrow-right"></i></i></span> <span class="types"><{{ delimit $return.types " | " }}</span>{{- end -}}>
      </div>

      {{ template "key" }}

      <p class="mt-3 has-text-weight-bold">
        Arguments
      </p>
    </div>
  </div>
  {{ end }}
</div>

{{ define "key" }}
<div class="has-text-right">
  <span class="has-background-black">
    <span>
      required
    </span>
    <span>
      optional
    </span>
    <span>
      &lt;type(s)&gt;
    </span>
  </span>
</div>
{{ end }}