.options .filters {
  color: var(--ifm-color-emphasis-alpha-50);
  padding-bottom: var(--ifm-spacing-vertical);
}

.options .filters .col:first-child {
  padding-left: 0;
}

.options .filters .col:last-child {
  padding-right: 0;
}

.options .filters .feather {
  padding-right: calc( var(--ifm-spacing-horizontal) * 0.2 );
}

.options .filters .search {
  float: left;
}

.options .filters .search input {
  border: 0px none;
  color: inherit;
  font-size: 1em;
  padding-left: 4px;
  width: 80%;
}

.options .filters .checkboxes {
  white-space: nowrap;
}

.options .filters .checkboxes label {
  color: var(--ifm-color-emphasis-alpha-30);
}

.options .empty {
  color: var(--ifm-color-emphasis-alpha-40);
  padding: calc( var(--ifm-spacing-vertical) * 3 );
  text-align: center;
}

.options .empty .icon {
  font-size: 4em;
  font-weight: bold;
  line-height: 1;
}

.options .options-list {
  border-left: 1px solid var(--ifm-hr-border-color);
  margin-left: 0.25em;
}