{{- if .Values.psp.enabled }}
apiVersion: policy/v1beta1
kind: PodSecurityPolicy
metadata:
  name: {{ include "libvector.fullname" . }}
spec:
  privileged: false
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: false
  requiredDropCapabilities:
    - ALL
  volumes:
    - 'hostPath'
    - 'configMap'
    - 'secret'
  allowedHostPaths:
    {{- if eq .Values.storage.mode "hostPath" }}
    - pathPrefix: {{ .Values.storage.hostPath | quote }}
    {{- end }}
    {{- range .Values.extraVolumes }}
    {{- with .hostPath }}
    - pathPrefix: {{ .path }}
    {{- end }}
    {{- end }}
  hostNetwork: false
  hostIPC: false
  hostPID: false
  runAsUser:
    rule: 'MustRunAsNonRoot'
  seLinux:
    rule: 'RunAsAny'
  supplementalGroups:
    rule: 'MustRunAs'
    ranges:
      - min: 1
        max: 65535
  fsGroup:
    rule: 'MustRunAs'
    ranges:
      - min: 1
        max: 65535
{{- end }}
