/*
 * Structure
 */

.jump-to {
  background-color: var(--ifm-panel-background-color);
  border: 1px solid var(--ifm-panel-border-color);
  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-panel-box-shadow);
  color: var(--ifm-heading-color);
  display: block;
  font-weight: 500;
  margin-bottom: var(--ifm-spacing-vertical);
  text-align: left;
  transition: var(--ifm-transition-fast) ease;
}

.jump-to--inner {
  border-radius: var(--ifm-global-radius);
  transition: var(--ifm-transition-fast) ease;
}

.jump-to--inner-2 {
  border-radius: var(--ifm-global-radius);
  display: flex;
  padding: 1em var(--ifm-spacing-horizontal);
  transition: var(--ifm-transition-fast) ease;
}

.jump-to--left,
.jump-to--right {
  font-size: 1.8em !important;
  line-height: 1;
  margin: 0 10px;
  position: relative;
  transition: var(--ifm-transition-fast) ease;
  width: 30px;
}

.jump-to--left i,
.jump-to--right i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.jump-to--main {
  flex: 1 1;
  vertical-align: center;
}

.jump-to--main .badge--right {
  float: right;
  margin-top: 3px;
}

.jump-to--main .sub-title {
  color: var(--ifm-color-content-secondary);
  font-size: 0.8em;
}

.jump-to:hover {
  background: var(--ifm-panel-background-color-active);
  border-color: var(--ifm-color-primary);
  box-shadow: var(--ifm-panel-box-shadow-active);
  text-decoration: none;
}

.jump-to:hover .jump-to--right {
  margin-right: 0;
}

.jump-to:hover .sub-title {
  color: inherit;
}

/*
 * Variations
 */

.jump-to.jump-to--sm {
  font-size: 0.8em;
}

.jump-to.jump-to--primary {
  background: rgba( var(--ifm-color-primary-rgb), 0.2 );
}

.jump-to.jump-to--highlight {
  animation: gradientBG 5s ease-in infinite;
  background-image: var(--ifm-highlight-gradient);
  background-size: 150% 150%;
  border: 0px none;
  font-weight: 600;
  padding: 1px;
}

.jump-to.jump-to--highlight .jump-to--inner {
  background: rgba( var(--ifm-background-color-rgb), 0.85 );
  color: var(--ifm-background-color);
}

.jump-to.jump-to--highlight .jump-to--inner-2 {
  animation: gradientBG 5s ease-in infinite;
  background-image: var(--ifm-highlight-gradient);
  background-size: 150% 150%;
  background-clip: text;
  color: var(--ifm-color-emphasis-700);
}

.jump-to.jump-to--highlight:hover {
  box-shadow: none;
}

.jump-to.jump-to--highlight:hover .jump-to--inner {
  background: none;
}

.jump-to.jump-to--highlight:hover .jump-to--inner-2 {
  color: var(--ifm-background-color);
}

.jump-to.jump-to--highlight:hover span.badge {
  background: var(--ifm-background-color);
  color: var(--ifm-color-primary);
}

/*
 * Elements
 */

.jump-to small {
  opacity: 0.75;
}

.jump-to span.badge.badge--category {
  font-size: 0.8em;
  line-height: 1em;
  text-transform: uppercase;
}
