.jump-to {
  background: var(--ifm-panel-background);
  border: 1px solid var(--ifm-panel-border-color);
  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-panel-box-shadow);
  color: var(--ifm-font-base-color);
  display: block;
  font-weight: 500;
  margin-bottom: var(--ifm-spacing-vertical);
  padding: var(--ifm-spacing-vertical) var(--ifm-spacing-horizontal);
  text-align: left;
  transition: var(--ifm-transition-fast) ease;
}

.jump-to:hover {
  background: var(--ifm-panel-background-active);
  border-color: var(--ifm-color-primary);
  box-shadow: var(--ifm-panel-box-shadow-active);
  text-decoration: none;
}

.jump-to .arrow {
  float: right;
  font-size: 1.8em !important;
  margin-right: 10px;
  transition: var(--ifm-transition-fast) ease;
}

.jump-to:hover .arrow {
  margin-right: 0;
}