<!DOCTYPE html>
<html>
  <head>
    {{ partial "meta.html" . }}

    <title>
      {{ block "title" . }}
      {{ site.Title }} | {{ site.Params.description }}
      {{ end }}
    </title>

    {{ partial "css.html" . }}
  </head>
  <body class="page has-navbar-fixed-top" id="page">
    {{ partial "navbar.html" . }}

    <main class="main">
      {{ block "main" . }}
      {{ end }}
    </main>

    {{ block "below" . }}
    {{ partial "footer.html" . }}
    {{ end }}

    {{ partial "javascript.html" . }}
  </body>
</html>
