<!DOCTYPE html>
<html
  x-data="{ dark: $store.dark.enabled }"
  x-on:dark-toggle="dark = !dark"
  :class="{ 'dark': dark }"
  class="h-full">

  <head>
    {{ partial "meta.html" . }}

    <title>
      {{ block "title" . }}
      {{ site.Title }} | {{ site.Params.description }}
      {{ end }}
    </title>

    {{ partial "css.html" . }}
  </head>
  <body class="font-sans antialiased flex flex-col min-h-full">
    <main class="flex-1">
      {{ partial "navbar.html" . }}
    </main>

    {{ partial "footer.html" . }}

    {{ partial "javascript.html" . }}
  </body>
</html>
