{{ $date := .Date | dateFormat "January 2, 2006" }}
<div class="flex flex-col border rounded-lg p-6 dark:border-gray-700 shadow-lg">
  <div class="flex-1">
    <a href="{{ .RelPermalink }}" class="text-2xl font-bold tracking-tight dark:text-gray-200 hover:text-secondary dark:hover:text-primary">
      {{ .Title }}
    </a>

    <div class="mt-2.5 flex items-center space-x-1 text-sm text-gray-500 dark:text-gray-400">
      <time datetime="{{ $date }}">
        {{ $date }}
      </time>
      <span aria-hidden="true">
        &middot;
      </span>
      <span>
        <strong>{{ .ReadingTime }}</strong> min read
      </span>
    </div>

    {{ with .Description }}
    <p class="my-5 text-semibold text-gray-500 dark:text-gray-300">
      {{ . }}
    </p>
    {{ end }}
  </div>

  {{/* Author(s) info */}}
  <div class="mb-5">
    {{ partial "blog/authors.html" . }}
  </div>

  {{ with .Params.tags }}
  <div class="block space-y-1.5">
    {{ partial "badge.html" (dict "rounded" true "large" true "prefix" "type" "word" .type "bg" "indigo-100" "text" "indigo-800" "bg_dark" "indigo-700" "text_dark" "indigo-100") }}

    {{ range .domains }}
    {{ partial "badge.html" (dict "rounded" true "large" true "prefix" "domain" "word" . "bg" "green-200" "text" "green-800" "bg_dark" "green-700" "text_dark" "green-100") }}
    {{ end }}
  </div>
  {{ end }}
</div>