<div class="py-5 px-6">
  <p class="text-xl md:text-2xl text-black dark:text-gray-200">
    <span class="font-extrabold">{{ .Weight }}</span>.
    <a href="{{ .RelPermalink }}" class="ml-1 font-semibold tracking-tight hover:text-secondary dark:hover:text-primary">
      {{ .Title }}
    </a>
  </p>

  {{ with .Description }}
  <div class="my-3 tracking-tight text-md lg:text-lg dark:text-gray-300 text-gray-500">
    {{- . | markdownify -}}
  </div>
  {{ end }}

  <div class="flex space-x-1.5">
    {{ with .Params.domain }}
    {{ partial "badge.html" (dict "prefix" "domain" "word" . "color" "green") }}
    {{ end }}

    {{ range .Params.transforms }}

    {{ partial "badge.html" (dict "prefix" "transform" "word" . "color" "blue") }}
    {{ end }}

    {{ range .Params.sources }}
    {{ partial "badge.html" (dict "prefix" "source" "word" . "color" "blue") }}
    {{ end }}

    {{ range .Params.sinks }}
    {{ partial "badge.html" (dict "prefix" "sink" "word"  . "color" "blue") }}
    {{ end }}
  </div>
</div>