{{ $title := .Params.short | default .Title }}
<div class="border dark:border-gray-700 rounded-md px-3.5 py-2 dark:hover:bg-gray-700 hover:bg-gray-50">
  <a href="{{ .RelPermalink }}" class="flex justify-between items-center">
    <span class="dark:text-gray-300 text-gray-700 tracking-tight text-base">
      {{ $title }}
    </span>

    {{/* Heroicon: outline/chevron-right */}}
    <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary dark:text-primary h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
    </svg>
  </a>
</div>