.container {
  --ifm-sidebar-width: 225px;
  display: flex;
}

.sidebar {
  border-right: 1px solid var(--ifm-contents-border-color);
  flex: 0 0 var(--ifm-sidebar-width);
  max-width: var(--ifm-sidebar-width);
  margin-bottom: calc(-1 * var(--ifm-navbar-height));
  position: relative;
  top: calc(-1 * var(--ifm-navbar-height));
}

.main {
  flex: 0 0 calc(100% - var(--ifm-sidebar-width));
  max-width: calc(100% - var(--ifm-sidebar-width));
  padding: var(--ifm-spacing-vertical) 0 0
    calc(var(--ifm-spacing-horizontal) * 2);
}

@media (max-width: 996px) {
  .container {
    display: block;
  }

  .main {
    max-width: none;
    padding-left: 0;
  }
}
