.guide-items {
  display: grid;
  font-size: 1.275em;
  grid-template-columns: repeat(auto-fit, 12.6em);
  grid-gap: 1.5rem;
  margin-bottom: calc( var(--ifm-spacing-vertical) * 1 );
}

.guide-items--staggered {
  font-size: 1em;
}

.guide-items--staggered > a:first-child {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 2;
  font-size: 1.7em;
}

.guide-items--staggered > a:first-child:hover {
  -webkit-transform:perspective(1000px) rotateY(-5deg) translate3d(-3px,0,0);
  transform:perspective(1000px) rotateY(-5deg) translate3d(-3px,0,0);
}
