.guide-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1.5rem;
  margin-bottom: calc( var(--ifm-spacing-vertical) * 1 );
}

.guide-items--staggered > a:first-child {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 2;
  font-size: 2em;
}

.guide-items--staggered > a:first-child h2 {
  font-weight: 600;
}

.guide-items--staggered > a:first-child:hover {
  -webkit-transform:perspective(1000px) rotateY(-5deg) translate3d(-3px,0,0);
  transform:perspective(1000px) rotateY(-5deg) translate3d(-3px,0,0);
}
