.guide-items {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-gap: 1.5em;
  margin-bottom: calc( var(--ifm-spacing-vertical) * 2 );
}

.guide-items--l {
  font-size: 1.4em;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
}

.guide-items--staggered {
  font-size: 1em;
  grid-template-columns: repeat(4, 1fr);
}

.guide-items--staggered > a:first-child {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 2;
  font-size: 1.7em;
}

.guide-items--staggered > a:first-child > article {
  background-size: 125%;
}

.guide-items--staggered > a:first-child:hover {
  -webkit-transform:perspective(1000px) rotateY(-5deg) translate3d(-3px,0,0);
  transform:perspective(1000px) rotateY(-5deg) translate3d(-3px,0,0);
}

@media (max-width: 996px) {
  .guide-items {
    grid-template-columns: repeat(4, 1fr);
    font-size: 1em;
  }

  .guide-items--staggered > a:first-child {
    grid-column-end: span 1;
    grid-row-end: span 1;
    font-size: 1em;
  }

  .guide-items--staggered {
    font-size: 1em;
  }
}

@media (max-width: 867px) {
  .guide-items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 609px) {
  .guide-items {
    grid-template-columns: repeat(2, 1fr);
  }
}
