{{ $tag := $.Page.File.BaseFileName }}
{{ $type := $.Page.CurrentSection.Params.component_type }}
{{ $docs := index (index site.Data.docs.components $type) $tag }}
{{ $kind := $.Page.Params.kind }}
{{ $sectionLink := $.Page.CurrentSection.RelPermalink }}


<table>
  <tbody>
    <tr>
      <td>
        <strong>Kind</strong>
      </td>
      <td>
        <a href="{{ $sectionLink }}">
          {{ $kind }}
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <strong>
          Data type
        </strong>
      </td>
      <td>
        {{ $dataType := cond (eq $docs.input.logs true) "logs" "metrics" }}
        {{ $dataType }}
      </td>
    </tr>
    <tr>
      <td>
        <strong>
          Stateful?
        </strong>
      </td>
      <td>
        {{ $docs.classes.stateful }}
      </td>
    </tr>
    <tr>
      <td>
        <strong>
          Status
        </strong>
      </td>
      <td>
        {{ $docs.classes.development }}
      </td>
    </tr>
    <tr>
      <td>
        <strong>
          Egress method
        </strong>
      </td>
      <td>
        {{ $docs.classes.egress_method }}
      </td>
    </tr>
    <tr>
      <td>
        <strong>
          Commonly used?
        </strong>
      </td>
      <td>
        {{ $docs.classes.commonly_used }}
      </td>
    </tr>
  </tbody>
</table>
