{{ $tag := $.Page.File.BaseFileName }}
{{ $type := $.Page.CurrentSection.Params.component_type }}
{{ $output := (index (index site.Data.docs.components $type) $tag).output }}

{{ range $kind, $v := $output }}
{{ if eq $kind "metrics" }}
<h3>
  Metrics
</h3>

<div class="configs">
  {{ range $metric, $v := $v }}
  <div class="config">
    <span class="config-title">
      <h4 class="name" id="{{ $metric }}">
        {{ $metric }}
      </h4>

      <div class="config-buttons">
        <div class="config-button is-grey">
          {{ $v.type }}
        </div>
      </div>
    </span>

    <p class="config-description">
      {{ $v.description | markdownify }}
    </p>

    {{ with $v.relevant_when }}
    <p>
      Relevant when: {{ . | markdownify }}
    </p>
    {{ end }}

    {{ with $v.tags }}
    <div class="config-tags">
      <p class="config-tags-title">
        Tags
      </p>

      <table class="config-tags-table">
        <thead>
          <tr>
            <th>
              Tag
            </th>
            <th>
              Description
            </th>
            <th>
              Required?
            </th>
          </tr>
        </thead>
        <tbody>
          {{ range $k, $v := . }}
          <tr>
            <td>
              <code>
                {{- $k -}}
              </code>
            </td>
            <td>
              {{ $v.description | markdownify }}
            </td>
            <td>
              <span{{ if $v.required }} class="has-text-weight-bold has-text-secondary"{{ end }}>
                {{ $v.required }}
              </span>
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
    {{ end }}
  </div>
  {{ end }}
</div>
{{ end }}
{{ end }}