[transforms.add_tags]
allow_you_to_description = "add one or more metric tags"
common = false
function_category = "shape"
guides = []
input_types = ["metric"]
output_types = ["metric"]
resources = []

[transforms.add_tags.options.tags]
type = "table"
common = true
null = false
description = """\
A table of key/value pairs representing the tags to be added to the \
metric.\
"""

[transforms.add_tags.options.tags.options."`<tag-name>`"]
type = "string"
null = false
examples = [
  {name = "my_tag", value = "my value"},
  {name = "my_env_tag", value = "${ENV_VAR}"},
]
description = """\
The name of the tag to add. Due to the nature of metric tags, the value \
must be a string.\
"""