.accordion-item {
  background-color: var(--ifm-panel-background-color);
  border: 1px solid var(--ifm-panel-border-color);
  box-shadow: var(--ifm-panel-box-shadow);
  color: var(--ifm-font-color-base);
  display: block;
  padding: var(--ifm-spacing-vertical) var(--ifm-spacing-horizontal);
}

.accordion > .accordion-item:first-child {
  border-top-left-radius: var(--ifm-global-radius);
  border-top-right-radius: var(--ifm-global-radius);
}

.accordion > .accordion-item:last-child {
  border-bottom-left-radius: var(--ifm-global-radius);
  border-bottom-right-radius: var(--ifm-global-radius);
}

.accordion-label {
  font-weight: 600;
}

.accordion-label .icon {
  float: right;
  margin-top: 5px;
}

/**
 * collapsed
 */

.accordion-item--collapsed:hover {
  background: var(--ifm-panel-background-color-active);
  border-color: var(--ifm-color-primary);
  box-shadow: var(--ifm-panel-box-shadow-active);
  color: var(--ifm-color-primary);
  cursor: pointer;
}

/**
 * exapnded
 */

.accordion-item--expanded .accordion-label {
  border-bottom: 1px dashed var(--ifm-panel-border-color);
  padding-bottom: var(--ifm-spacing-vertical);
}

.accordion-item--expanded .accordion-body {
  padding-top: var(--ifm-spacing-vertical);
}

.accordion-item--expanded .accordion-body > *:last-child {
  margin-bottom: 0;
}
