{{ $globalConfigs := site.Data.docs.configuration.configuration }}

<div class="configs">
  {{ range $k, $v := $globalConfigs }}
  {{ $req := $v.required }}
  <div class="config">
    <h3 class="config-title" id="{{ $k }}">
      <span class="name">
        {{ $k }}
      </span>

      <div class="config-buttons">
        <div class="config-button is-grey">
          {{ range $k, $v := $v.type }}{{ $k }}{{ end }}
        </div>

        <div class="config-button{{ if $req }} is-magenta{{ end }}">
          {{ if $req }}
          required
          {{ else }}
          optional
          {{ end }}
        </div>
      </div>
    </h3>

    <p class="config-description">
      {{ $v.description | markdownify }}
    </p>

    {{ range $k, $v := $v.type }}
    {{ with $v.default }}
    <p class="config-default">
      Default: <code>
        {{ . }}
      </code>
    </p>
    {{ end }}
    {{ end }}
  </div>
  {{ end }}
</div>