{{ $schema := site.Data.docs.data_model.schema.metric }}

<div class="no-prose border rounded flex flex-col divide-y dark:border-gray-700 dark:divide-gray-700">
  {{ range $k, $v := $schema.type.object.options }}
  <div class="py-4 px-6">
    <span class="flex items-center justify-between">
      <span class="font-bold font-mono dark:text-primary">
        {{ $k }}
      </span>

      <span class="flex space-x-1">
        {{ if $v.common }}
        {{ partial "badge.html" (dict "word" "common" "color" "indigo") }}
        {{ end }}

        {{ if $v.required }}
        {{ partial "badge.html" (dict "word" "required" "color" "red") }}
        {{ else }}
        {{ partial "badge.html" (dict "word" "optional" "color" "gray") }}
        {{ end }}

        {{ range $k, $v := $v.type }}
        {{ $type := cond (eq $k "object") "table" $k }}
        {{ partial "badge.html" (dict "word" $type "color" "green") }}
        {{ end }}
      </span>
    </span>

    {{ with $v.description }}
    <div class="mt-3">
      {{ . | markdownify }}
    </div>
    {{ end }}

    <p>
      Schema
    </p>

    {{ $v }}
  </div>
  {{ end }}
</div>