{{ $schema := site.Data.docs.data_model.schema.metric }}

<div class="configs">
  {{ range $k, $v := $schema.type.object.options }}
  {{ $req := $v.required }}
  <div class="config">
    <div class="config-title">
      <h3 class="name">
        {{ $k }}
      </h3>

      <div class="config-buttons">
        {{/* The data type of the metric (string, etc.) */}}
        <div class="config-button">
          {{ range $k, $v := $v.type }}{{ $k }}{{ end }}
        </div>

        {{/* Whether the metric type is commonly used */}}
        {{ if $v.common }}
        <div class="config-button is-light">
          common
        </div>
        {{ end }}

        {{/* Whether the metric type is required */}}
        <div class="config-button{{ if $req }} is-bold{{ else }} is-light{{ end }}">
          {{ if $req }}
          required
          {{ else }}
          optional
          {{ end }}
        </div>
      </div>
    </div>

    <!--
    <p class="config-title">
      <h3 class="name">
        {{ $k }}
      </h3>

      <div class="config-buttons">
        <div class="config-button">
          {{/* The data type of the metric (string, etc.) */}}
          {{ range $k, $v := $v.type }}{{ $k }}{{ end }}
        </div>

        {{/* Whether the metric type is commonly used */}}
        {{ if $v.common }}
        <div class="config-button">
          common
        </div>
        {{ end }}

        {{/* Whether the metric type is required */}}
        <div class="config-button{{ if $req }} is-bold{{ end }}">
          {{ if $req }}
          required
          {{ else }}
          optional
          {{ end }}
        </div>
      </div>
    </p>
    -->

    <p class="config-description">
      {{ $v.description | markdownify }}
    </p>

    {{ range $k, $v := $v.type }}
    {{ with $v.options }}
    <table class="config-options">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Description
          </th>
          <th>
            Type
          </th>
          <th>
            Required?
          </th>
        </tr>
      </thead>
      <tbody>
        {{ range $k, $v := . }}
        <tr>
          <td>
            <code>{{ $k }}</code>
          </td>
          <td>
            {{ $v.description | markdownify }}
          </td>
          <td>
            {{ range $k, $v := $v.type }}{{ $k }}{{ end }}
          </td>
          <td>
            {{ $v.required }}
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
    {{ end }}
    {{ end }}
  </div>
  {{ end }}
</div>