{{ $schema := site.Data.docs.data_model.schema.metric }}

<div class="no-prose border rounded flex flex-col divide-y dark:border-gray-700 dark:divide-gray-700">
  {{ range $k, $v := $schema.type.object.options }}
  <div class="py-4 px-6">
    <span class="flex items-center justify-between">
      <span class="font-bold font-mono dark:text-primary">
        {{ $k }}
      </span>

      <span>
        {{ if $v.common }}
        {{ template "schema-badge" (dict "word" "common" "bg" "indigo-100" "text" "indigo-800" "bg_dark" "indigo-700" "text_dark" "indigo-100") }}
        {{ end }}

        {{ if $v.required }}
        {{ template "schema-badge" (dict "word" "required" "bg" "red-100" "text" "red-800" "bg_dark" "red-700" "text_dark" "red-100") }}
        {{ else }}
        {{ template "schema-badge" (dict "word" "optional" "bg" "gray-100" "text" "gray-800" "bg_dark" "gray-700" "text_dark" "gray-100") }}
        {{ end }}

        {{ range $k, $v := $v.type }}
        {{ $type := cond (eq $k "object") "table" $k }}
        {{ template "schema-badge" (dict "word" $type "bg" "green-100" "text" "green-800" "bg_dark" "green-700" "text_dark" "green-100") }}
        {{ end }}
      </span>
    </span>

    {{ with $v.description }}
    <div class="mt-3">
      {{ . | markdownify }}
    </div>
    {{ end }}

    <p>
      Schema
    </p>

    {{ $v }}
  </div>
  {{ end }}
</div>

{{ define "schema-badge" }}
<span class="inline-flex items-center px-2 py-0.5 rounded text-xs bg-{{ .bg }} text-{{ .text }} dark:bg-{{ .bg_dark }} dark:text-{{ .text_dark }}">
  {{ .word }}
</span>
{{ end }}