.component {
  background: var(--ifm-color-emphasis-50);
  border: 1px solid var(--ifm-hr-border-color);
  border-radius: calc( var(--ifm-global-radius) * 2 );
  color: var(--ifm-color-emphasis-500);
  font-weight: 500;
  padding: var(--ifm-spacing-vertical) var(--ifm-spacing-horizontal);
  transition: var(--ifm-transition-fast) ease;
}

.component:hover {
  background-color: rgba(var(--ifm-color-primary-rgb), 0.2);
  border: 1px solid var(--ifm-color-primary);
  text-decoration: none;
}

.component .icon-info {
  float: right;
  margin-top: 0.35em;
}

.component .component-name {
  color: var(--ifm-color-emphasis-800);
  font-size: 1.1em;
}

.component .component-description {
  color: var(--ifm-color-emphasis-300);
  font-size: 0.75em;
}

.component .badges {
  margin-top: var(--ifm-badge-padding-vertical);
}

.component .badges .badge {
  font-size: 0.6em;
  margin-right: 5px;
  padding: calc( var(--ifm-badge-padding-vertical) / 1.5 ) calc( var(--ifm-badge-padding-horizontal) / 1.5 );
}