.component {
  background: var(--ifm-panel-background);
  border: 1px solid var(--ifm-panel-border-color);
  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-panel-box-shadow);
  color: var(--ifm-panel-color);
  font-weight: 500;
  padding: var(--ifm-spacing-vertical) var(--ifm-spacing-horizontal);
  transition: var(--ifm-transition-fast) ease;
}

.component:hover {
  background: var(--ifm-panel-background-active);
  border-color: var(--ifm-panel-border-color-active);
  box-shadow: var(--ifm-panel-box-shadow-active);
  color: var(--ifm-panel-color-active);
  text-decoration: none;
}

.component .icon-info {
  float: right;
  margin-top: 0.35em;
}

.component .component-name {
  font-size: 1.1em;
}

.component .component-description {
  color: var(--ifm-color-emphasis-300);
  font-size: 0.75em;
}

.component .badges {
  margin-top: var(--ifm-badge-padding-vertical);
}

.component .badges .badge {
  font-size: 0.6em;
  margin-right: 5px;
  padding: calc( var(--ifm-badge-padding-vertical) / 1.5 ) calc( var(--ifm-badge-padding-horizontal) / 1.5 );
}