[package]
name = "vdev"
version = "0.1.0"
edition = "2021"
authors = ["Vector Contributors <vector@datadoghq.com>"]
license = "MPL-2.0"
readme = "README.md"
publish = false

[dependencies]
anyhow = "1.0.66"
atty = "0.2.14"
cached = "0.42.0"
clap = { version = "4.1.1", features = ["derive"] }
clap-verbosity-flag = "2.0.0"
clap_complete = "4.1.0"
confy = "0.5.1"
directories = "4.0.1"
# remove this when stabilized https://doc.rust-lang.org/stable/std/path/fn.absolute.html
dunce = "1.0.3"
hashlink = { version = "0.8.1", features = ["serde_impl"] }
indicatif = { version = "0.17.3", features = ["improved_unicode"] }
itertools = "0.10.5"
log = "0.4.17"
once_cell = "1.17"
os_info = { version = "3.5.1", default-features = false }
# watch https://github.com/epage/anstyle for official interop with Clap
owo-colors = { version = "3.5.0", features = ["supports-colors"] }
paste = "1.0.11"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.87"
serde_yaml = "0.9.17"
toml = { version = "0.5.11", default-features = false }
