[package]
name = "vdev"
version = "0.1.0"
edition = "2021"
authors = ["Vector Contributors <vector@datadoghq.com>"]
license = "MPL-2.0"
readme = "README.md"
publish = false

[dependencies]
anyhow.workspace = true
chrono.workspace = true
clap.workspace = true
clap-verbosity-flag = "3.0.2"
clap_complete = "4.5.42"
confy = "0.6.1"
directories = "5.0.1"
# remove this when stabilized https://doc.rust-lang.org/stable/std/path/fn.absolute.html
dunce = "1.0.5"
glob.workspace = true
hex = "0.4.3"
indexmap.workspace = true
indicatif = { version = "0.17.9", features = ["improved_unicode"] }
itertools = "0.14.0"
log = "0.4.22"
# watch https://github.com/epage/anstyle for official interop with Clap
owo-colors = { version = "4.1.0", features = ["supports-colors"] }
paste = "1.0.15"
regex = { version = "1.11.1", default-features = false, features = ["std", "perf"] }
reqwest = { version = "0.11", features = ["json", "blocking"] }
serde.workspace = true
serde_json.workspace = true
serde_yaml = "0.9.34"
sha2 = "0.10.8"
tempfile = "3.15.0"
toml.workspace = true
