/**
 * base
 */

.alert {
  box-shadow: var(--ifm-panel-box-shadow);
  color: var(--ifm-color-content) !important;
  font-size: 95%;
  margin-bottom: calc( var(--ifm-spacing-vertical) * 2 );
  padding-left: 5em;
}

.alert > i.feather {
  float: left;
  font-size: 2em !important;
  margin-left: -1.65em;
  position: relative;
  top: -2px;
}

.alert p:last-child {
  margin-bottom: 0;
}

/**
 * types
 */

.alert.alert--danger,
.alert.alert--info,
.alert.alert--primary,
.alert.alert--success,
.alert.alert--warning {
  background: var(--ifm-panel-background) !important;
  border: 0px none;
}

.alert.alert--danger {
  border-left: 2px solid var(--ifm-color-danger);
}

.alert.alert--info {
  border-left: 2px solid var(--ifm-color-info);
}

.alert.alert--primary {
  border-left: 2px solid var(--ifm-color-primary);
}

.alert.alert--success {
  border-left: 2px solid var(--ifm-color-success);
}

.alert.alert--warning {
  border-left: 3px solid var(--ifm-color-warning);
}

/**
 * fill
 */

.alert.alert--fill.alert--danger {
  background: rgba( var(--ifm-color-danger-rgb), 0.15 ) !important;
  border: 1px solid var(--ifm-color-danger);
  color: var(--ifm-color-danger) !important;
}
.alert.alert--fill.alert--primary {
  background: rgba( var(--ifm-color-primary-rgb), 0.15 ) !important;
  border: 1px solid var(--ifm-color-primary);
  color: var(--ifm-color-primary) !important;
}
.alert.alert--fill.alert--warning {
  background: rgba( var(--ifm-color-warning-rgb), 0.15 ) !important;
  border: 1px solid var(--ifm-color-warning);
  color: var(--ifm-color-warning) !important;
}
.alert.alert--fill a {
  color: inherit;
  text-decoration: underline;
}
.alert.alert--fill a code {
  color: inherit;
}
.alert.alert--fill code {
  color: inherit;
}
