.vector-guides--cols {
  margin: var(--ifm-spacing-vertical) 0;
}

.vector-guides h2,
.vector-guides h3 {
  margin-top: calc( var(--ifm-spacing-vertical) * 2 );
  margin-bottom: calc( var(--ifm-spacing-vertical) * 2 );
}

.vector-guides h2:first-child,
.vector-guides h3:first-child {
  margin-top: 0;
}

.vector-guides--results {
  padding-top: calc( var(--ifm-spacing-vertical) * 1 );
}

.vector-guides--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin-bottom: calc( var(--ifm-spacing-vertical) * 1 );
}

.vector-guide {
  background: var(--ifm-panel-background);
  border: 1px solid var(--ifm-panel-border-color);
  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-panel-box-shadow);
  color: var(--ifm-panel-color);
  font-weight: 500;
  padding: var(--ifm-spacing-vertical) var(--ifm-spacing-horizontal);
  transition: var(--ifm-transition-fast) ease;
}

.vector-guide:hover {
  background: var(--ifm-panel-background-active);
  border-color: var(--ifm-panel-border-color-active);
  box-shadow: var(--ifm-panel-box-shadow-active);
  color: var(--ifm-panel-color-active);
  text-decoration: none;
}

.vector-guide .icon-info {
  float: right;
  margin-top: 0.2em;
}

.vector-guide--name {
  font-size: 1.1em;
  line-height: 1;
  margin-bottom: calc( var(--ifm-spacing-vertical) / 2 );
}

.vector-guide--badges {
  margin-top: var(--ifm-badge-padding-vertical);
}

.vector-guide--badges .badge {
  font-size: 0.6em;
  margin-right: 5px;
  padding: calc( var(--ifm-badge-padding-vertical) / 1.5 ) calc( var(--ifm-badge-padding-horizontal) / 1.5 );
}

@media (min-width: 996px) {
  .vector-guides {
    margin: 0;
  }

  .vector-guides--cols {
    display: flex;
  }

  .vector-guides--cols .filters {
    border-right: 1px solid var(--ifm-hr-border-color);
    flex: 0 0 25%;
    margin-left: calc( var(--ifm-spacing-horizontal) * -1 );
    max-width: calc( var(--ifm-sidebar-width) - var(--ifm-spacing-horizontal) );
    padding: calc( var(--ifm-spacing-vertical) * 2 ) var(--ifm-spacing-horizontal);
  }

  .vector-guides--cols .filters .search {
    margin-bottom: calc( var(--ifm-spacing-vertical) * 2 );
  }

  .vector-guides--cols .filter {
    display: block;
    margin-bottom: var(--ifm-spacing-vertical);
  }

  .vector-guides--cols .filter--label {
    border: 0px none;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0;
    margin-bottom: var(--ifm-spacing-vertical);
    text-align: left;
    text-transform: uppercase;
  }

  .vector-guides--cols .filter--choices label {
    display: block;
    margin: 0;
  }

  .vector-guides--cols .filter--choices input[type="checkbox"] {
    margin-left: 0;
  }

  .vector-guides--cols .vector-guides--results {
    flex: 1 0;
    margin-right: calc( var(--ifm-spacing-horizontal) * -1 );
    max-width: 100%;
    padding: calc( var(--ifm-spacing-vertical) * 2 ) calc( var(--ifm-spacing-horizontal) * 3 );
  }
}


.guidePost {
  --ifm-container-width: 900px;
}

.guide-show-more {
  margin-top: 10px;
  margin-bottom: 20px;
}

.header {
  margin: 0;
  padding: calc( var(--ifm-spacing-vertical) * 2 ) 0 calc( var(--ifm-spacing-vertical) * 3 ) 0;
  text-align: center;
}
@media (max-width: 480px) {
  .header {
    padding: calc( var(--ifm-spacing-vertical) * 2 ) 0;
  }
  .header h1 {
    font-size: 2em !important;
  }
}

.headerContainer h1 {
  margin-top: calc( var(--ifm-spacing-vertical) * 1 );
  margin-bottom: calc( var(--ifm-spacing-vertical) * 1 );
}

html[data-theme='dark'] .headerBackground {
  filter: invert(1);
}

.guide-list {
  display: flex;
  margin-top: calc( var(--ifm-spacing-vertical) * 4 );
}

.guide-list--filters {
  flex: 0 0 400px;
  margin-right: calc( var(--ifm-spacing-horizontal) * 3 );
  padding-top: calc( var(--ifm-spacing-vertical) + 2px );
}

.guide-list--filters h1 {
  margin-bottom: var(--ifm-spacing-vertical);
}

.guide-list--filters h3 {
  color: var(--ifm-color-emphasis-300);
  font-size: 1em;
  margin-bottom: var(--ifm-spacing-vertical);
  text-transform: uppercase;
}

.guide-list--filters ul {
  font-size: 0.9em;
}

.guide-list--items {
  flex: 1 1;
  margin-left: var(--ifm-spacing-horizontal);
}

.guide-list .mailing-list {
  border-top: 1px solid var(--ifm-hr-border-color);
  margin-top: calc( var(--ifm-spacing-vertical) * 2 );
  padding-top: calc( var(--ifm-spacing-vertical) * 2 );
}

@media (max-width: 996px) {
  .guide-list {
    display: block;
    margin-top: calc( var(--ifm-spacing-vertical) * 2 );
  }

  .guide-list--filters {
    margin-right: 0;
    text-align: center;
  }

  .guide-list--filters h3 {
    display: none;
  }

  .guide-list--filters ul {
    display: inline-block;
  }

  .guide-list--filters ul li {
    display: inline-block;
  }

  .guide-list--items {
    margin-left: 0;
  }

  .guide-list .mailing-list {
    background: var(--ifm-panel-background);
    border: 1px solid var(--ifm-panel-border-color);
    border-radius: var(--ifm-global-radius);
    box-shadow: var(--ifm-panel-box-shadow);
    margin-bottom: calc( var(--ifm-spacing-vertical) * 1 );
    padding-bottom: calc( var(--ifm-spacing-vertical) * 1 );
    padding-left: var(--ifm-spacing-horizontal);
    padding-right: var(--ifm-spacing-horizontal);
  }
}
