.components .filters {
  color: var(--ifm-color-emphasis-300);
  margin-bottom: calc( var(--ifm-spacing-vertical) * 2 );
}

.components .filters .col:first-child {
  padding-left: 0;
}

.components .filters .col:last-child {
  padding-right: 0;
}

.components .filters .checkboxes {
  font-size: 0.9em;
  padding-top: calc( var(--ifm-spacing-vertical) / 2 );
}

.components .filters .checkboxes label {
  margin-right: 1em;
}

.components .filters .checkboxes label input {
  margin-right: 0.5em;
}

.components .filters .search input {
  width: 100%;
}

.component-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin-bottom: calc( var(--ifm-spacing-vertical) * 2 );
}

.component-cards .component {
  display: grid;
}