.steps {
  padding-top: 7px;
}

.steps > ol {
  border-left: 1px solid var(--ifm-hr-border-color);
  counter-reset: sections-counter;
  list-style: none;
  margin-left: 1em;
  padding-left: 1.75em;
}

.steps > ol > li {
  counter-increment: sections-counter;
  margin-bottom: 0;
}

.steps > ol > li > *:last-child {
  margin-bottom: calc(var(--ifm-spacing-vertical) * 3) !important;
}

.steps > ol > li:before {
  background: var(--ifm-heading-color);
  border-radius: 100%;
  color: var(--ifm-background-color);
  content: counter(sections-counter);
  float: left;
  font-size: 0.9em;
  min-width: 1em;
  padding: 0.2em 0.35em;
  text-align: center;
}

.steps > ol > li a.hash-link {
  padding-right: 3em;
}

.steps > ol > li > ol {
  font-size: 0.95em;
  margin-top: calc(var(--ifm-spacing-vertical) * 2);
}

.steps .steps--feedback {
  border-top: 1px solid var(--ifm-hr-border-color);
  font-weight: 500;
}

/**
 * h3
 */

.steps.steps--h3 > ol > li:before {
  font-size: var(--ifm-h3-font-size);
  font-weight: var(--ifm-heading-font-weight);
  line-height: var(--ifm-heading-line-height);
  margin: -0.2em 0 0 -2.25em;
}

.steps.steps--h3 > ol > li a.hash-link {
  margin-left: -3.5em;
}

.steps.steps--h3 > ol > li > h3 {
  margin-bottom: var(--ifm-spacing-vertical);
}

.steps.steps--h3 > ol > li > ol > li:before {
  background: none;
  color: var(--ifm-heading-color);
  content: "•";
  font-size: var(--ifm-h4-font-size);
  margin: -0.6em 0 0 -2.45em;
}

.steps.steps--h3 > ol > li > ol > li > h4 {
  margin-bottom: var(--ifm-spacing-vertical);
}

.steps.steps--h3 .steps--feedback {
  margin: -1em 0 0 2.75em;
  padding: 1em 0;
}
