.guide-item {
  background-color: var(--ifm-panel-background);
  border: 1px solid var(--ifm-panel-border-color);
  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-panel-box-shadow);
  color: var(--ifm-font-base-color);
  display: block;
  margin-bottom: var(--ifm-spacing-vertical);
  padding: calc( var(--ifm-spacing-vertical) * 1.5 ) calc( var(--ifm-spacing-horizontal) * 2 );
}

.guide-item h2 {
  font-family: var(--ifm-font-family-base);
  font-size: 1.6em;
  margin-bottom: calc( var(--ifm-spacing-vertical) / 4 );
}

.guide-item h2 a {
  color: inherit;
}

.guide-item .avatar {
  margin-top: calc( var(--ifm-spacing-vertical) / 1 );
  margin-bottom: calc( var(--ifm-spacing-vertical) / 1 );
}

.guide-item .avatar__name {
  font-weight: 600;
  font-size: 1em;
}

.guide-item .avatar__subtitle {
  opacity: 0.75;
}

.guide-item .guide-item--subtitle {
  opacity: 0.75;
}

.guide-item:hover {
  box-shadow: 0 0 30px 10px rgba( var(--ifm-color-primary-rgb), 0.4 );
  color: var(--ifm-panel-color-active);
  text-decoration: inherit;
  border-color: var(--ifm-panel-border-color-active);
  box-shadow: var(--ifm-panel-box-shadow-active);
  text-decoration: none;
}

.guide-item:hover h2 {
  color: inherit;
}
