.guide-item {
  background-color: var(--ifm-panel-background);
  border: 1px solid var(--ifm-panel-border-color);
  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-panel-box-shadow);
  color: var(--ifm-heading-color);
  display: block;
  min-height: 17.5em;
  position: relative;

  transform-origin: 0 50%;
  transform: perspective(1000px) rotateY(0deg) translate3d(0,0,0);
  transition: all var(--ifm-transition-fast) ease;
  backface-visibility: hidden;
}

.guide-item > article {
  position: relative;
  height: 100%;
}

.guide-item > article > header {
  border-bottom: 0px none;
  margin-bottom: 0;
  padding: 1em 1.25em;
  position: relative;
  top: 0;
  width: 100%;
}

.guide-item > article > header > .category {
  color: var(--ifm-heading-color);
  font-size: 0.75em;
  font-weight: 500;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.guide-item > article > header > h2 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  font-family: var(--ifm-font-family-base);
  font-size: 1.1em;
  font-weight: 500;
  height: 3em;
  line-height: 1.4;
  margin-bottom: calc( var(--ifm-spacing-vertical) / 4 );
  overflow: hidden;
}

.guide-item > article > footer {
  padding: 1em 1.25em;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.guide-item > article > footer > .action {
  font-size: 0.75em;
  font-weight: 500;
  opacity: 0;
  position: relative;
  text-decoration: underline;
  text-transform: uppercase;
  top: 10px;
  transition: all var(--ifm-transition-fast) ease;
}

.guide-item .avatar {
  margin-top: calc( var(--ifm-spacing-vertical) / 1 );
  margin-bottom: calc( var(--ifm-spacing-vertical) / 1 );
  vertical-align: bottom;
}

.guide-item .avatar .avatar__name {
  font-weight: 600;
  font-size: 1em;
}

.guide-item .avatar .avatar__photo {
  --ifm-avatar-photo-size-sm: 2em;
}

.guide-item .avatar .avatar__subtitle {
  opacity: 0.75;
}

.guide-item .guide-item--subtitle {
  opacity: 0.75;
}

.guide-item:hover {
  border-color: var(--ifm-color-primary);
  box-shadow: 0.4em 0 0.75em 0 rgba( var(--ifm-color-primary-rgb), 0.25 );
  color: var(--ifm-color-primary);
  text-decoration: none;
  transform: perspective(1000px) rotateY(-10deg) translate3d(-3px,0,0);
  transform-origin: 0 50%;
}

.guide-item:hover > article > header > * {
  color: inherit;
}

.guide-item:hover > article > footer > .action {
  opacity: 1;
  top: 0;
}
