.option {
  border-radius: 5px;
  font-size: 0.95em;
  padding-top: calc( var(--ifm-spacing-vertical) / 1.5 );
  padding-left: var(--ifm-spacing-horizontal);
}

.option:hover > h3 > .hash-link,
.option:hover > h4 > .hash-link {
  opacity: 1;
}

.option h3 .hash-link {
  margin-left: calc((var(--ifm-spacing-horizontal) * -1) - 1.5rem) !important;
  padding-right: 3rem;
}

.option h4 .hash-link {
  margin-left: calc((var(--ifm-spacing-horizontal) * -2) - 1.5rem) !important;
  padding-right: 4.25rem;
}

.option .badges {
  float: right;
  margin-top: -0.25em;
  text-align: right;
}

.option .badges .badge {
  font-size: 0.7em;
  margin-left: 3px;
}

.option .badges .badge--secondary {
  background: var(--ifm-color-black-alpha-075);
  background-clip: padding-box;
  border: 1px solid var(--ifm-color-black-alpha-075);
}

.option h3::before,
.option h4::before {
  content: "• ";
  float: left;
  display: block;
  width: calc( var(--ifm-spacing-horizontal) * 2);
  margin-left: calc( var(--ifm-spacing-horizontal) * -2 );
  text-align: center;
}

.option h3, 
.option h4 {
  margin-bottom: 1em;
}

.option .info {
  border-left: 1px solid var(--ifm-hr-border-color);
  color: var(--ifm-color-emphasis-alpha-40);
  font-size: 0.9em;
  margin-top: calc( var(--ifm-spacing-horizontal) * -1 );
  margin-bottom: calc( var(--ifm-spacing-vertical) / 2 );
  margin-left: 0.25em;
  padding-left: var(--ifm-spacing-horizontal);
}

.option .info > div:before {
  content: "• ";
  float: left;
  display: block;
  width: calc( var(--ifm-spacing-horizontal) * 2);
  margin-left: calc( var(--ifm-spacing-horizontal) * -2 );
  text-align: center;
}

.option .info > div {
}

.option .info .show-more {
  color: var(--ifm-color-primary);
  cursor: pointer;
}

.option .info .examples {
  margin-top: 0.5em;
}

/*


.option h3::before,
.option h4::before {
  content: "• ";
  float: left;
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
}

.option h3,
.option h4 {
  background-color: var(--ifm-color-black-alpha-04);
  border-left: 2px solid var(--ifm-color-primary);
  padding: calc( var(--ifm-spacing-vertical) / 2 ) var(--ifm-spacing-horizontal);
}

.option h3 .hash-link {
  margin-left: calc((var(--ifm-spacing-horizontal) * -1) - 1.5rem) !important;
  padding-right: 3rem;
}

.option .tags {
  float: right;
  margin-top: -0.35rem;
}

.option .tags .badge {
  margin-left: 4px;
}

.option .option .hash-link {
  margin-left: calc((var(--ifm-spacing-horizontal) * -2) - 2rem) !important;
  padding-right: 4.25rem;
}

.option .default {
  color: var(--ifm-color-emphasis-alpha-50);
  font-size: 0.8em;
}

.option .description {
  color: var(--ifm-color-emphasis-alpha-50);
  font-size: 0.9rem;
}*/