@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #28d9f2;
  --secondary: #f44af5;
}

body {
  --aa-search-input-height: 36px;
}

@layer components {
  .search-input {
    @apply bg-gray-200 dark:bg-gray-700 border border-transparent rounded-md sm:text-sm text-gray-800 dark:text-gray-400 placeholder-gray-400 leading-5 block w-full pl-10 pr-3 focus:outline-none focus:bg-white focus:text-gray-900;
  }

  .search-results-list {
    @apply grid grid-cols-2 md:grid-cols-3;
  }

  .search-results-list .search-result {
    @apply text-dark dark:text-gray-200 py-2 hover:text-secondary dark:hover:text-primary cursor-pointer;
  }

  .code-sample-filename {
    @apply font-semibold font-mono tracking-wide text-gray-200 dark:text-gray-200 bg-dark dark:bg-black py-1.5 px-2 rounded text-sm;
  }
}

[x-cloak] {
  display: none !important;
}

// Some rules that Tailwind can't really cover
.jump + .jump, .admonition + .admonition {
  margin-top: 0.5rem;
}

.svg svg {
  max-width: 100%;
  height: auto;
}

// Algolia search stuff
.aa-Grid {
  display: grid;
  column-gap: calc(var(--aa-spacing-half) / 2);
  /* grid-template-columns: minmax(0, 1fr) minmax(0, 1fr); */
  grid-template-columns: 1fr;
}

.aa-Panel {
  width: 30% !important;
}

.aa-PanelLayout {
  padding: 0;
  overflow-x: hidden;
}

.aa-PreviewTitle {
  margin-bottom: var(--aa-spacing-half);
  font-weight: bold;
}

.aa-PreviewPrice {
  margin-bottom: var(--aa-spacing-half);
  color: var(--aa-icon-color);
  font-weight: bold;
}

.aa-PreviewDescription {
  max-width: 100%;
  font-size: 0.85em;
  color: var(--aa-content-text-color);
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.aa-PreviewTitle mark,
.aa-PreviewDescription mark {
  background: none;
  color: var(--aa-primary-color);
}

[data-autocomplete-source-id='hits'] {
  margin-bottom: var(--aa-spacing-half);
}

[data-autocomplete-source-id='suggestions'] .aa-List {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(calc(var(--aa-spacing-half) / 2) * -1px);
}

[data-autocomplete-source-id='suggestions'] .aa-Item[aria-selected='true'] {
  background: none;
}

.aa-QuerySuggestion {
  display: inline-block;
  margin: calc(calc(var(--aa-spacing-half) / 2) / 2);
  padding: var(--aa-spacing-half) var(--aa-spacing);
  color: rgba(var(--aa-icon-color-rgb), var(--aa-icon-color-alpha));
  font-size: 0.85em;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(
    var(--aa-panel-border-color-rgb),
    var(--aa-panel-border-color-alpha)
  );
  border-radius: 3px;
}

.aa-QuerySuggestion mark {
  background: none;
  font-weight: bold;
  color: currentColor;
}

[data-autocomplete-source-id='suggestions']
  .aa-Item[aria-selected='true']
  .aa-QuerySuggestion {
  background: rgba(
    var(--aa-selected-color-rgb),
    var(--aa-selected-color-alpha)
  );
  border-color: transparent;
}
