@tailwind base;
@tailwind components;
@tailwind utilities;

// Import Algolia search widget CSS
@import "./search.css";

:root {
  --primary: #28d9f2;
  --secondary: #f44af5;
}

body {
  --aa-search-input-height: 36px;
}

@layer components {
  .code-sample-filename {
    @apply font-semibold font-mono tracking-wide text-gray-200 dark:text-gray-200 bg-dark dark:bg-black py-1.5 px-2 rounded text-sm;
  }
}

[x-cloak] {
  display: none !important;
}

// Some rules that Tailwind can't really cover
.jump + .jump, .admonition + .admonition {
  margin-top: 0.5rem;
}

.svg svg {
  max-width: 100%;
  height: auto;
}
