.error
  box-shadow: $card-shadow

  .error-title
    +x-spaced
    padding: $padding !important

    .code
      color: $primary
    .name
      font-weight: $weight-normal
      font-weight: $weight-light
    .icon
      color: $secondary

  .error-info
    padding: $padding

    .error-description

    .error-examples
      border: $border
      padding: $examples-padding
      margin-top: $text-spacing
      border-radius: $border-radius

      .error-examples-title
        +x-spaced
        +y-centered-row
        font-weight: $weight-semibold

        .icon
          color: $icon-color

  & + .error
    margin-top: $vertical-spacing
