$func-padding: 1rem
$margin-between-funcs: 1rem

.functions
  .function
    padding: $func-padding
    box-shadow: $card-shadow

    .function-header
      +x-spaced
      +y-centered-row

      .function-header-buttons


    & + .function
      margin-top: $margin-between-funcs
