{{ $appJsPath := "js/app.js" }}
{{ $ddLogsRumPath := "js/dd-browser-logs-rum.js" }}
{{ $appJsOptions := dict "targetPath" $appJsPath "minify" true "sourceMap" "inline" }}
{{ $ddLogsRumJsOptions := dict "targetPath" $ddLogsRumPath "minify" true "sourceMap" "inline" }}

{{ $app := resources.Get $appJsPath | resources.ExecuteAsTemplate $appJsPath . | js.Build $appJsOptions | fingerprint "sha256" }}
{{ $ddLogsRum := resources.Get $ddLogsRumPath | resources.ExecuteAsTemplate $ddLogsRumPath . | js.Build $ddLogsRumJsOptions | fingerprint "sha256" }}

<script defer type="text/javascript" src="{{ $ddLogsRum.RelPermalink }}" integrity="{{ $ddLogsRum.Data.Integrity }}"></script>
<script defer type="text/javascript" src="{{ $app.RelPermalink }}" integrity="{{ $app.Data.Integrity }}"></script>

{{/* We have a few Ionicons icons scattered throughout */}}
{{ $version := site.Params.ionicons_version }}
<script type="module" src="https://unpkg.com/ionicons@{{ $version }}/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://unpkg.com/ionicons@{{ $version }}/dist/ionicons/ionicons.js"></script>

<!-- Marketo Munchkin Tracking Code  -->
<script type="text/javascript">
    (function () {
        var didInit = false;
        function initMunchkin() {
            if (didInit === false) {
                didInit = true;
                Munchkin.init('875-UVY-685');
            }
        }
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//munchkin.marketo.net/munchkin.js';
        s.onreadystatechange = function () {
            if (this.readyState == 'complete' || this.readyState == 'loaded') {
                initMunchkin();
            }
        };
        s.onload = initMunchkin;
        document.getElementsByTagName('head')[0].appendChild(s);
    })();
</script>
