<ol>
<li>

### Install Vector

<InstallationCommand />

</li>
<li>

### Configure Vector

<%= command_create_config("vector.toml", source: source) %>

</li>
<li>

### Start Vector

```bash
vector --config vector.toml
```

That's it! Simple and to the point. Hit `ctrl+c` to exit.

</li>
</ol>
