<%- source = metadata.sources.docker -%>
---
id: "setup/sources/docker"
title: "Collect Docker logs & send them anywhere"
description: "A guide to quickly, and correctly, collect Docker logs and send them anywhere."
category: "setup"
tags: ["category: setup", "source: docker"]
---

> "I just wanna, like, collect my Docker logs and grep them -- why is all of
> this so complicated?"
>
> — developers

So you want to collect your Docker logs? Sounds simple! Sadly, it is not. Fear
not! This guide will get you up and running **in minutes**, all without
becoming a Docker logging expert.

import Alert from '@site/src/components/Alert';
import CodeExplanation from '@site/src/components/CodeExplanation';
import SVG from 'react-inlinesvg';
import Tabs from '@theme/Tabs';
import TabItem from '@theme/TabItem';

## What We'll Accomplish In This Guide

<ol className="list--checks list--lg list--semi-bold list--primary list--flush">
  <li>Collect Docker container logs.</li>
  <li>Filter which containers you collect them from.</li>
  <li>Automatically merge logs that Docker splits.</li>
  <li>Enrich your logs with useful Docker context.</li>
  <li>Send your logs to one or more destinations</li>
  <li className="list--li--arrow list--li--pink">All in just a few minutes. Let's get started!</li>
</ol>

## How This Guide Works

<SVG src="/img/tutorials/sources/docker.svg" />

---

The diagram above demonstrates our Docker logging strategy. It uses
[Vector][urls.vector_website] as a dedicated logging container. This is
superior because it is:

1. **Dependency free.** You do not need to install anything on the host.
2. **Easy to scale.** Simply deploy more logging containers as necessary.
3. **Fast & reliable.** Built in [Rust][urls.rust], Vector is [blistering fast and memory efficient][urls.vector_performance].
4. **Flexible.** Vector includes a robust set of [transforms][docs.transforms] to process your data.


## A Simple Step-By-Step Tutorial

<div className="steps steps--h3">

1. ### Configure Vector

<%= create_config_command(source: metadata.sources.docker, default_sink: metadata.sinks.console).indent(3) %>

2. ### Start Vector as a container

   ```bash
   docker run \
   -v /var/run/docker.sock:/var/run/docker.sock \
   -v $PWD/vector.toml:/etc/vector/vector.toml:ro \
   timberio/vector:latest-alpine
   ```

   <CodeExplanation>

   * The first `-v` flag ensures that Vector has access to the Docker socket.
     This is how Vector receives Docker logs.
   * The second `-v` flag passes the previously created Vector configuration
     file into the container.

   </CodeExplanation>

   That's it! Simple and to the point. Hit `ctrl+c` to exit.

</div>

## Next Steps

1. Explore Vector's transforms for ways to further process your data.
2. Explore Vector's [guides][guides.index] and [docs.index] to unlock the full
   potential of Vector.
