[sources.syslog]
title = "Syslog"
beta = false
common = true
delivery_guarantee = "best_effort"
function_category = "receive"
output_types = ["log"]
requirements = {}
through_description = "the Syslog protocol"

<%= render("_partials/_component_options.toml", type: "source", name: "syslog") %>

[sources.syslog.options.address]
type = "string"
common = true
examples = ["0.0.0.0:9000", "systemd", "systemd#2"]
relevant_when = {mode = ["tcp", "udp"]}
required = true
description = """\
The TCP or UDP address to listen for connections on, or "systemd#N" to use \
the Nth socket passed by systemd socket activation.\
"""

[sources.syslog.options.host_key]
type = "string"
category = "Context"
required = true
default = "host"
description = """\
The key name added to each event representing the current host. This can also \
be globally set via the \
[global `host_key` option][docs.reference.global-options#host_key].\
"""

[sources.syslog.options.max_length]
type = "int"
default = 102400
unit = "bytes"
description = """\
The maximum bytes size of incoming messages before they are discarded.\
"""

[sources.syslog.options.mode]
type = "string"
common = true
required = true
description = "The input mode."

[sources.syslog.options.mode.enum]
tcp = "Read incoming Syslog data over the TCP protocol."
udp = "Read incoming Syslog data over the UDP protocol."
unix = "Read uncoming Syslog data through a Unix socker."

[sources.syslog.options.path]
type = "string"
common = true
examples = ["/path/to/socket"]
relevant_when = {mode = "unix"}
required = true
description = """\
The unix socket path. *This should be absolute path.*
"""

<%= render("_partials/_tls_acceptor_options.toml", namespace: "sources.syslog.options", relevant: "") %>

[sources.syslog.output.log.fields.appname]
type = "string"
examples = ["app-name"]
description = """\
The appname extracted from the Syslog formatted line. If a appname is not \
found, then the key will not be added.\
"""

[sources.syslog.output.log.fields.host]
type = "string"
examples = ["my.host.com"]
required = true
description = """\
The hostname extracted from the  Syslog line. If a hostname is not found, then \
Vector will use the upstream hostname. In the case where `mode` = `"unix"` the \
socket path will be used. This key can be renamed via the `host_key` option.\
"""

[sources.syslog.output.log.fields.facility]
type = "string"
examples = ["1"]
description = """\
The facility extracted from the Syslog line. If a facility is not found, then \
the key will not be added.\
"""

[sources.syslog.output.log.fields.message]
type = "string"
examples = ["<13>Feb 13 20:07:26 74794bfb6795 root[8539]: i am foobar"]
required = true
description = """\
The raw message, unaltered.
"""

[sources.syslog.output.log.fields.msgid]
type = "string"
examples = ["ID47"]
description = """\
The msgid extracted from the Syslog line. If a msgid is not found, then the \
key will not be added.\
"""

[sources.syslog.output.log.fields.procid]
type = "int"
examples = [8710]
description = """\
The procid extracted from the Syslog line. If a procid is not found, then the \
key will not be added.\
"""

[sources.syslog.output.log.fields.severity]
type = "string"
examples = ["notice"]
description = """\
The severity extracted from the Syslog line. If a severity is not found, then \
the key will not be added.\
"""

[sources.syslog.output.log.fields.timestamp]
type = "timestamp"
examples = ["2019-11-01T21:15:47.443232Z"]
required = true
description = """\
The timestamp extracted from the incoming line. If a timestamp is not found, \
then Vector will use the current time.\
"""

[sources.syslog.output.log.fields.version]
type = "int"
examples = [1]
description = """\
The version extracted from the Syslog line. If a version is not found, then \
the key will not be added.\
"""
