[sources.vector]
title = "Vector"
beta = true
common = false
delivery_guarantee = "best_effort"
function_category = "proxy"
guides = []
output_types = ["log", "metric"]
resources = []
through_description = "another upstream [`vector` sink][docs.sinks.vector]"

[sources.vector.options.address]
type = "string"
common = true
examples = ["0.0.0.0:9000", "systemd", "systemd#1"]
null = false
description = """The TCP address to listen for connections on, \
or "systemd#N" to use the Nth socket passed by systemd socket activation. \
"""

[sources.vector.options.shutdown_timeout_secs]
type = "int"
default = 30
null = false
unit = "seconds"
description = """\
The timeout before a connection is forcefully closed during shutdown.\
"""