{{ $default := index .items 0 }}
{{ $var := .var }}
<div x-data="{ open: false }" @click.away="open = false" class="relative inline-block text-left">
  <div>
    <button @click="open = !open" type="button" class="flex items-center space-x-3 justify-center rounded-sm border dark:text-gray-200 text:gray-700 border-gray-300 dark:border-gray-700 shadow-sm px-3 py-1.5 bg-white dark:bg-dark text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-primary dark:hover:bg-black" id="menu-button" aria-expanded="true" aria-haspopup="true">
      <span class="flex space-x-2">
        <span>
          {{ .name }}
        </span>

        <span x-text="$store.ui.{{ $var }}" class="font-extrabold"></span>
      </span>

      {{/* Heroicon name: solid/chevron-down */}}
      <svg :class="{ 'transform rotate-180': open }" class="text-purple-v dark:text-secondary h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
      </svg>
    </button>
  </div>

  <div
    x-show="open"
    x-transition:enter="transition ease-out duration-100"
    x-transition:enter-start="transform opacity-0 scale-95"
    x-transition:enter-end="transform opacity-100 scale-100"
    x-transition:leave="transition ease-in duration-75"
    x-transition:leave-start="transform opacity-100 scale-100"
    x-transition:leave-end="transform opacity-0 scale-95"
    class="z-50 origin-top-right absolute left-0 mt-2 w-56 rounded-md shadow-lg bg-white dark:bg-dark ring-1 ring-black ring-opacity-5 focus:outline-none"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="menu-button"
    tabindex="-1">

    <div class="flex flex-col py-1" role="none">
      {{ range .items }}
      <div class="flex justify-between px-3 items-center hover:bg-gray-50 py-1 dark:hover:bg-black">
        <button @click="$store.ui.{{ $var }} = '{{ . }}'; open = false" class="text-gray-600 dark:text-gray-200" role="menuitem" tabindex="-1" id="version-{{ . }}">
          {{ . }}
        </button>
      </div>
      {{ end }}
    </div>
  </div>
</div>