# Hugo-generated assets
public/
resources/
hugo_stats.json

# JavaScript, Sass, CSS, etc.
node_modules/

# CUE-generated assets
data/docs.json

# Generated release pages
content/en/releases
!content/en/releases/_index.md

# htmltest generated
tmp/
