# Hugo-generated assets
public/
resources/
hugo_stats.json
assets/jsconfig.json

# JavaScript, Sass, CSS, etc.
node_modules/

# CUE-generated assets
data/docs.json

# htmltest generated
tmp/

# Yarn errors
yarn-error.log

# Local env vars
.env

# Generated integration guides
!content/en/guides/integrate/_index.md

content/en/guides/integrate/platforms/**/*.md
content/en/guides/integrate/sinks/**/*.md
content/en/guides/integrate/sources/**/*.md

!content/en/guides/integrate/platforms/_index.md
!content/en/guides/integrate/sinks/_index.md
!content/en/guides/integrate/sources/_index.md
