{{ $platforms := where site.RegularPages ".CurrentSection.Title" "eq" "Platforms" }}
{{ $packageManagers := where site.RegularPages ".CurrentSection.Params.short" "eq" "Package managers" }}
{{ $systems := where site.RegularPages ".CurrentSection.Params.short" "eq" "Operating systems" }}
{{ $manual := where site.RegularPages ".CurrentSection.Params.short" "eq" "Manual" }}
{{ $links := dict "Platforms" $platforms "Package managers" $packageManagers "Operating systems" $systems "Manual" $manual }}
<div class="flex flex-col divide-y divide-gray-200 dark:divide-gray-700">
  {{ range $k, $v := $links }}
  <div class="px-4 py-3 lg:px-6 lg:py-4">
    <p class="font-semibold text-lg tracking-tight text-dark dark:text-gray-300">
      {{ $k }}
    </p>

    <ul class="mt-1">
      {{ range $v }}
      {{ $title := .Params.short | default .Title }}
      <li>
        <a href="{{ .RelPermalink }}" class="text-gray-500 tracking-tight dark:text-gray-400 hover:text-secondary dark:hover:text-primary">
          {{ $title }}
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
</div>