<div class="flex items-center space-x-3">
  <button @click="$store.global.toggleRelease()" type="button" class="flex-shrink-0 group relative rounded-full inline-flex items-center justify-center h-5 w-12 cursor-pointer focus:outline-none dark:bg-dark" role="switch" aria-checked="false">
    <span class="sr-only">
      Toggle release (stable vs. nightly)
    </span>

    <span class="pointer-events-none absolute bg-white dark:bg-dark w-full h-full rounded-md" aria-hidden="true"></span>

    <span :class="{ 'bg-secondary': $store.global.isNightly() }" class="bg-gray-200 pointer-events-none absolute h-4 w-9 mx-auto rounded-full transition-colors ease-in-out duration-200" aria-hidden="true"></span>

    <span :class="{ 'translate-x-6': $store.global.isNightly() }" class="translate-x-0 pointer-events-none absolute left-0 inline-block h-6 w-6 border border-gray-200 dark:border-gray-700 rounded-full bg-white dark:bg-dark shadow transform ring-0 transition-transform ease-in-out duration-300" aria-hidden="true" ></span>
  </button>

  <span x-text="$store.global.isNightly() ? 'Nightly' : 'Stable'" class="dark:text-gray-300 font-bold"></span>

  {{/* Heroicon: outline/shield-check */}}
  <svg x-show="$store.global.isStable()" xmlns="http://www.w3.org/2000/svg" class="text-gray-400 dark:text-gray-500 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
  </svg>

  {{/* Heroicon: outline/moon */}}
  <svg x-show="$store.global.isNightly()" xmlns="http://www.w3.org/2000/svg" class="text-yellow-500 ml-2 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
    <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z" />
  </svg>
</div>