{{ define "title" }}
Download | {{ site.Title }}
{{ end }}

{{ define "main" }}
{{ $releases := site.Data.docs.releases }}
{{ $versions := site.Params.vector_versions }}
<div class="relative max-w-3xl lg:max-w-7xl px-6 lg:px-8 mx-auto">
  <div class="my-16">
    {{ partial "hero.html" . }}

    <div class="mt-6 flex items-center space-x-6">
      {{ partial "releases/version-selector.html" . }}
      {{ partial "releases/release-selector.html" . }}
    </div>

    {{ range $k, $v := $releases }}
    <div x-show="$store.global.version === '{{ $k }}'">
      <p>
        Codename: {{ $v.codename }}
      </p>

      <p>
        Commits
      </p>

      {{ range $v.commits }}
      {{ . }}
      {{ end }}
    </div>
    {{ end }}
  </div>
</div>
{{ end }}

{{/* codename commits date whats_next description */}}