{{ define "title" }}
Download | {{ site.Title }}
{{ end }}

{{ define "main" }}
{{ $releases := site.Data.docs.releases }}
{{ $versions := site.Params.vector_versions }}
{{ $latest := index $versions 0 }}
<div class="relative max-w-3xl lg:max-w-7xl px-6 lg:px-8 mx-auto">
  <div class="my-16">
    {{ partial "hero.html" . }}

    <div class="mt-6 flex items-center justify-between">
      {{ partial "releases/release-selector.html" . }}

      <div x-show="$store.global.release != 'nightly'">
        {{ partial "releases/version-selector.html" . }}
      </div>
    </div>

    <div x-show="$store.global.release != 'nightly'">
      <div class="mt-6 border px-6 py-4">
        {{ range $k, $v := $releases }}
        <div x-show="$store.global.isCurrent('{{ $k }}')">
          <div x-show="'{{ $k }}' != '{{ $latest }}'">
            Warning! Not current!
          </div>

          <p>
            Version: {{ $k }}
          </p>

          <p>
            Date: {{ $v.date }}
          </p>

          <p>
            <a href="/releases/{{ $k }}">
              Release notes
            </a>
          </p>

          <p>
            License: <a href="https://github.com/timberio/vector/blob/master/LICENSE">MPL 2.0</a>
          </p>

          <p>
            Downloads
          </p>

          <div>
            <p>
              Linux: <code>.tar.gz</code>
            </p>

            <a href="https://packages.timber.io/vector/{{ $k }}/vector-{{ $k }}-aarch64-unknown-linux-gnu.tar.gz">
              ARM64
            </a>
          </div>
        </div>
        {{ end }}
      </div>
    </div>

    <div x-show="$store.global.release === 'nightly'">
      <div class="my-4">
        {{ template "warning" (dict "text" "Nightly versions contain bleeding-edge changes that may contain bugs. Proceed with caution.") }}
      </div>

      <div class="border py-4 rounded-lg">

      </div>
    </div>
  </div>
</div>
{{ end }}

{{/* codename commits date whats_next description */}}

{{ define "warning" }}
<div class="bg-yellow-50 border-l-4 border-yellow-400 p-4">
  <div class="flex">
    <div class="flex-shrink-0">
      {{/* Heroicon name: solid/exclamation */}}
      <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
      </svg>
    </div>
    <div class="ml-3">
      <p class="text-sm text-yellow-700">
        {{ .text }}
      </p>
    </div>
  </div>
</div>
{{ end }}