{{ define "title" }}
{{ .Title }} | {{ site.Title }}
{{ end }}

{{ define "main" }}
{{ $version := .File.BaseFileName }}
{{ $release := index site.Data.docs.releases $version }}
{{ $highlights := where (where site.RegularPages "Section" "highlights") ".Params.release" "eq" $version }}
{{ $groups := dict "enhancement" "enhancements" "feat" "new features" "fix" "bug fixes" "deprecation" "deprecations"}}
<div class="max-w-3xl md:max-w-5xl px-6 lg:px-8 mx-auto">
  <div class="my-16">
    <div class="pb-8 md:pb-10 lg:pb-12">
      {{ partial "hero.html" . }}
    </div>

    <div>
      {{ with $release.codename }}
      <p class="inline-flex space-x-4 border dark:border-gray-700 rounded-md py-2 px-3.5">
        <span class="tracking-tight text-gray-600 dark:text-gray-300">
          Code name
        </span>

        <span class="font-bold text-dark dark:text-primary">
          {{ . }}
        </span>
      </p>
      {{ end }}

      {{ with $release.description }}
      <div class="mt-8 prose dark:prose-dark max-w-none">
        {{ . | markdownify }}
      </div>
      {{ end }}

      {{ with $highlights }}
      <div class="mt-8">
        <div class="prose dark:prose-dark">
          {{ partial "heading.html" (dict "text" "Highlights" "level" 2) }}
        </div>

        <div class="mt-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
          {{ range . }}
          {{ .Render "li" }}
          {{ end }}
        </div>
      </div>
      {{ end }}

      {{ with $release.known_issues }}
      {{ if gt (len $release.known_issues) 0 }}
      <div class="mt-8">
        <div class="prose dark:prose-dark max-w-none">
          {{ partial "heading.html" (dict "text" "Known issues" "level" 2) }}
        </div>

        <div class="mt-6 flex flex-col space-y-8">
          <div>
            <ul class="list-disc">
              {{ range . }}
                <li>
                  <span class="prose dark:prose-dark">
                    {{ .| markdownify }}
                  </span>
                </li>
              {{ end }}
            </ul>
          </div>
          {{ end }}
        </div>
      </div>
      {{ end }}

      {{ if gt (len $release.changelog) 0 }}
      <div class="mt-8">
        <div class="prose dark:prose-dark max-w-none">
          {{ partial "heading.html" (dict "text" "Changelog" "level" 2) }}
        </div>

        <div class="mt-6 flex flex-col space-y-8">
          {{ range $k, $v := $groups }}
          {{ $changes := where $release.changelog ".type" "eq" $k }}
          {{ if $changes }}
          {{ $numChanges := len $changes }}
          {{ $heading := printf "%d %s" $numChanges $v }}
          <div>
            <div class="prose dark:prose-dark max-w-none">
              {{ partial "heading.html" (dict "text" $heading "level" 3 "icon" false) }}
            </div>

            <ul class="list-disc">
              {{ range $changes }}
                <li>
                  <span class="prose dark:prose-dark">
                    {{ .description | markdownify }}
                  </span>
                </li>
              {{ end }}
            </ul>
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
      {{ else }}
        {{ if gt (len $release.commits) 0 }}
        <div class="mt-8">
          <div class="prose dark:prose-dark max-w-none">
            {{ partial "heading.html" (dict "text" "Changelog" "level" 2) }}
          </div>

          <div class="mt-6 flex flex-col space-y-8">
            {{ range $k, $v := $groups }}
            {{ $commits := where $release.commits ".type" "eq" $k }}
            {{ if $commits }}
            {{ $numCommits := len $commits }}
            {{ $heading := printf "%d %s" $numCommits $v }}
            <div>
              <div class="prose dark:prose-dark max-w-none">
                {{ partial "heading.html" (dict "text" $heading "level" 3 "icon" false) }}
              </div>

              <div class="mt-4 flex flex-col space-y-2">
                {{ range $commits }}
                {{ template "commit" . }}
                {{ end }}
              </div>
            </div>
            {{ end }}
            {{ end }}
          </div>
        </div>
        {{ end }}
      {{ end }}

      {{ with $release.whats_next }}
      <div class="mt-8">
        <span class="prose dark:prose-dark max-w-none">
          {{ partial "heading.html" (dict "text" "What's next" "level" 2) }}
        </span>

        <div class="mt-6 flex flex-col space-y-6">
          {{ range . }}
          <div>
            <span class="text-xl font-semibold text-dark dark:text-gray-300">
              {{ .title }}
            </span>

            <div class="mt-2.5 prose dark:prose-dark max-w-none">
              {{ .description | markdownify }}
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
    <div class="mt-8">
      <div class="lg:grid lg:grid-cols-3 gap-8">
        <div class="col-span-2">
          <div class="prose">
            {{ partial "heading.html" (dict "text" (print "Download Version " $version) "level" 2) }}
          </div>

          <div class="mt-2 border px-4 py-3 lg:px-6 lg:py-4 rounded-md dark:border-gray-700">
            {{ partial "download/download-matrix.html" (dict "version" $version) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "changelog_entry" }}
<span class="flex items-center justify-between space-x-3">
  <span class="flex items-center space-x-3">
    {{/* Description */}}
    <span class="prose dark:prose-dark leading-snug flex-shrink prose-sm">
      {{ .description | markdownify }}
    </span>
  </span>
</span>
{{ end }}

{{ define "commit" }}
<span class="flex items-center justify-between space-x-3">
  <span class="flex items-center space-x-3">
    {{/* Scopes */}}
    <span class="flex space-x-1.5">
      {{ range .scopes }}
      {{ partial "badge.html" (dict "word" . "color" "blue") }}
      {{ end }}
    </span>

    {{/* Description */}}
    <span class="prose dark:prose-dark leading-snug flex-shrink prose-sm">
      {{ .description | markdownify }}
    </span>
  </span>

  {{/* Pull request chip */}}
  {{ with .pr_number }}
  {{ $link := printf "https://github.com/vectordotdev/vector/pull/%v" . }}
  <a href="{{ $link }}" class="font-mono flex items-center space-x-1 py-1 px-2 rounded-md bg-gray-100 dark:bg-gray-500 text-dark dark:text-gray-100 hover:bg-gray-200 dark:hover:bg-gray-600" rel="noopener" target="_blank">
    <ion-icon class="h-3 w-3" name="git-pull-request-sharp"></ion-icon>

    <span class="text-xs p-0">
      {{ . }}
    </span>
  </a>
  {{ end }}
</span>
{{ end }}

{{ define "below" }}
{{ partial "releases/pagination.html" . }}
{{ end }}