{{ define "title" }}
{{ .Title }} | {{ site.Title }}
{{ end }}

{{ define "main" }}
{{ $version := .File.BaseFileName }}
{{ $release := index site.Data.docs.releases $version }}
{{ $highlights := where (where site.RegularPages "Section" "highlights") ".Params.release" "eq" $version }}
<div class="max-w-3xl md:max-w-5xl px-6 lg:px-8 mx-auto">
  <div class="my-16">
    {{ partial "hero.html" . }}

    <div class="mt-16">
      {{ with $release.codename }}
      <p class="inline-flex space-x-4 border dark:border-gray-700 rounded-md py-2 px-3.5">
        <span class="tracking-tight text-gray-600 dark:text-gray-300">
          Code name
        </span>

        <span class="font-bold text-dark dark:text-primary">
          {{ . }}
        </span>
      </p>
      {{ end }}

      {{ with $release.description }}
      <div class="mt-8 prose dark:prose-dark">
        {{ . | markdownify }}
      </div>
      {{ end }}

      {{ with $highlights }}
      <div class="mt-8">
        <h3 id="highlights" class="text-2xl font-semibold text-dark dark:text-gray-300">
          Highlights
        </h3>

        <div class="mt-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
          {{ range . }}
          {{ .Render "li" }}
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>

  {{ partial "pagination.html" . }}
</div>
{{ end }}