<div class="relative bg-gradient-to-l from-purple-v to-primary">
  <div class="max-w-7xl mx-auto py-1 px-3 sm:px-6 lg:px-8">
    <div class="pr-16 sm:text-center sm:px-16">
      <p class="font-medium text-gray-800 tracking-tight">
        <span class="md:inline">
          APT and RPM repositories at repositories.timber.io have been decommissioned. See
        </span>
        <span class="block sm:ml-2 sm:inline-block">
          <a href="/highlights/2023-11-07-new-linux-repos/" class="text-black font-semibold"> Migration instructions <span aria-hidden="true">&rarr;</span></a>
        </span>
      </p>
    </div>
  </div>
</div>