{{/* Used by several shortcodes to display config-style info (CLI, API, component configs/output/telemetry, etc.) */}}
{{ $componentType := .type }}
{{ $tag := .tag }}
{{ $here := .File }}
<div class="relative no-prose w-full border dark:border-gray-700 rounded-md">
  {{/* Source/transform/sink config */}}
  {{ with .config }}
  <div class="flex flex-col divide-y dark:divide-gray-700">
    {{ range $k, $v := . }}
    {{ if ne $k "type" }}
    {{ $name := $k }}
    <div class="py-4 px-6">
      <span class="flex justify-between items-center">
        {{/* Config name */}}
        <span class="text-black hover:text-secondary font-bold font-mono tracking-snug text-base">
          <h3 id="{{ $name }}">
            <a href="#{{ $name }}">
              {{ $name }}
            </a>
          </h3>
        </span>

        {{/* Config labels */}}
        <span class="flex justify-between space-x-1">
          {{ if $v.common }}
          {{ partial "badge.html" (dict "word" "common" "color" "blue") }}
          {{ end }}

          {{ if $v.required }}
          {{ partial "badge.html" (dict "word" "required" "color" "red") }}
          {{ else }}
          {{ partial "badge.html" (dict "word" "optional" "color" "gray") }}
          {{ end }}

          {{ range $k, $v := $v.type }}
          {{ $isArray := eq $k "array" }}
          {{ if $isArray }}
          {{ range $k, $v := $v.items.type }}
          {{ $name := printf "[%s]" $k }}
          {{ partial "badge.html" (dict "word" $name "color" "gray") }}
          {{ end }}
          {{ else }}
          {{ partial "badge.html" (dict "word" $k "color" "gray") }}
          {{ end }}

          {{ if $v.enum }}
          {{ partial "badge.html" (dict "word" "enum" "color" "yellow") }}
          {{ end }}
          {{ end }}
        </span>
      </span>

      <div class="mt-4 prose dark:prose-dark leading-snug text-gray-600 dark:text-gray-300">
        {{ $v.description | markdownify }}
      </div>

      {{ range $k, $v := $v.type }}
      {{ if eq $k "object" }} {{/* Object (with sub-configs) */}}
      <div class="mt-4 border dark:border-gray-700 rounded flex flex-col divide-y dark:divide-gray-700">
        {{ range $k, $v := $v.options }}
        <div class="py-3 px-4">
          <span class="flex justify-between items-center">
            <span class="font-mono font-semibold">
              <h4 id="{{ $k }}">
                <a href="#{{ $k }}">
                  {{ $name }}.{{ $k }}
                </a>
              </h4>
            </span>

            <span class="flex space-x-1">
              {{ if $v.required  }}
              {{ partial "badge.html" (dict "word" "required" "color" "red") }}
              {{ else }}
              {{ partial "badge.html" (dict "word" "optional" "color" "blue") }}
              {{ end }}

              {{ range $k, $v := $v.type }}
              {{ partial "badge.html" (dict "word" $k "color" "gray") }}

              {{ with $v.syntax }}
              {{ partial "badge.html" (dict "word" $v.syntax "color" "gray") }}
              {{ end }}
              {{ end }}
            </span>
          </span>

          <div class="mt-4 prose dark:prose-dark leading-snug">
            {{ $v.description | markdownify }}
          </div>

          {{/* Default value */}}
          {{ range $k, $v := $v.type }}
          {{ if or $v.default (eq $v.default false) }}
          <div class="mt-4">
            {{ template "default" . }}
          </div>
          {{ end }}
          {{ end }}
        </div>
        {{ end }}
      </div>
      {{ end }}

      {{/* Enum */}}
      {{ with $v.enum }}
      <div class="mt-3 border rounded py-2 px-3 dark:border-gray-700">
        <span class="flex justify-between items-center">
          <span class="font-semibold">
            Enum
          </span>

          <span class="flex items-center space-x-1">
            {{ partial "badge.html" (dict "word" $k "color" "gray") }}
            {{ partial "badge.html" (dict "word" $v.syntax "color" "gray") }}
          </span>
        </span>

        <div class="mt-2 border rounded py-2.5 px-4 dark:border-gray-700">
          <span class="tracking-tight font-semibold">
            Options
          </span>

          <div class="mt-1 flex flex-col space-y-1.5">
            {{ range $k, $v := . }}
            <div>
              <span class="font-mono text-primary-dark dark:text-primary text-sm">
                {{ $k }}
              </span>

              <div class="ml-3 mt-1 prose prose-sm dark:prose-dark leading-snug">
                {{ $v | markdownify }}
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}

      {{/* Array */}}
      {{ if eq $k "array" }}
      {{ with $v.items }}
      <div class="mt-3 border rounded py-2 px-3 dark:border-gray-700">
        {{ range $k, $v := . }}
        {{ range $k, $v := . }}
        <span class="flex justify-between items-center">
          <span class="font-semibold">
            Array
          </span>

          <span class="flex items-center space-x-1">
            {{ partial "badge.html" (dict "word" $k "color" "gray") }}
            {{ partial "badge.html" (dict "word" $v.syntax "color" "gray") }}
          </span>
        </span>

        {{ with $v.examples }}
        {{ $json := . | jsonify }}
        <div x-data="{ open: false }" class="mt-2.5 border rounded py-2 px-3 dark:border-gray-700">
          <span class="flex justify-between items-center">
            <span class="text-sm">
              Examples
            </span>

            {{ template "config-toggler" (dict "size" 4) }}
          </span>

          <div x-show="open" class="mt-3 text-sm flex flex-col space-y-2">
            {{ highlight $json "json" "" }}
          </div>
        </div>
        {{ end }}
        {{ end }}
        {{ end }}
      </div>
      {{ end }}
      {{ end }}
      {{ end }}

      {{/* Default value */}}
      {{ range $k, $v := $v.type }}
      {{ if or $v.default (eq $v.default false) }}
      <div class="mt-4">
        {{ template "default" . }}
      </div>
      {{ end }}
      {{ end }}
    </div>
    {{ end }}
    {{ end }}
  </div>
  {{ end }}

  {{/* Source/transform/sink requirements */}}
  {{ with .requirements }}
  <div class="py-4 px-6 flex items-center">
    <div class="mr-8 flex-shrink-0">
      {{/* Heroicon: outline/exclamation */}}
      <svg xmlns="http://www.w3.org/2000/svg" class="text-yellow-500 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
      </svg>
    </div>
    <div class="flex flex-col space-y-4 overflow-x-auto">
      {{ range . }}
      <div class="prose dark:prose-dark leading-normal">
        {{ . | markdownify }}
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}

  {{/* Source/transform/sink output */}}
  {{ with .output }}
  <div class="py-3 px-5">
    {{ with .metrics }}
    <span class="flex items-center justify-between">
      <h3 class="hover:text-secondary" id="output-metrics">
        <a href="#metrics">
          Metrics
        </a>
      </h3>

      <a href="/docs/about/under-the-hood/architecture/data-model/metric">
        link
      </a>
    </span>

    <div class="mt-3 border rounded divide-y dark:border-gray-700 dark:divide-gray-700">
      {{ template "telemetry" . }}
    </div>
    {{ end }}

    {{ with .logs }}
    <span class="flex items-center justify-between">
      <h3 class="hover:text-secondary" id="output-logs">
        <a href="#metrics">
          Logs
        </a>
      </h3>

      <a href="/docs/about/under-the-hood/architecture/data-model/log">
        link
      </a>
    </span>

    <div class="mt-3 border rounded divide-y dark:border-gray-700 dark:divide-gray-700">
      {{ template "telemetry" . }}
    </div>
    {{ end }}
  </div>
  {{ end }}

  {{/* Source/transform/sink examples */}}
  {{ with .examples }}
  {{ $multiple := gt (len . ) 1 }}
  <div class="no-prose py-3.5 px-5">
    {{ if $multiple }}
    {{ $first := index . 0 }}
    <div x-data="{ selected: '{{ $first.title }}' }">
      <nav class="flex items-start space-between" aria-label="Component examples tabs">
        {{ range . }}
        <a @click="selected = '{{ .title }}'" :class="{ 'bg-gray-100 dark:bg-gray-700': selected === '{{ .title }}' }" class="cursor-pointer dark:text-gray-100 text-gray-600 hover:text-dark px-3 py-2 font-medium text-sm rounded-md">
          {{ .title }}
        </a>
        {{ end }}
      </nav>

      {{ range . }}
      <div x-show="selected === '{{ .title }}'" class="mt-2">
        {{ template "example" . }}
      </div>
      {{ end }}
    </div>
    {{ else }}
    {{ $example := index . 0 }}
    {{ template "example" $example }}
    {{ end }}
  </div>
  {{ end }}

  {{/* Source/transform/sink output */}}
  {{ with .telemetry }}
  <div class="py-4 px-6">
    {{ with .metrics }}
    <span class="flex items-center justify-between">
      <h3 class="font-bold hover:text-secondary" id="telemetry-metrics">
        <a href="#telemetry-metrics">
          Metrics
        </a>
      </h3>

      <a href="/docs/about/under-the-hood/architecture/data-model/metric">
        link
      </a>
    </span>

    <div class="mt-3 border rounded divide-y dark:border-gray-700 dark:divide-gray-700">
      {{ template "telemetry" . }}
    </div>
    {{ end }}

    {{ with .logs }}
    <span class="flex items-center justify-between">
      <h3 class="hover:text-secondary" id="telemetry-logs">
        <a href="#telemetry-logs">
          Logs
        </a>
      </h3>

      <a href="/docs/about/under-the-hood/architecture/data-model/log">
        link
      </a>
    </span>

    <div class="mt-3 border rounded divide-y dark:border-gray-700 dark:divide-gray-700">
      {{ template "telemetry" . }}
    </div>
    {{ end }}
  </div>
  {{ end }}

  {{/* Source/transform/sink warnings */}}
  {{ with .warnings }}
  <div class="no-prose py-4 px-6 flex items-center">
    <div class="mr-8 flex-shrink-0">
      <svg xmlns="http://www.w3.org/2000/svg" class="text-red-400 h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
      </svg>
    </div>
    <div class="flex flex-col space-y-4 overflow-x-auto">
      {{ range . }}
      <div class="prose dark:prose-dark leading-normal">
        {{ . | markdownify }}
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}

  {{/* Source/transform/sink environment variables */}}
  {{ with .env_vars }}
  <div class="no-prose flex flex-col divide-y dark:divide-gray-700">
    {{ range $k, $v := . }}
    <div class="py-4 px-6">
      <span class="flex justify-between items-center">
        <span>
          <h3 id="{{ $k }}" class="font-mono">
            <a href="#{{ $k }}">
              {{ $k }}
            </a>
          </h3>
        </span>

        <span class="flex space-x-1">
          {{ if $v.common }}
          {{ partial "badge.html"  (dict "word" "common" "color" "blue") }}
          {{ end }}

          {{ if $v.required }}
          {{ partial "badge.html" (dict "word" "required" "color" "red") }}
          {{ else }}
          {{ partial "badge.html" (dict "word" "optional" "color" "blue") }}
          {{ end }}

          {{ range $k, $v := $v.type }}
          {{ partial "badge.html" (dict "word" $k "color" "gray") }}
          {{ partial "badge.html" (dict "word" $v.syntax "color" "gray") }}
          {{ end }}
        </span>
      </span>

      <div class="my-4 prose prose-sm dark:prose-dark">
        {{ $v.description | markdownify }}
      </div>

      {{ range $k, $v := $v.type }}
      {{ with $v.default }}
      <span>
        Default: <code>{{ . }}</code>
      </span>
      {{ end }}
      {{ end }}

      {{ range $k, $v := $v.type }}
      {{ with $v.examples }}
      <div x-data="{ open: false }" class="border rounded py-2 px-3 dark:border-gray-700">
        <span class="flex justify-between items-center">
          <span class="font-semibold">
            Examples
          </span>

          {{ template "config-toggler" (dict "size" 5) }}
        </span>

        <div x-show="open">
          {{ range . }}
          <div class="overflow-x-scroll">
            <span class="font-mono text-sm">
              {{ . }}
            </span>
          </div>
          {{ end }}
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
    {{ end }}
  </div>
  {{ end }}
</div>

{{ define "example" }}
{{ $event := .input | jsonify (dict "indent" "  ") }}
<span>
  Given this event...
</span>

<div class="my-2.5">
  {{ highlight $event "json" "" }}
</div>

<span>
  ...and this Vector configuration...
</span>

<div class="my-2.5">
  {{ if or (reflect.IsMap .configuration) (reflect.IsSlice .configuration) }}
  {{ $json := .configuration | jsonify (dict "indent" "  ") }}
  {{ highlight $json "json" "" }}
  {{ else }}
  {{ highlight .configuration "toml" "" }}
  {{ end }}
</div>

{{ if reflect.IsSlice .output }}
{{ $multiple := gt (len .output) 1 }}
{{ if $multiple }}
{{ $kind := "" }}
{{ $event := slice }}
{{ range .output }}
{{ if .log }}
{{ $kind = "log" }}
{{ $event = $event | append .log }}
{{ end }}
{{ if .metric }}
{{ $kind = "metric" }}
{{ $event = $event | append .metric }}
{{ end }}
{{ end }}

{{ if eq $kind "log" }}
<span>
  ...this Vector <a href="/docs/about/under-the-hood/architecture/data-model/log">log</a> event is produced:
</span>
{{ end }}

{{ if eq $kind "metric" }}
<span>
  ...this Vector <a href="/docs/about/under-the-hood/architecture/data-model/metric">metric</a> event is produced:
</span>
{{ end }}

{{ $json := $event | jsonify (dict "indent" "  ") }}
{{ highlight $json "json" "" }}
{{ else }}
{{ $out := index .output 0 }}
{{ with $out.metric }}
{{ $json := . | jsonify (dict "indent" "  ") }}
<span>
  ...this Vector <a href="/docs/about/under-the-hood/architecture/data-model/metric">metric</a> event is produced:
</span>

<div class="mt-2.5">
  {{ highlight $json "json" "" }}
</div>
{{ end }}

{{ with $out.log }}
{{ $json := . | jsonify (dict "indent" "  ") }}
<span>
  ...this Vector <a href="/docs/about/under-the-hood/architecture/data-model/log">log</a> event is produced:
</span>

<div class="mt-2.5">
  {{ highlight $json "json" "" }}
</div>
{{ end }}
{{ end }}
{{ end }}

{{ if reflect.IsMap .output }}
{{ with .output.log }}
{{ $json := . | jsonify (dict "indent" "  ") }}
<span>
  ...this Vector <a href="/docs/about/under-the-hood/architecture/data-model/log">log</a> event is produced:
</span>

<div class="mt-2.5">
  {{ highlight $json "json" "" }}
</div>
{{ end }}

{{ with .output.metric }}
{{ $json := . | jsonify (dict "indent" "  ") }}
<span>
  ...this Vector <a href="/docs/about/under-the-hood/architecture/data-model/metric">metric</a> event is produced:
</span>

<div class="mt-2.5">
  {{ highlight $json "json" "" }}
</div>
{{ end }}
{{ end }}
{{ end }}

{{ define "config-toggler" }}
{{ $size := .size | default 6 }}
<a @click="open = !open" class="cursor-pointer">
  {{/* Heroicon: outline/plus */}}
  <svg x-show="!open" xmlns="http://www.w3.org/2000/svg" class="h-{{ $size }} w-{{ $size }}" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
  </svg>

  {{/* Heroicon: outline/minus-sm */}}
  <svg x-show="open" xmlns="http://www.w3.org/2000/svg" class="h-{{ $size }} w-{{ $size }}" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4" />
  </svg>
</a>
{{ end }}

{{ define "default" }}
<div class="flex flex-row-reverse">
  <span class="text-sm">
    <span class="font-semibold">default:</span>
    <code>{{ .default }}</code>{{ with .unit }} ({{ . }}){{ end }}
  </span>
</div>
{{ end }}

{{ define "telemetry" }}
{{ range $k, $v := . }}
<div class="py-4 px-6">
  <span class="flex justify-between items-center">
    <span class="font-mono font-bold text-dark dark:text-gray-200">
      <h4 id="{{ $k }}">
        <a href="#{{ $k }}">
          {{ $k }}
        </a>
      </h4>
    </span>

    {{ partial "badge.html" (dict "word" $v.type "color" "gray") }}
  </span>

  {{ with $v.description }}
  <div class="my-3 prose dark:prose-dark">
    {{ . | markdownify }}
  </div>
  {{ end }}

  {{ with $v.tags }}
  <div class="mt-3 border rounded dark:border-gray-700">
    <div class="flex flex-col divide-y dark:divide-gray-700">
      {{ range $k, $v := . }}
      <div class="py-3 px-4">
        <span class="flex justify-between items-center">
          <span class="font-mono font-semibold">
            {{ $k }}
          </span>

          <span>
            {{ if $v.required }}
            {{ partial "badge.html" (dict "word" "required" "color" "red") }}
            {{ else }}
            {{ partial "badge.html" (dict "word" "optional" "color" "blue") }}
            {{ end }}
          </span>
        </span>

        <div>
          {{ $v.description }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
{{ end }}