{{/* Used by several shortcodes to display config-style info (CLI, API, VRL functions, etc.) */}}
{{ $componentType := .type }}
{{ $tag := .tag }}
<div class="relative no-prose w-full border dark:border-gray-700 rounded-md">
  {{/* Source/transform/sink config */}}
  {{ with .config }}
  <div class="flex flex-col divide-y divide-gray-200 dark:divide-gray-700">
    {{ range $k, $v := . }}
    {{ if ne $k "type" }}
    <div class="py-4 px-6">
      <span class="flex justify-between items-center">
        <h3 id="{{ $k }}">
          <a href="#{{ $k }}" class="font-mono font-bold text-lg text-primary-dark dark:text-primary dark:hover:text-secondary">
            {{ $k }}
          </a>
        </h3>
        <span class="flex justify-between space-x-1">
          {{ if $v.common }}
          {{ partial "badge.html" (dict "word" "common" "color" "blue") }}
          {{ end }}

          {{ if $v.required }}
          {{ partial "badge.html" (dict "word" "required" "color" "red") }}
          {{ else }}
          {{ partial "badge.html" (dict "word" "optional" "color" "gray") }}
          {{ end }}

          {{ range $k, $v := $v.type }}
          {{ $isArray := eq $k "array" }}
          {{ if $isArray }}
          {{ range $k, $v := $v.items.type }}
          {{ $name := printf "[%s]" $k }}
          {{ partial "badge.html" (dict "word" $name "color" "gray") }}
          {{ end }}
          {{ else }}
          {{ partial "badge.html" (dict "word" $k "color" "gray") }}
          {{ end }}

          {{ if $v.enum }}
          {{ partial "badge.html" (dict "word" "enum" "color" "yellow") }}
          {{ end }}
          {{ end }}
        </span>
      </span>

      <div class="my-3 leading-normal text-gray-600 dark:text-gray-300">
        {{ $v.description | markdownify }}
      </div>

      {{ range $k, $v := $v.type }}
      {{ if .default }}
      <p>
        Default: <code>{{ .default }}</code>{{ with .unit }} ({{ . }}){{ end }}
      </p>
      {{ end }}

      {{ with .items.type }}
      {{ range $k, $v := . }}
      <div class="mt-3 border dark:border-gray-700 rounded">
        <div class="py-2.5 px-4">
          <div class="flex justify-between">
            <span>
              Array
            </span>

            <span class="flex space-x-1">
              <span>
                {{ partial "badge.html" (dict "word" $k "color" "gray") }}
              </span>

              <span>
                {{ partial "badge.html" (dict "word" $v.syntax "color" "gray") }}
              </span>
            </span>
          </div>

          <p>
            Examples:
          </p>

          {{ range $v.examples }}
          <p class="block">
            <span>
              &rarr;
            </span>
            <code>
              {{- . -}}
            </code>
          </p>
          {{ end }}
        </div>
      </div>
      {{ end }}
      {{ end }}

      {{ with $v.enum }}
      <div class="mt-3 border dark:border-gray-700 rounded">
        <div class="py-2.5 px-4">
          <div>
            <span>
              Enum options
            </span>
          </div>

          <div>
            {{ range $k, $v := . }}
            <p class="flex justify-between">
              <span>
                <code>{{ $k }}</code>
              </span>

              <span>
                {{ $v | markdownify }}
              </span>
            </p>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
    {{ end }}
    {{ end }}
  </div>
  {{ end }}

  {{/* Source/transform/sink requirements */}}
  {{ with .requirements }}
  <div class="no-prose py-4 px-6 flex items-center">
    <div class="mr-5 flex-shrink-0">
      <svg xmlns="http://www.w3.org/2000/svg" class="text-yellow-500 h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
      </svg>
    </div>
    <div class="flex flex-col divide-gray-100">
      {{ range . }}
      <p class="leading-normal">
        {{ . | markdownify }}
      </p>
      {{ end }}
    </div>
  </div>
  {{ end }}

  {{/* Source/transform/sink output */}}
  {{ with .output }}
  <div class="no-prose py-3.5 px-5">
    {{ with .metrics }}
    <h3 class="hover:text-secondary">
      <a href="/docs/about/under-the-hood/architecture/data-model/metric">
        Metrics
      </a>
    </h3>
    {{ end }}

    {{ with .logs }}
    <h3 class="hover:text-secondary">
      <a href="/docs/about/under-the-hood/architecture/data-model/log">
        Logs
      </a>
    </h3>
    {{ end }}
  </div>
  {{ end }}

  {{/* Source/transform/sink examples */}}
  {{ with .examples }}
  {{ $multiple := gt (len . ) 1 }}
  <div class="no-prose py-3.5 px-5">
    {{ if $multiple }}
    {{ $first := index . 0 }}
    <div x-data="{ selected: '{{ $first.title }}' }">
      <nav class="flex items-start space-between" aria-label="Component examples tabs">
        {{ range . }}
        <a @click="selected = '{{ .title }}'" :class="{ 'bg-gray-100 dark:bg-gray-700': selected === '{{ .title }}' }" class="cursor-pointer dark:text-gray-100 text-gray-600 hover:text-dark px-3 py-2 font-medium text-sm rounded-md">
          {{ .title }}
        </a>
        {{ end }}
      </nav>

      {{ range . }}
      <div x-show="selected === '{{ .title }}'" class="mt-2">
        {{ template "example" . }}
      </div>
      {{ end }}
    </div>
    {{ else }}
    {{ $example := index . 0 }}
    {{ template "example" $example }}
    {{ end }}
  </div>
  {{ end }}

  {{/* Source/transform/sink telemetry */}}
  {{ with .telemetry }}
  <div class="py-4 px-6">
    {{ with .metrics }}
    <h3 id="metrics">
      Metrics
    </h3>

    <p class="mt-2 leading-normal">
      This component provides the following metrics that can be retrieved through the <a href="/docs/reference/configuration/source/internal_metrics"><code>internal_metrics</code> source</a>. See the <a href="/docs/administration/monitoring/#metrics">metrics section</a> on the <a href="/docs/administration/monitoring#metrics">monitoring page</a> for more info.
    </p>

    <div class="mt-2 border rounded flex flex-col divide-y divide-gray-100 dark:divide-gray-600">
      {{ range $k, $v := . }}
      {{ $type := $v.type }}
      <div class="py-2 px-4" id="{{ $k }}">
        <span class="flex justify-between items-center">
          <a href="#{{ $k }}" class="font-mono">
            {{ $k }}
          </a>

          <span>
            {{/* Metric type */}}
            {{ $url := printf "/docs/about/under-the-hood/architecture/data-model/metric/#%s" $type }}
            <a href="{{ $url }}">
              {{ partial "badge.html" (dict "word" $v.type "color" "blue") }}
            </a>
          </span>
        </span>

        <div class="mt-2 border rounded py-2 px-3">
          <p>
            Tags
          </p>

          <div class="flex flex-col space-y-2">
            {{ range $v.tags }}
            <span class="flex justify-between items-center">
              <span>
                {{ .name }}
              </span>

              {{ if .required }}
              <span>
                {{ partial "badge.html" (dict "word" "required" "color" "red") }}
              </span>
              {{ end }}
            </span>

            <div>
              {{ .description | markdownify }}
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    {{ end }}

    {{ with .logs }}
    {{/* No components use this yet */}}
    {{ end }}
  </div>
  {{ end }}

  {{/* Source/transform/sink warnings */}}
  {{ with .warnings }}
  <div class="no-prose py-4 px-6 flex items-center">
    <div class="mr-5 flex-shrink-0">
      <svg xmlns="http://www.w3.org/2000/svg" class="text-red-400 h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
      </svg>
    </div>
    <div class="flex flex-col divide-gray-100">
      {{ range . }}
      <p class="leading-normal">
        {{ . | markdownify }}
      </p>
      {{ end }}
    </div>
  </div>
  {{ end }}

  {{/* Source/transform/sink environment variables */}}
  {{ with .env_vars }}
  <div class="no-prose flex flex-col divide-y dark:divide-gray-700">
    {{ range $k, $v := . }}
    <div class="py-4 px-6">
      <span class="flex justify-between">
        <span>
          <h3 id="{{ $k }}" class="font-mono">
            {{ $k }}
          </h3>
        </span>

        <span>
          {{ if $v.common }}
          {{ partial "badge.html"  (dict "word" "common" "color" "blue") }}
          {{ end }}

          {{ if not $v.required }}
          {{ partial "badge.html" (dict "word" "optional" "color" "blue") }}
          {{ end }}

          {{ if $v.required }}
          {{ partial "badge.html" (dict "word" "required" "color" "blue") }}
          {{ end }}

          {{ range $k, $v := $v.type }}
          {{ partial "badge.html" (dict "word" $k "color" "blue") }}
          {{ partial "badge.html" (dict "word" $v.syntax "color" "blue") }}
          {{ end }}
        </span>
      </span>

      <div class="my-4 prose prose-sm dark:prose-dark">
        {{ $v.description | markdownify }}
      </div>

      {{ range $k, $v := $v.type }}
      {{ with $v.default }}
      <p>
        Default: <code>{{ . }}</code>
      </p>
      {{ end }}
      {{ end }}

      {{ range $k, $v := $v.type }}
      {{ with $v.examples }}
      <div x-data="{ open: false }" class="border rounded py-2 px-3">
        <span class="flex justify-between items-center">
          <span class="text-sm">
            Examples
          </span>

          <a @click="open = !open">
            <svg x-show="!open" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>

            <svg x-show="open" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4" />
            </svg>
          </a>
        </span>

        <div x-show="open">
          {{ range . }}
          <div class="overflow-x-scroll">
            <span class="font-mono">
              {{ . }}
            </span>
          </div>
          {{ end }}
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
    {{ end }}
  </div>
  {{ end }}
</div>

{{ define "example" }}
{{ $event := .input | jsonify (dict "indent" "  ") }}
<p>
  Given this event...
</p>

{{ highlight $event "json" "" }}

<p>
  ...and this Vector configuration...
</p>

{{ highlight .configuration "toml" "" }}

{{ if reflect.IsSlice .output }}
{{ $multiple := gt (len .output) 1 }}
{{ if $multiple }}
{{ $kind := "" }}
{{ $event := slice }}
{{ range .output }}
{{ if .log }}
{{ $kind = "log" }}
{{ $event = $event | append .log }}
{{ end }}
{{ if .metric }}
{{ $kind = "metric" }}
{{ $event = $event | append .metric }}
{{ end }}
{{ end }}

{{ if eq $kind "log" }}
<p>
  ...this Vector <a href="/docs/about/under-the-hood/architecture/data-model/log">log</a> event is produced:
</p>
{{ end }}

{{ if eq $kind "metric" }}
<p>
  ...this Vector <a href="/docs/about/under-the-hood/architecture/data-model/metric">metric</a> event is produced:
</p>
{{ end }}

{{ $json := $event | jsonify (dict "indent" "  ") }}
{{ highlight $json "json" "" }}
{{ else }}
{{ $out := index .output 0 }}
{{ with $out.metric }}
{{ $json := . | jsonify (dict "indent" "  ") }}
<p>
  ...this Vector <a href="/docs/about/under-the-hood/architecture/data-model/metric">metric</a> event is produced:
</p>

{{ highlight $json "json" "" }}
{{ end }}

{{ with $out.log }}
{{ $json := . | jsonify (dict "indent" "  ") }}
<p>
  ...this Vector <a href="/docs/about/under-the-hood/architecture/data-model/log">log</a> event is produced:
</p>

{{ highlight $json "json" "" }}
{{ end }}
{{ end }}
{{ end }}

{{ if reflect.IsMap .output }}
{{ with .output.log }}
{{ $json := . | jsonify (dict "indent" "  ") }}
<p>
  ...this Vector <a href="/docs/about/under-the-hood/architecture/data-model/log">log</a> event is produced:
</p>

{{ highlight $json "json" "" }}
{{ end }}

{{ with .output.metric }}
{{ $json := . | jsonify (dict "indent" "  ") }}
<p>
  ...this Vector <a href="/docs/about/under-the-hood/architecture/data-model/metric">metric</a> event is produced:
</p>

{{ highlight $json "json" "" }}
{{ end }}
{{ end }}
{{ end }}