{{ $serverMode   := site.IsServer }}
{{ $includePaths := slice "node_modules" }}
{{ $sass         := "sass/style.sass" }}
{{ $cssOutput    := "css/style.css" }}
{{ $devOpts      := dict "targetPath" $cssOutput "includePaths" $includePaths "enableSourceMap" true }}
{{ $prodOpts     := dict "targetPath" $cssOutput "includePaths" $includePaths "outputStyle" "compressed" }}
{{ $cssOpts      := cond $serverMode $devOpts $prodOpts }}
{{ $postCssOpts  := dict "inlineImports" true }}
{{ $css          := resources.Get $sass | resources.ExecuteAsTemplate $sass . | toCSS $cssOpts | postCSS $postCssOpts }}

{{/* The Sass for the TOC needs to be handled separately, as PurgeCSS will eliminate all of these
  classes since they're created at page load time by JavaScript */}}
{{ $tocCss := resources.Get "sass/toc.sass" | toCSS $cssOpts }}

{{/* Run CSS post-processing for production and preview builds */}}
{{ if $serverMode }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">
<link rel="stylesheet" href="{{ $tocCss.RelPermalink }}">
{{ else }}
{{ $css := $css | fingerprint | resources.PostProcess }}
{{ $tocCss := $tocCss | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
<link rel="stylesheet" href="{{ $tocCss.RelPermalink }}" integrity="{{ $tocCss.Data.Integrity }}">
{{ end }}