{{ $year := now.Year }}
{{ $menu := site.Menus.footer }}
{{ $buttons := site.Menus.comms }}
{{ $subfooterLinks := site.Menus.subfooter }}
<footer class="footer">
  <section class="section">
    <div class="container">
      <div class="columns is-variable is-8">
        <div class="column is-one-quarter">
          <p class="title is-size-3 is-size-4-mobile has-text-light has-text-weight-bold mb-4">
            {{ site.Title }}
          </p>

          {{ partial "social-buttons.html" . }}
        </div>

        {{ range $menu }}
        <div class="column">
          <p class="is-size-5 is-size-6-mobile has-text-weight-medium">
            {{ .Name }}
          </p>

          {{ range .Children }}
          <p>
            <a href="{{ .URL }}">
              {{ .Name }}
            </a>
          </p>
          {{ end }}
        </div>
        {{ end }}
      </div>

      <hr class="has-background-purple" />

      <div class="columns">
        <div class="column is-half has-text-left">
          <p class="has-text-weight-light">
            Copyright &copy; {{ $year }} {{ site.Copyright }}
          </p>
        </div>

        <div class="column is-half has-text-right">
          {{ $numLinks := len $subfooterLinks }}
          {{ $lastLink := sub $numLinks 1 }}
          {{ range $idx, $link := $subfooterLinks }}
          {{ $isLast := eq $idx $lastLink }}
          <a>
            {{ .Name }}
          </a>

          {{ if not $isLast }}
          &nbsp;|&nbsp;
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
</footer>
