{{ $serverMode   := site.IsServer }}
{{ $opts         := dict "targetPath" "js/app.js" }}
{{ $app          := resources.Get "js/app.js" | js.Build $opts }}
{{ if $serverMode }}
<script type="text/javascript" src="{{ $app.RelPermalink }}" defer></script>
{{ else }}
{{ $prodApp := $app | fingerprint }}
<script type="text/javascript" src="{{ $prodApp.RelPermalink }}" integrity="{{ $prodApp.Data.Integrity }}" defer></script>
{{ end }}

{{/* We have a few Ionicons icons scattered throughout */}}
{{ $version := site.Params.ionicons_version }}
<script src="https://unpkg.com/ionicons@{{ $version }}/dist/ionicons.js"></script>