{{ $here := .RelPermalink }}
{{ $menu := site.Menus.navbar }}
<nav
  x-cloak
  x-data="{ open: false, flyout: false }"
  x-on:open-flyout="flyout = !flyout"
  class="z-50 dark:bg-dark dark:border-gray-700 border-b">

  <div class="max-w-3xl md:max-w-5xl lg:max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex items-center px-2 lg:px-0">
        <div class="flex-shrink-0">
          <a href="{{ site.BaseURL }}">
            <div x-show="$store.global.isDark()">
              {{ partial "svg.html" (dict "src" "/img/logos/vector-logo-light.svg" "h" "auto" "w" 32) }}
            </div>

            <div x-show="$store.global.isLight()">
              {{ partial "svg.html" (dict "src" "/img/logos/vector-logo-dark.svg" "h" "auto" "w" 32) }}
            </div>
          </a>
        </div>
        <div class="hidden lg:block lg:ml-6">
          <div class="flex space-x-4">
            {{ range $menu }}
            {{ $isActive := hasPrefix $here .URL }}
            <a href="{{ .URL }}" class="flex items-center tracking-tight px-2.5 rounded-sm text-normal font-normal">
              <span class="dark:text-gray-300 hover:text-primary-dark dark:hover:text-secondary{{ if $isActive }} dark:text-primary text-secondary{{ end }}">
                {{ .Name }}
              </span>
              {{ if .Params.flyout }}
              <span :class="{ 'transform rotate-180': flyout }" class="cursor-pointer ml-1 dark:text-gray-300 text-black" @mouseover="flyout = true">
                <svg x-show="!flyout" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                </svg>

                <svg x-show="flyout" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6" />
                </svg>
              </span>
              {{ end }}
            </a>
            {{ end }}
          </div>
        </div>
      </div>
      <div class="flex-1 flex items-center justify-center px-2 lg:ml-6 lg:justify-end">
        {{/* Dark mode toggler */}}
        <div class="lg:mr-5 md:mr-4 mr-2.5 pt-0.5">
          {{ partial "toggler.html" . }}
        </div>

        {{/* Search bar */}}
        <div class="max-w-lg w-full lg:max-w-xs">
          <label for="search" class="sr-only">Search</label>
          <div class="relative">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              {{/* Heroicon name: solid/search */}}
              <svg class="dark:text-gray-400 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
              </svg>
            </div>
            <input id="search" name="search" class="dark:bg-gray-700 dark:text-gray-400 bg-gray-200 text-gray-800 block w-full pl-10 pr-3 border border-transparent rounded-md leading-5 placeholder-gray-400 focus:outline-none focus:bg-white focus:border-white focus:ring-white focus:text-gray-900 sm:text-sm" placeholder="Search" type="search">
          </div>
        </div>
      </div>

      {{/* Social icons */}}
      <div class="flex space-x-3.5 md:order-2 text-lg pt-1.5 ml-2 lg:ml-4 md:ml-3 lg:block">
        {{ partial "social-buttons.html" (dict "color" true) }}
      </div>

      {{/* Mobile dropdown toggle */}}
      <div class="flex lg:hidden">
        <button @click="open = !open" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">
            Open navbar dropdown menu
          </span>

          {{/* Heroicon name: outline/menu-alt-3 */}}
          <svg x-show="!open" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
          </svg>

          {{/* Heroicon name: outline/x */}}
          <svg x-show="open" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  {{/* Mobile menu */}}
  <div x-show="open" @click.away="open = false" class="z-10 dark:shadow-none dark:bg-gray-900 bg-white lg:hidden absolute w-full shadow" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1">
      {{ range $menu }}
      {{ $isActive := hasPrefix $here .URL }}
      <a href="{{ .URL }}" class="block px-3 rounded-md text-base font-medium{{ if $isActive }} dark:bg-gray-700 bg-gray-900 text-white{{ else }} dark:text-gray-300 dark:hover:bg-gray-600 hover:bg-gray-700 text-gray-500 hover:text-white{{ end }}">
        {{ .Name }}
      </a>
      {{ end }}
    </div>

    <div class="flex space-x-4 text-lg lg:hidden px-5 mb-2 mt-3.5">
      {{ partial "social-buttons.html" (dict "color" true) }}
    </div>
  </div>

  {{/* Docs flyout menu */}}
  {{ partial "flyout-menu.html" . }}
</nav>