{{ define "telemetry_output" }}
{{ range $k, $v := . }}
<div class="py-3 px-5">
  <span class="flex justify-between items-center">
    <span class="font-mono font-bold text-dark dark:text-gray-200">
      {{ partial "heading.html" (dict "text" $k "level" 4) }}
    </span>

    {{ with $v.type }}
    {{ partial "badge.html" (dict "word" $v.type "color" "gray") }}
    {{ end }}
  </span>

    {{ with $v.description }}
    <div class="my-3 prose dark:prose-dark max-w-none">
        {{ . | markdownify }}
    </div>
    {{ end }}

    {{ with $v.tags }}
    <div class="mt-3 border rounded dark:border-gray-700">
        <div class="flex flex-col divide-y dark:divide-gray-700">
            {{ range $k, $v := . }}
            <div class="py-2.5 px-4">
                <span class="flex justify-between items-center">
                  <span class="font-mono font-semibold">
                    {{ $k }}
                  </span>

                  <span>
                    {{ if not $v.required }}
                    {{ partial "badge.html" (dict "word" "optional" "color" "blue") }}
                    {{ end }}
                  </span>
                </span>

                {{ with $v.description }}
                <div class="prose dark:prose-dark">
                    {{ . | markdownify }}
                </div>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
    {{ end }}
</div>
{{ end }}
{{ end }}
