name: Bors Null Test Suite

## This workflow runs for Bors-managed PRs that don't need the full test suite.

on:
  push:
    branches:
      - staging
      - trying
    paths-ignore:
      - ".github/workflows/bors.yml"
      - "lib/**"
      - "proto/**"
      - "scripts/**"
      - "skaffold/**"
      - "src/**"
      - "tests/**"
      - "build.rs"
      - "Cargo.lock"
      - "Cargo.toml"
      - "docker-compose.yml"
      - "Makefile"
      - "rust-toolchain"

env:
  VERBOSE: true
  CI: true

jobs:
  cancel-previous:
    name: Cancel redundant jobs
    runs-on: ubuntu-20.04
    timeout-minutes: 3
    if: github.ref != 'refs/heads/master'
    steps:
      - uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}

  ci-success:
    name: ci
    if: github.event_name == 'push' && success()
    runs-on: ubuntu-latest
    steps:
      - name: Mark the job as a success
        run: exit 0

  ci-failure:
    name: ci
    if: github.event_name == 'push' && !success()
    runs-on: ubuntu-latest
    steps:
      - name: Mark the job as a failure
        run: exit 1
