name: Cancel

on: [push]

jobs:
  cancel:
    name: "Cancel Previous Runs"
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: styfle/cancel-workflow-action@0.3.1
        with:
          workflow_id: 479426
          access_token: ${{ secrets.GITHUB_TOKEN }}
