name: CLI - Linux

on:
  workflow_call:
    inputs:
      ref:
        description: 'Git ref to checkout'
        required: false
        type: string

permissions:
  contents: read

jobs:
  test-cli:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ inputs.ref }}
      - uses: ./.github/actions/setup
        with:
          rust: true
          cargo-nextest: true
          protoc: true
          datadog-ci: true
      - run: make test-cli
      - name: Upload test results
        run: scripts/upload-test-results.sh
        if: always()
