name: CLI - Linux

on:
  workflow_call:
    inputs:
      ref:
        description: 'Git ref to checkout'
        required: false
        type: string

permissions:
  contents: read

jobs:
  test-cli:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ inputs.ref }}
      - uses: ./.github/actions/setup
        with:
          rust: true
          cargo-nextest: true
          datadog-ci: true
      - run: make test-cli
      - name: Upload test results
        run: scripts/upload-test-results.sh
        if: always()
