name: CLI - Linux

on:
  workflow_call:

permissions:
  statuses: write

jobs:
  test-cli:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    env:
      CARGO_INCREMENTAL: 0
    steps:
      - name: (PR review) Set latest commit status as pending
        if: ${{ github.event_name == 'pull_request_review' }}
        uses: myrotvorets/set-commit-status-action@3730c0a348a2ace3c110851bed53331bc6406e9f # v2.0.1
        with:
          sha: ${{ github.event.review.commit_id }}
          token: ${{ secrets.GITHUB_TOKEN }}
          context: CLI - Linux
          status: pending

      - name: (PR review) Checkout review SHA
        if: ${{ github.event_name == 'pull_request_review' }}
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.review.commit_id }}

      - name: Checkout branch
        if: ${{ github.event_name != 'pull_request_review' }}
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Cache Cargo registry + index
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - run: sudo -E bash scripts/environment/bootstrap-ubuntu-24.04.sh
      - run: bash scripts/environment/prepare.sh --modules=cargo-nextest,datadog-ci
      - run: echo "::add-matcher::.github/matchers/rust.json"
      - run: make test-cli
      - name: Upload test results
        run: scripts/upload-test-results.sh
        if: always()

      - name: (PR review) Set latest commit status as ${{ job.status }}
        uses: myrotvorets/set-commit-status-action@3730c0a348a2ace3c110851bed53331bc6406e9f # v2.0.1
        if: always() && github.event_name == 'pull_request_review'
        with:
          sha: ${{ github.event.review.commit_id }}
          token: ${{ secrets.GITHUB_TOKEN }}
          context: CLI - Linux
          status: ${{ job.status }}
