# Component Features - Linux
#
# Validates that each component feature compiles
#
# Runs on:
#  - scheduled 10:00 UTC Monday (6 AM EST / 5 AM EDT NYC)
#  - on PR review (see comment-trigger.yml)
#  - on demand from github actions UI

name: Component Features - Linux

on:
  workflow_call:
    inputs:
      ref:
        description: 'Git ref to checkout'
        required: false
        type: string
  workflow_dispatch:
    inputs:
      ref:
        description: 'Git ref to checkout'
        required: false
        type: string
  schedule:
    - cron: '0 10 * * 1' # 10:00 UTC Monday (6 AM EST NYC)

permissions:
  contents: read

jobs:
  check-component-features:
    # use free tier on schedule and 8 core to expedite results on demand invocation
    runs-on: ${{ github.event_name == 'schedule' && 'ubuntu-24.04' || 'ubuntu-24.04-8core' }}
    timeout-minutes: 180 # Usually takes 2h but this prevents it from hanging for an indefinite time
    steps:
      - name: Checkout branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ inputs.ref }}

      - uses: ./.github/actions/setup
        with:
          rust: true
          cargo-nextest: true
          protoc: true
          libsasl2: true

      - run: make check-component-features
