# Component Features - Linux
#
# Validates that each component feature compiles
#
# Runs on:
#  - scheduled 10:00 UTC Monday (6 AM EST / 5 AM EDT NYC)
#  - on PR review (see comment-trigger.yml)
#  - on demand from github actions UI

name: Component Features - Linux

on:
  workflow_call:
  workflow_dispatch:
  schedule:
    - cron: '0 10 * * 1' # 10:00 UTC Monday (6 AM EST NYC)

permissions:
  statuses: write

jobs:
  check-component-features:
    # use free tier on schedule and 8 core to expedite results on demand invocation
    runs-on: ${{ github.event_name == 'schedule' && 'ubuntu-24.04' || 'ubuntu-24.04-8core' }}
    timeout-minutes: 180 # Usually takes 2h but this prevents it from hanging for an indefinite time
    if: github.event_name == 'pull_request_review' || github.event_name == 'workflow_dispatch' || github.event_name == 'schedule'
    steps:
      - name: (PR review) Set latest commit status as pending
        if: github.event_name == 'pull_request_review'
        uses: myrotvorets/set-commit-status-action@3730c0a348a2ace3c110851bed53331bc6406e9f # v2.0.1
        with:
          sha: ${{ github.event.review.commit_id }}
          token: ${{ secrets.GITHUB_TOKEN }}
          context: Component Features - Linux
          status: pending

      - name: (PR review) Checkout PR branch
        if: github.event_name == 'pull_request_review'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.review.commit_id }}

      - name: Checkout branch
        if: github.event_name != 'pull_request_review'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - run: sudo -E bash scripts/environment/bootstrap-ubuntu-24.04.sh
      - run: bash scripts/environment/prepare.sh --modules=rustup
      - run: echo "::add-matcher::.github/matchers/rust.json"
      - run: make check-component-features

      - name: (PR review) Set latest commit status as ${{ job.status }}
        if: always() && github.event_name == 'pull_request_review'
        uses: myrotvorets/set-commit-status-action@3730c0a348a2ace3c110851bed53331bc6406e9f # v2.0.1
        with:
          sha: ${{ github.event.review.commit_id }}
          token: ${{ secrets.GITHUB_TOKEN }}
          context: Component Features - Linux
          status: ${{ job.status }}
