# Deny - Linux
#
# Checks for security vulnerabilities or license incompatibilities
#
# Runs on:
#  - scheduled UTC midnight
#  - on PR review (see comment-trigger.yml)
#  - on demand from github actions UI
#  - on pull requests when Cargo.toml or Cargo.lock files change

name: Deny - Linux

on:
  workflow_call:
  workflow_dispatch:
  pull_request:
  schedule:
    # Same schedule as nightly.yml
    - cron: "0 5 * * 2-6"  # Runs at 5:00 AM UTC, Tuesday through Saturday

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  statuses: write

jobs:
  changes:
    if: ${{ github.event_name == 'pull_request' }}
    uses: ./.github/workflows/changes.yml
    secrets: inherit

  test-deny:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    if: ${{ always() && (github.event_name != 'pull_request' || needs.changes.outputs.deny == 'true') }}
    needs: [changes]
    env:
      CARGO_INCREMENTAL: 0
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: ./.github/actions/setup
        with:
          mold: false
          cargo-deny: true

      - name: Check cargo deny advisories/licenses
        run: make check-deny
