name: Environment Suite

on:
  pull_request: {}
  push:
    branches:
      - master
  workflow_dispatch:

env:
  VERBOSE: true
  CI: true

jobs:
  publish-new-environment:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1.2.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1.6.0
      - name: Login to DockerHub
        uses: docker/login-action@v1.12.0
        if: github.ref == 'refs/heads/master'
        with:
          username: ${{ secrets.CI_DOCKER_USERNAME }}
          password: ${{ secrets.CI_DOCKER_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v2.8.0
        with:
          context: .
          file: ./scripts/environment/Dockerfile
          push: ${{ github.ref == 'refs/heads/master' }}
          tags: timberio/ci_image:latest
