name: Environment Suite

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  VERBOSE: true
  ENVIRONMENT_UPSTREAM: docker.pkg.github.com/timberio/vector/environment:${{ github.sha }}
  CI: true

jobs:
  publish-new-environment:
    runs-on: ubuntu-latest
    env:
      ENVIRONMENT_AUTOBUILD: true
    steps:
      - run: |
          docker login https://docker.pkg.github.com -u ${{ github.actor }} -p ${{ secrets.GITHUB_TOKEN }}
          docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD"
      - uses: actions/checkout@v2
      - run: make ci-sweep
      - name: prepare environment
        run: make environment-prepare
      - name: push image
        if: github.event_name != 'workflow_dispatch'
        run: |
          docker push docker.pkg.github.com/timberio/vector/environment:${{ github.sha }}
          docker tag $ENVIRONMENT_UPSTREAM timberio/ci_image
          docker push timberio/ci_image
