name: Lint Suite

on:
  push:
    branches:
      - master
  pull_request: {}

env:
  AWS_ACCESS_KEY_ID: "dummy"
  AWS_SECRET_ACCESS_KEY: "dummy"
  CONTAINER_TOOL: "docker"
  RUST_BACKTRACE: full
  TEST_LOG: vector=debug
  VERBOSE: true

jobs:
  cancel-previous:
    name: Cancel redundant jobs
    runs-on: ubuntu-20.04
    timeout-minutes: 3
    if: github.ref != 'refs/heads/master'
    steps:
      - uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}

  checks:
    name: Checks
    runs-on: ubuntu-20.04
    container:
      image: timberio/ci_image
    if: |
      !contains(github.event.pull_request.labels.*.name, 'ci-condition: skip')
    steps:
      - uses: actions/checkout@v2
        with:
          # check-version needs tags
          fetch-depth: 0 # fetch everything
      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - run: echo "::add-matcher::.github/matchers/rust.json"
      - run: make slim-builds
      - run: make check-markdown
      - run: make check-meta
      - run: make check-fmt
      - run: make check-clippy
      - run: make check-version
      - run: make check-scripts
      - run: make check-helm
      - run: make check-kubernetes-yaml
      - run: make check-internal-events
      - uses: EmbarkStudios/cargo-deny-action@v1
        with:
          command: check advisories
