name: Check minimum supported Rust version (MSRV)

on:
  workflow_call:
  workflow_dispatch:
    inputs:
      checkout_ref:
        description: "Git ref (branch, tag or SHA) to check out"
        required: false
        type: string

env:
  RUST_BACKTRACE: full
  CI: true
  PROFILE: debug
  # observing issues fetching boringssl via HTTPS in the OSX build, seeing if this helps
  # can be removed when we switch back to the upstream openssl-sys crate
  CARGO_NET_GIT_FETCH_WITH_CLI: true

jobs:
  check-msrv:
    runs-on: ubuntu-24.04
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.checkout_ref }}
      - run: sudo -E bash scripts/environment/bootstrap-ubuntu-24.04.sh
      - run: |
          # We usually run `scripts/environment/prepare.sh` but in this case we only need the toolchain.
          rustup show active-toolchain || rustup toolchain install
      - run: cargo install cargo-msrv --version 0.15.1
      - run: cargo msrv verify
