name: Protobuf Compatibility

on:
  pull_request:
    paths:
        - "proto/**"
        - "lib/vector-core/proto/**"
  merge_group:
    types: [checks_requested]

concurrency:
    # `github.ref` is unique for MQ runs and PRs
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
  validate-protos:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      # Run `git checkout`
      - uses: actions/checkout@v3
      # Install the `buf` CLI
      - uses: bufbuild/buf-setup-action@v1.43.0
      # Perform breaking change detection against the `master` branch
      - uses: bufbuild/buf-breaking-action@v1.1.4
        with:
          against: "https://github.com/vectordotdev/vector.git#branch=master"
