name: Unit - Windows

on:
  workflow_call:
    inputs:
      ref:
        description: 'Git ref to checkout'
        required: false
        type: string


permissions:
  contents: read

jobs:
  test-windows:
    runs-on: windows-2025-8core
    timeout-minutes: 60
    steps:
      - name: Checkout branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ inputs.ref }}

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.10"
      - run: .\scripts\environment\bootstrap-windows-2025.ps1
      - run: make test
