name: Unit - Windows

on:
  workflow_call:

jobs:

  test-windows:
    runs-on: windows-2019-8core
    timeout-minutes: 60
    steps:
      - name: (PR review) Set latest commit status as pending
        if: ${{ github.event_name == 'pull_request_review' }}
        uses: myrotvorets/set-commit-status-action@v2.0.1
        with:
          sha: ${{ github.event.review.commit_id }}
          token: ${{ secrets.GITHUB_TOKEN }}
          context: Unit - Windows
          status: pending

      - name: (PR review) Checkout PR branch
        if: ${{ github.event_name == 'pull_request_review' }}
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.review.commit_id }}

      - name: Checkout branch
        if: ${{ github.event_name != 'pull_request_review' }}
        uses: actions/checkout@v3

      - run: .\scripts\environment\bootstrap-windows-2019.ps1
      - run: make test

      - name: (PR review) Set latest commit status as ${{ job.status }}
        uses: myrotvorets/set-commit-status-action@v2.0.1
        if: always() && github.event_name == 'pull_request_review'
        with:
          sha: ${{ github.event.review.commit_id }}
          token: ${{ secrets.GITHUB_TOKEN }}
          context: Unit - Windows
          status: ${{ job.status }}
