[<%= type.pluralize %>.<%= name %>.options.type]
type = "string"
common = true
required = true
description = """\
The component type. This is a required field that tells Vector which component \
to use. The value _must_ be `#{name}`.\
"""

[<%= type.pluralize %>.<%= name %>.options.type.enum]
<%= name %> = "The name of this component"

<%- if type != "source" %>
[<%= type.pluralize %>.<%= name %>.options.inputs]
type = "[string]"
common = true
examples = [["my-source-id"]]
required = true
description = """\
A list of upstream [source][docs.sources] or [transform][docs.transforms] IDs. \
See [configuration][docs.configuration] for more info.\
"""
<%- end -%>

<%- if type == "sink" %>
[<%= type.pluralize %>.<%= name %>.options.healthcheck]
type = "bool"
common = true
default = true
required = false
description = "Enables/disables the sink healthcheck upon start."
<%- end -%>
