{{ define "title" }}
{{ .Title }} | {{ site.Title }}
{{ end }}

{{ define "main" }}
{{ $date := .Date | dateFormat "January 2, 2006" }}
<div class="relative max-w-3xl lg:max-w-5xl mx-auto px-6 lg:px-8 lg:grid lg:grid-cols-5 lg:gap-8 mt-16">
  <main aria-label="Main guide content" class="lg:col-span-4 md:px-0 pb-32">
    {{ partial "blog/content.html" . }}
  </main>

  <div class="hidden lg:block xl:col-span-1">
    <aside aria-label="Table of contents" class="sticky top-6">
      {{ partial "toc.html" . }}
    </aside>
  </div>
</div>
{{ end }}

{{ define "below" }}
{{ partial "blog/pagination.html" . }}
{{ end }}